
<div class="col s12 l4" id="prez">
    <div class="card">
        <div class="card-content" id="prez_content">
            <h5 id="about_title">À propos</h5>
            <p>Journaliste freelance en presse écrite, je suis également un cursus de développement Web à l’école 42. Lors de mes études à l’Ecole de journalisme de Sciences Po et dans les mois qui ont suivi, je me suis spécialisée dans l'actualité politique (à Paris Match) et internationale (à RFI). J’ai également travaillé comme chef d'édition pour le Snapchat Discover de L'Équipe.</p>
            <p>Pigiste chez RFI et Usbek&Rica, je recherche d’autres opportunités professionnelles pour élargir mon champ de compétences.</p>
        </div>
    </div>
</div>