
<div class="col s12 l4" id="prez">
    <div class="card">
        <div class="card-content" id="prez_content">
            <h5 id="about_title">À propos</h5>
            <p>Journaliste freelance en presse écrite, je suis également un cursus de développement Web à l’école 42. Lors de mes études à l’Ecole de journalisme de Sciences Po et dans les mois qui ont suivi, je me suis spécialisée dans l'actualité politique (à Paris Match) et internationale (à RFI). J’ai également exercé comme chef d'édition pour le Snapchat Discover de L'Équipe.</p>
            <p>Je travaille aujourd'hui dans le journalisme prospectif, à Usbek&Rica, et à Madame Figaro où je rédige des portraits pour la rubrique "Les femmes du temps".</p>
        </div>
    </div>
</div>