<footer class="header_footer" id="footer">
    <div class="container">
        <div class="row">
            <div class="valign-wrapper">
                <span class="valign-wrapper">© 2017 coded with <i class="tiny material-icons">favorite</i> by myself</span>
            </div>
        </div>
    </div>
</footer>
