<nav>
    <div class="nav-wrapper">
        <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">&times;</a>
          <a href="https://www.linkedin.com/in/marine-jeannin-b7520a9b/">Marine Jeannin</a>
          <a>06 62 70 23 15</a>
          <a>marinejeannin.work@gmail.com</a>
          <a href="https://twitter.com/Marine_Jeannin">@Marine_Jeannin_</a>
          <a>Carte de presse n°127 728</a>
        </div>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li id="li-de-maggle">
                <span onclick="toggleNav()">
                    <img src="../../public/img/maggle.png" id="maggle">
                </span>
            </li>
        </ul>
    </div>
</nav>