<div class="header">
    <span></span>
</div>
<div class="hidden-side-background">
</div>

<div class="main">
    <div class="side">
        <nav class="dr-menu">
            <div class="dr-trigger"><span class="dr-icon dr-icon-menu"></span><a class="dr-label">Portraits</a></div>
            <ul>
                <li><a class="dr-icon" id="link-paul">Paul</a></li>
                <li><a class="dr-icon" id="link-jossy">Jossy</a></li>
                <li><a class="dr-icon" id="link-elliot">Elliot</a></li>
                <li><a class="dr-icon" id="link-hana">Hana</a></li>
                <li><a class="dr-icon" id="link-kevin">Kévin</a></li>
                <li><a class="dr-icon" id="link-alienor">Aliénor</a></li>
                <li><a class="dr-icon" id="link-thanh">Thanh-Quy</a></li>
                <li><a class="dr-icon" id="link-damien">Damien</a></li>
            </ul>
        </nav>
    </div>
</div>
</div>



<!--
<ul id="slide-out" class="sidenav">
    <li><div class="user-view">
            <div class="background">
                <img src="images/office.jpg">
            </div>
            <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
            <a href="#name"><span class="white-text name">John Doe</span></a>
            <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
        </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
-->
