<div class=" card large part hoverable" id="part1">
    <div class="card">
            <div class="logo_search">
                <img src="/public/img/logo_lnml.png">
            </div>
            <div class="logo_search">
                <img src="/public/img/logo_bfmtv.png" id="logo_bfmtv">
            </div>
            <div class="logo_search">
                <img src="/public/img/logo_figaro.png">
            </div>
            <div class="logo_search">
                <img src="/public/img/logo_U&R.png">
            </div>
            <div class="logo_search">
                <img src="/public/img/logo_rfi.png" id="logo_rfi">
            </div>
            <div class="logo_search">
                <img src="/public/img/logo_pm.png" id="logo_pm">
            </div>
    </div>
</div>