<div class=" card large part hoverable" id="part1">
    <div class="card">
            <div class="logo_search">
                <img src="/public/img/logo_lnml.png" class="cv_logo">
            </div>
            <div class="logo_search">
                <img src="/public/img/logo_bfmtv.png" class="cv_logo">
            </div>
            <div class="logo_search">
                <img src="/public/img/logo_figaro.png" class="cv_logo">
            </div>
            <div class="logo_search">
                <img src="/public/img/logo_U&R.png" class="cv_logo">
            </div>
            <div class="logo_search">
                <img src="/public/img/logo_rfi.png" class="cv_logo">
            </div>
            <div class="logo_search">
                <img src="/public/img/logo_pm.png" class="cv_logo">
            </div>
    </div>
</div>