<div class="element card large card-panel part col s6">
    <div class="">
        <a target="_blank"
           href="http://www.parismatch.com/Actu/Politique/De-la-politique-aux-medias-l-autre-mercato-1044730">
            <div class="col s6 l6">
                <div class="card large card-panel hoverable">
                    <div class="card-image">
                        <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/de-la-politique-aux-medias-l-autre-mercato-1044730/14811658-1-fre-FR/De-la-politique-aux-medias-l-autre-mercato.jpg">
                        <span class="card-title">POLITIQUE</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title">De la politique aux médias, l’autre mercato</span>
                        <p class="chapo">Les politiques sont de plus en plus nombreux à se tourner vers la télévision ou la radio. Roselyne Bachelot, l'une des pionnières du genre, estime que travailler dans les médias «est très valorisant».</p>
                    </div>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/De-la-politique-aux-medias-l-autre-mercato-1044730">Paris Match</a>
                    </div>
                </div>
            </div>
        </a>
        <a target="_blank" href="http://www.parismatch.com/Actu/Politique/La-Manif-pour-tous-entend-peser-sur-la-primaire-de-la-droite-1036768">
            <div class="col s6 l6">
                <div class="card large card-panel hoverable">
                    <div class="card-image">
                        <img src="http://resize1-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/la-manif-pour-tous-entend-peser-sur-la-primaire-de-la-droite-1036768/14712187-1-fre-FR/La-Manif-pour-tous-entend-peser-sur-la-primaire-de-la-droite.jpg">
                        <span class="card-title">POLITIQUE</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title">La Manif pour tous entend peser sur la primaire de la droite</span>
                        <p>Le mouvement La Manif pour tous a appelé mercredi à une manifestation le 16 octobre pour défendre la famille «à nouveau menacée». En jeu: combattre la gestation pour autrui (GPA) et la procréation médicalement assistée (PMA). Un mois avant les primaires Républicaines, les candidats de la droite vont devoir prendre position.</p>
                    </div>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/La-Manif-pour-tous-entend-peser-sur-la-primaire-de-la-droite-1036768">Paris Match</a>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>