<div class="element card large card-panel part">
        <a target="_blank"
           href="http://www.parismatch.com/Actu/Politique/De-la-politique-aux-medias-l-autre-mercato-1044730">
                <div class="card large card-panel hoverable">
                    <div class="card-image">
                        <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/de-la-politique-aux-medias-l-autre-mercato-1044730/14811658-1-fre-FR/De-la-politique-aux-medias-l-autre-mercato.jpg">
                        <span class="card-title" id="jrub"></span>
                    </div>
                    <div class="card-content">
                        <span class="card-title" id="jtitle"></span>
                        <p class="chapo" id="jchapo"></p>
                    </div>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/De-la-politique-aux-medias-l-autre-mercato-1044730" id="jmedia"></a>
                    </div>
        </a>
    </div>
</div>