<div class=" card large part hoverable" id="part1">
    <div class="card">
        <div id="conteneur">
            <div class="">
                <img src="/public/img/logo_bfmtv.png" class="cv_logo">
            </div>
            <div class="">
                <img src="/public/img/logo_bfmtv.png" class="cv_logo">
            </div>
            <div class="">
                <img src="/public/img/logo_figaro.png" class="cv_logo">
            </div>
            <div class="">
                <img src="/public/img/logo_usbek.png" class="cv_logo">
            </div>
            <div class="">
                <img src="/public/img/logo_rfi.png" class="cv_logo">
            </div>
            <div class="">
                <img src="/public/img/logo_pm.png" class="cv_logo">
            </div>
        </div>
    </div>
</div>