<div class="side-panel element card large card-panel hoverable part" id="part3">
    <a class="twitter-timeline" href="https://twitter.com/marinejea1?ref_src=twsrc%5Etfw"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>