<div class="element card large part hoverable col s3" id="part1">
    <div class="card">
        <div id="conteneur">
            <div class="element">
                <img src="/public/img/logo_bfmtv.png" class="cv_logo">
            </div>
            <div class="element">
                <img src="/public/img/logo_bfmtv.png" class="cv_logo">
            </div>
            <div class="element">
                <img src="/public/img/logo_figaro.png" class="cv_logo">
            </div>
            <div class="element">
                <img src="/public/img/logo_usbek.png" class="cv_logo">
            </div>
            <div class="element">
                <img src="/public/img/logo_rfi.png" class="cv_logo">
            </div>
            <div class="element">
                <img src="/public/img/logo_pm.png" class="cv_logo">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <p>Articles recommandés</p>
        </div>
    </div>
</div>