<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>CV</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../public/css/materialize.min.css" media="screen,projection">
        <link rel="stylesheet" href="../public/css/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <% include ./partials/header.ejs %>
        <div class="container">
            <div class="row">

                <div class="col s12">
                    <div class="card large" id="cv_prez" >
                        <div class="card-content">
                            <span class="card-title">Marine Jeannin</span>
                            <div class="col m8 s6">
                                <div id="cv_title">
                                    <div id="cv_title">
                                        Journaliste, presse écrite et Web</br>
                                        Carte de presse n°127 728
                                    </div>
                                </div>
                                <div id="cv_prez2">
                                    13/04/1995 (22 ans)
                                </div>
                                <div>
                                    68 rue Vauvenargues, 75018 Paris</br>
                                    marine.jeannin@sciencespo.fr</br>
                                    @marinejea1</br>
                                    +33 (0)6 62 70 23 15
                                </div>
                            </div>
                            <div class="col m4 s6">
                                <img class="responsive-img" src="/public/img/portrait.png" id="cv_pic">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s12 l4">
                    <div class="card taille">
                        <div class="card-content">
                            <span class="card-title">Compétences</span>
                            <div>
                                <p><strong>Permis B</strong></p>
                                <p><strong>Langages informatiques :</strong></br>
                                    <ul>
                                        <li>Node.js, JavaScript</li>
                                        <li>HTML5</li>
                                        <li>CSS</li>
                                        <li>SQL</li>
                                        <li>PHP</li>
                                        <li>C (notions)</li>
                                    </ul>
                                </p>
                                <p><strong>Anglais C1 (7/9 à l'IELTS)</strong></br>
                                    Allemand élémentaire</p>
                                <p><strong>Reportage mobile et livetweet</strong></p>
                                <p>Montage son et image (suite Adobe)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 l8">
                    <div class="card taille">
                        <div class="card-content">
                            <span class="card-title">Expériences professionnelles et publications</span>
                                <div class="col s8 para">
                                    <strong>Usbek & Rica</strong></br>
                                    Collaboratrice pigiste pour "Les Arpenteurs" depuis mai 2017
                                </div>
                                <div class="col s4">
                                    <img src="/public/img/logo_usbek.png" alt="" class="cv_logo">
                                </div>
                                <div class="col s8 para">
                                    <strong>Upian / L'Équipe</strong></br>
                                    Chef d'édition en août et septembre 2017</br>
                                    En charge de l'édition quotidienne de L'Équipe sur Snapchat Discover
                                </div>
                                <div class="col s4">
                                    <img src="/public/img/logo_upian.png" alt="" class="cv_logo" id="small_logo">
                                </div>
                                <div class="col s8 para">
                                    <strong>RFI</strong></br>
                                    Journaliste à la rédaction Web en juillet 2017</br>
                                    Rédaction d'articles pour les pôles Contenu et Actualité</br>
                                    Contribution à RFI Musique
                                </div>
                                <div class="col s4">
                                    <img src="/public/img/logo_rfi.png" alt="" class="cv_logo" id="medium_logo">
                                </div>
                                <div class="col s8 para">
                                    <strong>Paris Match</strong></br>
                                    Apprentie journaliste politique au service Web de septembre 2016 à juin 2017</br>
                                    Collaboration au projet data "Le Poids des Mots"
                                </div>
                                <div class="col s4">
                                    <img src="/public/img/logo_pm.png" alt="" class="cv_logo" id="medium_logo">
                                </div>
                                <div class="col s8 para">
                                    <strong>Néon Magazine</strong></br>
                                    "De ma ZEP à Sciences Po", reportage long format sur les CEP, octobre 2016
                                </div>
                                <div class="col s4">
                                    <img src="/public/img/logo_neon.jpg" alt="" class="cv_logo" id="tiny_logo">
                                </div>
                        </div>
                    </div>
                </div>

                <div class="col s12 l4">
                    <div class="card large">
                        <div class="card-content">
                            <span class="card-title">Divers</span>
                            <div>
                                <p>Professeur particulier indépendant puis en agence, de 2011 à 2016</p>
                                <p>Bénévolat à Sciences Po Refugee Help : cours de français à destination de réfugiés</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 l8">
                    <div class="card large">
                        <div class="card-content">
                            <span class="card-title">Stages</span>
                            <div>
                                <div class="col s8">
                                    <strong>Paris Match</strong></br>
                                    Stage au service Politique (print) en août 2016
                                </div>
                                <div class="col s4">
                                    <img src="/public/img/logo_pm.png" alt="" class="cv_logo" id="medium_logo">
                                </div>
                                <div class="col s8">
                                    <strong>France Télévisions</strong></br>
                                    Veilles de nuit
                                </div>
                                <div class="col s4">
                                    <img src="/public/img/logo_ftv.jpg" alt="" class="cv_logo">
                                </div>
                                <div class="col s8">
                                    <strong>MyRock</strong>, magazine musical</br>
                                    Stage de rédactrice en juin 2016</br>
                                    Rédaction de chroniques, interviews et reportages
                                </div>
                                <div class="col s4">
                                    <img src="/public/img/logo_myrock.jpg" alt="" class="cv_logo">
                                </div>
                                <div class="col s8">
                                    <strong>France Télévisions</strong></br>
                                    Stage d'observation au service JRI de France 3 en mai 2015
                                </div>
                                <div class="col s4">
                                    <img src="/public/img/logo_ftv.jpg" alt="" class="cv_logo">
                                </div>
                                <div class="col s8">
                                    <strong>Le Figaro</strong></br>
                                    Stage d'observation auprès du grand reporter Dominique Rizet en octobre 2010
                                </div>
                                <div class="col s4">
                                    <img src="/public/img/logo_figaro.png" alt="" class="cv_logo" id="small_logo">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s12 l1">
                    <div class="card large" style="display: none">
                        <div class="card-content">
                            <span class="card-title"></span>
                            <div></div>
                        </div>
                    </div>
                </div>
                <div class="col s12 l9 offset-l2">
                    <div class="card large" id="card_formation">
                        <div class="card-content">
                            <span class="card-title">Formation</span>
                            <div>
                                <div class="col s8">
                                    <strong>42</strong> : 2016-2017</br>
                                    Études d'informatique : développement Web
                                </div>
                                <div class="col s4">
                                    <img src="/public/img/logo_42.svg" alt="" class="cv_logo">
                                </div>
                                <div class="col s8">
                                    <strong>Sciences Po</strong> : 2015-2017</br>
                                    Master de l'École de journalisme
                                </div>
                                <div class="col s4">
                                    <img src="/public/img/logo_scpo.gif" alt="" class="cv_logo" id="medium_logo">
                                </div>
                                <div class="col s8">
                                    <strong>Henri IV</strong> : 2012-2015</br>
                                    Hypokhâgne A/L puis Khâgne Lettres et Sciences humaines (LSH)</br>
                                    Admise sur liste complémentaire à l'ENS de Lyon
                                </div>
                                <div class="col s4">
                                    <img src="/public/img/logo_hiv.jpg" alt="" class="cv_logo">
                                </div>
                                <div class="col s8">
                                    Baccalauréat Littéraire, mention Très bien : 2012
                                </div>
                                <div class="col s4">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% include ./partials/footer.ejs %>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="../public/js/materialize.min.js"></script>
        <script type="text/javascript" src="../public/js/application.js"></script>
    </body>
</html>