<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>CV</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../public/css/materialize.min.css" media="screen,projection">
        <link rel="stylesheet" href="../public/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <% include ./partials/header.ejs %>
        <div class="container">
            <div class="row">
                <div class="col offset-s2 s8">
                    <img src="../public/img/CV.jpg">
                </div>
            </div>
        </div>

        <% include ./partials/footer.ejs %>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="../public/js/materialize.min.js"></script>
        <script type="text/javascript" src="../public/js/application.js"></script>
    </body>
</html>