<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Accueil</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../public/css/materialize.css" media="screen,projection">
        <link rel="stylesheet" href="../public/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <% include ./partials/header.ejs %>

            <div id="conteneur1" class="container">
                <div class="element">
                    <div class="row">
                        <div class="col s12 l8">
                            <div class="card large">
                                <div class="card-image">
                                    <img src="http://scd.rfi.fr/sites/filesrfi/imagecache/rfi_16x9_1024_578/sites/images.rfi.fr/files/aef_image/36244589004_68c4053e79_b_0.jpg">
                                    <span class="card-title">INTERNATIONAL</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title">Jordanie : cultiver le désert ?</span>
                                    <p class="chapo">Le « Sahara Forest Project » a inauguré le 7 septembre sa station de lancement en Jordanie. L’opération, menée conjointement par le gouvernement local, la Norvège et l’Union européenne, cherche à développer une agriculture durable dans cette zone aride.</p>
                                </div>
                                <div class="card-action">
                                    <a class="media blue-text" href="http://www.rfi.fr/moyen-orient/20170909-jordanie-cultiver-desert-agriculture-developpement-durable-sahara-forest-proje">RFI</a>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 l4">
                            <div class="card large">
                                <div class="card-image">
                                    <img src="../public/img/img_cassini.jpg">
                                    <span class="card-title">FUTUR</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title">Le 15/09, la sonde Cassini mourra pour la science</span>
                                    <p>La mission Cassini-Huygens prendra bientôt fin, faute de carburant. La sonde avait quitté la Terre en 1997.</p>
                                </div>
                                <div class="card-action">
                                    <a class="media blue-text" href="https://usbeketrica.com/article/sonde-cassini-saturne-fin-mission">Usbek & Rica</a>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 l5" height="965px">
                            <div class="col s12">
                                <div class="card medium">
                                    <div class="card-image">
                                        <img src="http://lesarpenteurs.fr/wp-content/uploads/2017/09/UsbekRica-Terminator-3-609x316.jpg">
                                        <span class="card-title">FUTUR</span>
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title">Faut-il avoir peur des robots tueurs ?</span>
                                        <p class="chapo">Elon Musk et des spécialistes de l’IA mettent en garde l'ONU contre les dangers de la légalisation des armes autonomes létales.</p>
                                        <div class="card-action">
                                            <a class="media blue-text" href="http://lesarpenteurs.fr/faut-il-avoir-peur-des-robots-tueurs/">Les Arpenteurs (Usbek & Rica)</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="card perso">
                                    <div class="card-image">
                                        <img src="http://lesarpenteurs.fr/wp-content/uploads/2017/07/UsbekRica-Expl-lunaire-1-609x316.jpg">
                                        <span class="card-title">FUTUR</span>
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title">L’industrie minière à la conquête de l’espace</span>
                                        <p class="chapo">Verra-t-on bientôt une colonie minière sur la Lune ? Alléchée par la promesse de ressources extraterrestres inexploitées, l’industrie minière pourrait bien devenir le fer de lance de la conquête spatiale.</p>
                                    </div>
                                    <div class="card-action">
                                        <a class="media blue-text" href="http://lesarpenteurs.fr/faut-il-avoir-peur-des-robots-tueurs/">Les Arpenteurs (Usbek & Rica)</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col l7 s12" height="965px">
                            <div class="card large-large">
                                <div class="card-image">
                                    <img src="../public/img/img_pfe.png">
                                    <span class="card-title">CAMPUS</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title">42, L'école sans prof</span>
                                    <p class="chapo">À 42, personne ou presque n’a plus de 30 ans. Cette école d’informatique fonctionne sans cours, sans
                                        professeurs et sans horaires. Ouverte 24h sur 24 et 7 jours sur 7, elle accueille les étudiants gratuitement et sans
                                        exigence de diplôme - pas même le bac. Reportage sur l'OVNI pédagogique de Xavier Niel.</p>
                                </div>
                                <div class="card-action">
                                    <a class="media blue-text" href="/pfe">Projet de fin d'études</a>
                                </div>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="card large" id="card_dealos">
                                <div class="card-image">
                                    <img src="http://scd.rfi.fr/sites/filesrfi/dynimagecache/0/9/620/350/1024/578/sites/images.rfi.fr/files/aef_image/parojinogs-620x422_0.jpg" id="img_dealos">
                                    <span class="card-title">INTERNATIONAL</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title">Philippines: soupçonné d’être un narcotrafiquant, un maire abattu par la police</span>
                                    <p class="chapo">Un élu local, dénoncé par le président Duterte en 2016 comme narcotrafiquant, a été abattu à son domicile ce dimanche 30 juillet par la police philippine, avec ses gardes du corps et une partie de ses proches. Des armes d’assaut et de la méthamphétamine ont été retrouvées dans les résidences du clan.</p>
                                    <div class="card-action">
                                        <a class="media blue-text" href="http://www.rfi.fr/asie-pacifique/20170730-philippines-narcotrafiquant-maire-abattu-police-drogue-parojinog-duterte-oza">RFI</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="card large" id="card_bangl">
                                <div class="card-image">
                                    <img src="http://scd.rfi.fr/sites/filesrfi/imagecache/rfi_16x9_1024_578/sites/images.rfi.fr/files/aef_image/000_del6246491_0.jpg" id="img_potiron">
                                    <span class="card-title">INTERNATIONAL</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title">Pesticides mortels: le bilan de l’endosulfan s’alourdit au Bangladesh</span>
                                    <p class="chapo">Après la mort de 13 enfants d’une encéphalite aigüe, en juin 2012 au Bangladesh, une première étude avait attribué les décès à une toxine présente dans les litchis. Une contre-enquête de scientifiques bangladais et américains, publiée le 24 juillet 2017, pointe la responsabilité de l’endosulfan, un pesticide ayant déjà causé des centaines de morts dans la région.</p>
                                    <div class="card-action">
                                        <a class="media blue-text" href="http://www.rfi.fr/asie-pacifique/20170728-morts-liees-pesticides-le-bilan-endosulfan-s-alourdit-bangladesh-environneme">RFI</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 l4">
                            <div class="card large">
                                <div class="card-image">
                                    <img src="../public/img/img_jo.jpg">
                                    <span class="card-title">FUTUR</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title">Quel futur pour les Jeux Olympiques ?</span>
                                    <p class="chapo">Trop cher, pas assez rentable, néfaste pour l’environnement : les Jeux Olympiques commencent à sentir le vent tourner. Nicolas Bancel, historien du sport et professeur à l’Institut des sciences du sport de l’Université de Lausanne, répond à nos questions sur l'avenir de la reine des compétitions sportives.</p>
                                </div>
                                <div class="card-action">
                                    <a class="media blue-text" href="http://lesarpenteurs.fr/quel-futur-pour-les-jeux-olympiques/">Les Arpenteurs (Usbek&Rica)</a>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 l8">
                            <div class="card large">
                                <div class="card-image">
                                    <img src="http://scd.rfi.fr/sites/filesrfi/dynimagecache/0/890/1513/854/1024/578/sites/images.rfi.fr/files/aef_image/000_hkg2004021700907_0.jpg">
                                    <span class="card-title">INTERNATIONAL</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title">Inde: Phoolan Devi, la saga de la «Reine des bandits»</span>
                                    <p>En 38 ans, Phoolan Devi aura tout connu : la misère des basses castes indiennes, la maltraitance et les viols, le grand banditisme, la prison - et la reconnaissance, enfin, lorsqu’elle obtient un siège de députée au Parlement. La «Reine des bandits» est morte assassinée il y a 16 ans, le 25 juillet 2001. Mais l’Inde ne l’oublie pas.</p>
                                </div>
                                <div class="card-action">
                                    <a class="media blue-text" href="http://www.rfi.fr/hebdo/20170728-inde-il-y-16-ans-phoolan-devi-reine-bandits-etait-assassinee">RFI</a>
                                </div>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="card large" id="card_dealos">
                                <div class="card-image">
                                    <img src="http://scd.rfi.fr/sites/filesrfi/imagecache/rfi_16x9_1024_578/sites/images.rfi.fr/files/aef_image/2017-07-14t110046z_133992748_rc15d5e194d0_rtrmadp_3_yemen-cholera-saudi_0.jpg" id="img_dealos">
                                    <span class="card-title">INTERNATIONAL</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title">Épidémie de choléra au Yémen: les ONG inquiètes avant la saison humide</span>
                                    <p class="chapo">Un élu local, dénoncé par le président Duterte en 2016 comme narcotrafiquant, a été abattu à son domicile ce dimanche 30 juillet par la police philippine, avec ses gardes du corps et une partie de ses proches. Des armes d’assaut et de la méthamphétamine ont été retrouvées dans les résidences du clan.</p>
                                    <div class="card-action">
                                        <a class="media blue-text" href="http://www.rfi.fr/moyen-orient/20170722-yemen-epidemie-cholera-saison-humide-guerre-famine-msf">RFI</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="card large" id="card_dealos">
                                <div class="card-image">
                                    <img src="http://scd.rfi.fr/sites/filesrfi/imagecache/rfi_16x9_1024_578/sites/images.rfi.fr/files/aef_image/2017-07-05t105335z_1918438665_rc114a701f40_rtrmadp_3_fgv-management-sale_0.jpg" id="img_dealos">
                                    <span class="card-title">INTERNATIONAL</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title">Huile de palme: bras de fer entre la France et la Malaisie</span>
                                    <p class="chapo">Depuis que Nicolas Hulot, le ministre français de la Transition écologique, a annoncé vouloir réduire l’importation d’huile de palme non durable, la Malaisie, l'un des principaux exportateurs, menace la France de mesures de rétorsion commerciale.</p>
                                    <div class="card-action">
                                        <a class="media blue-text" href="http://www.rfi.fr/hebdo/20170721-huile-palme-bras-fer-entre-france-asie-sud-est-malaisie-hulot">RFI</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col l7 s12" height="965px">
                            <div class="card large-large">
                                <div class="card-image">
                                    <img src="../public/img/img_kinshasa.jpg">
                                    <span class="card-title">MUSIQUE</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title">Damso, Siboy, Kalash Criminel : l’exil et la révolte</span>
                                    <p class="chapo">Ils sont Européens d'adoption et d’origine congolaise : Damso et Siboy, auteurs et membres du 92i basés en Belgique, le label de Booba, et Kalash Criminel, Français de Sevran et protégé de Kaaris. A eux trois, ils dominent le rap francophone : un Disque d’or pour le premier album de Damso, un de platine pour le second, et près de 6000 albums écoulés en une semaine pour le premier album de Siboy. Engagés, enragés, révoltés, mais loin du gangstarap traditionnel, ils évoquent dans leurs textes le départ d’Afrique, la condition de réfugiés, et une intégration difficile en Europe.</p>
                                </div>
                                <div class="card-action">
                                    <a class="media blue-text" href="http://musique.rfi.fr/rap/20170719-damso-siboy-kalash">RFI</a>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 l5" height="965px">
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-image">
                                        <img src="http://scd.rfi.fr/sites/filesrfi/imagecache/rfi_16x9_1024_578/sites/images.rfi.fr/files/aef_image/gettyimages-148584457_0.jpg">
                                        <span class="card-title">INTERNATIONAL</span>
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title">Andorre, paradis fiscal perdu</span>
                                        <p class="chapo">Le Parlement andorran a adopté un texte rendant l’évasion fiscale délictuelle : les auteurs seront désormais passibles d’une peine de 5 ans de prison.</p>
                                    </div>
                                    <div class="card-action">
                                        <a class="media blue-text" href="http://www.rfi.fr/europe/20170719-andorre-paradis-fiscal-perdu-delit">RFI</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-image">
                                        <img src="http://scd.rfi.fr/sites/filesrfi/dynimagecache/0/16/3398/1920/1024/578/sites/images.rfi.fr/files/aef_image/2017-07-17t132414z_1454844012_rc1ca15e63f0_rtrmadp_3_indonesia-corruption_0_0.jpg">
                                        <span class="card-title">INTERNATIONAL</span>
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title">Indonésie: le président du Parlement inculpé dans un scandale de corruption</span>
                                        <p class="chapo">Setya Novanto est mis en cause dans une affaire de corruption impliquant de nombreux hommes politiques. En six ans, 150 millions d’euros auraient été détournés des caisses publiques.</p>
                                    </div>
                                    <div class="card-action">
                                        <a class="media blue-text" href="http://www.rfi.fr/asie-pacifique/20170718-indonesie-president-parlement-setya-novanto-inculpe-scandale-corruption">RFI</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="card large" id="card_dealos">
                                <div class="card-image">
                                    <img src="http://scd.rfi.fr/sites/filesrfi/imagecache/rfi_16x9_1024_578/sites/images.rfi.fr/files/aef_image/winnie-jinping-2014_0.jpg" id="img_dealos">
                                    <span class="card-title">INTERNATIONAL</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title">Chine : Winnie l’Ourson censuré après avoir été comparé à Xi Jinping</span>
                                    <p class="chapo">À quelques mois du Congrès quinquennal du Parti communiste chinois, Winnie l’Ourson a été censuré sur les réseaux sociaux en Chine après avoir été comparé par le passé au président Xi Jinping.</p>
                                    <div class="card-action">
                                        <a class="media blue-text" href="http://www.rfi.fr/asie-pacifique/20170717-chine-winnie-ourson-censure-apres-avoir-ete-compare-xi-jinping">RFI</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 l8">
                            <div class="card large">
                                <div class="card-image">
                                    <img src="http://scd.rfi.fr/sites/filesrfi/imagecache/rfi_16x9_1024_578/sites/images.rfi.fr/files/aef_image/gettyimages-186699861_0.jpg">
                                    <span class="card-title">HISTOIRE</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title">Grande Guerre: l'escadrille La Fayette, des Américains dans l'aviation française</span>
                                    <p class="chapo">Ils étaient l’avant-garde américaine de la Grande Guerre. Avant le débarquement du contingent des «Sammies» à Saint-Nazaire en 1917, 267 Américains se sont engagés volontairement dans l’aviation française dès 1916 dans l’escadrille La Fayette.</p>
                                </div>
                                <div class="card-action">
                                    <a class="media blue-text" href="http://www.rfi.fr/france/20170714-escadrille-fayette-aviateurs-americains-armee-premiere-guerre-mondiale">RFI</a>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 l4">
                            <div class="card large">
                                <div class="card-image">
                                    <img src="http://scd.rfi.fr/sites/filesrfi/dynimagecache/0/58/3500/1977/1024/578/sites/images.rfi.fr/files/aef_image/2013-10-23T212858Z_218868636_GM1E9AO0F4101_RTRMADP_3_USA-PAKISTAN-DRONES.JPG">
                                    <span class="card-title">INTERNATIONAL</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title">Pakistan: le clan Sharif menacé par la police de caractères Calibri</span>
                                    <p>Dans l'enquête faisant suite aux Panama Papers, et alors que le Premier ministre et sa fille sont déjà embourbés dans un scandale de corruption, la défense de Nawaz Sharif a présenté des documents datés de 2006, mais utilisant une police de caractères Microsoft commercialisée en 2007.</p>
                                </div>
                                <div class="card-action">
                                    <a class="media blue-text" href="http://www.rfi.fr/asie-pacifique/20170713-pakistan-clan-sharif-menace-police-caracteres-calibri">RFI</a>
                                </div>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="card large" id="card_dealos">
                                <div class="card-image">
                                    <img src="http://scd.rfi.fr/sites/filesrfi/imagecache/rfi_16x9_1024_578/sites/images.rfi.fr/files/aef_image/000_qh8as_0.jpg" id="img_dealos">
                                    <span class="card-title">INTERNATIONAL</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title">Inde: l’alcool de contrebande et ses dégâts mortels</span>
                                    <p class="chapo">La consommation d’alcool illégal a de nouveau tué 12 personnes dans le nord de l’Inde. Les contrebandiers produisent et vendent des mélanges hautement toxiques qui provoquent chaque année la mort de centaines d’individus parmi les Indiens les plus pauvres.</p>
                                    <div class="card-action">
                                        <a class="media blue-text" href="http://www.rfi.fr/asie-pacifique/20170712-inde-alcool-contrebande-degats-mortels-uttar-pradesh">RFI</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 l5" height="965px">
                            <div class="col s12">
                                <div class="card perso">
                                    <div class="card-image">
                                        <img src="http://scd.rfi.fr/sites/filesrfi/imagecache/rfi_16x9_1024_578/sites/images.rfi.fr/files/aef_image/Fresnes%20prison.jpg">
                                        <span class="card-title">INTERNATIONAL</span>
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title">La peine de mort abolie en Mongolie</span>
                                        <p class="chapo">Le 1er juillet, la Mongolie est devenue le 105e pays du monde à abolir la peine de mort, l'aboutissement d’un processus amorcé en 2010 par le désormais ex-président Tsakhia Elbegdorj.</p>
                                        <div class="card-action">
                                            <a class="media blue-text" href="http://www.rfi.fr/asie-pacifique/20170708-peine-mort-abolie-mongolie-tsakhia-elbegdorj">RFI</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="card perso">
                                    <div class="card-image">
                                        <img src="http://scd.rfi.fr/sites/filesrfi/dynimagecache/55/0/3245/1831/1024/578/sites/images.rfi.fr/files/aef_image/2017-07-02t235318z_31996447_rc129a1efce0_rtrmadp_3_gulf-qatar-kuwait.jpg">
                                        <span class="card-title">INTERNATIONAL</span>
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title">Un entrepreneur français détenu au Qatar depuis près de 4 ans</span>
                                        <p class="chapo">Victime du système de la kafala, Jean-Pierre Marongiu est emprisonné au Qatar depuis 2013 pour escroquerie après la faillite de sa société. Il a entamé mi-juin une grève de la faim.</p>
                                    </div>
                                    <div class="card-action">
                                        <a class="media blue-text" href="http://www.rfi.fr/hebdo/20170707-qatar-jean-pierre-marongiu-detenu-greve-faim-kafala-france-escroquerie-prison-doha">RFI</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col l7 s12" height="965px">
                            <div class="card large-large">
                                <div class="card-image">
                                    <img src="../public/img/img_philippe.jpg">
                                    <span class="card-title">POLITIQUE</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title">DIRECT - Edouard Philippe devant les députés pour son discours de politique générale</span>
                                    <p class="chapo">Le Premier ministre français Edouard Philippe a prononcé sa déclaration de politique générale devant l'Assemblée nationale ce 4 juillet et s'est soumis au vote de confiance des députés. L'occasion d'entrer dans le détail des réformes envisagées, mais aussi pour les députés de se faire entendre.

                                    </p>
                                </div>
                                <div class="card-action">
                                    <a class="media blue-text" href="http://www.rfi.fr/france/20170704-discours-politique-generale-edouard-philippe-assemblee-nationale-loi-travail">RFI</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% include ./partials/footer.ejs %>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="../public/js/materialize.js"></script>
        <script type="text/javascript" src="../public/js/application.js"></script>
    </body>
</html>