<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Accueil</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../public/css/materialize.css" media="screen,projection">
        <link rel="stylesheet" href="../public/css/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="icon" type="image/png" href="/public/img/favicon.png" />
    </head>

    <body>
        <% include ./partials/header.ejs %>

            <div id="conteneur1" class="container">
                <div class="element">
                    <div class="row">
                        <div id="line1">
                            <a target="_blank" href="http://lesarpenteurs.fr/resilience-urbaine-reconstruire-la-collectivite-apres-un-traumatisme/">
                                <div class="col s12 l5">
                                    <div class="card large">
                                        <div class="card-image">
                                            <img src="/public/img/img_resilience.jpg">
                                            <span class="card-title">FUTUR</span>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Résilience urbaine : reconstruire la collectivité après un traumatisme</span>
                                            <p class="chapo">Attentats terroristes, crue de la Seine, épisodes caniculaires : la ville de Paris vient d’adopter un plan d’action pour se reconstruire après ses récents traumatismes - et se préparer aux crises à venir.</p>
                                        </div>
                                        <div class="card-action">
                                            <a target="_blank" class="media blue-text" href="http://lesarpenteurs.fr/resilience-urbaine-reconstruire-la-collectivite-apres-un-traumatisme/">Les Arpenteurs (Usbek & Rica)</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a target="_blank" href="http://lesarpenteurs.fr/les-monts-kong-premiere-fake-news-de-lhistoire/">
                                <div class="col s12 l7">
                                    <div class="card large">
                                        <div class="card-image">
                                            <img src="/public/img/img_kong.jpg">
                                            <span class="card-title">FUTUR</span>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Les monts Kong, première fake news de l’Histoire</span>
                                            <p>Pendant plus d’un siècle, la doxa géographique européenne a admis l’existence d’une chaîne de montagnes, les monts Kong, traversant tout le continent africain. Celle-ci n’a en fait jamais existé.</p>
                                        </div>
                                        <div class="card-action">
                                            <a target="_blank" class="media blue-text" href="http://lesarpenteurs.fr/les-monts-kong-premiere-fake-news-de-lhistoire/">Les Arpenteurs (Usbek & Rica)</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div id="line2">
                            <a target="_blank" href="http://www.rfi.fr/moyen-orient/20170909-jordanie-cultiver-desert-agriculture-developpement-durable-sahara-forest-proje">
                                <div class="col s12 l8" id="div3">
                                    <div class="card large">
                                        <div class="card-image">
                                            <img src="http://scd.rfi.fr/sites/filesrfi/imagecache/rfi_16x9_1024_578/sites/images.rfi.fr/files/aef_image/36244589004_68c4053e79_b_0.jpg">
                                            <span class="card-title">INTERNATIONAL</span>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Jordanie : cultiver le désert ?</span>
                                            <p class="chapo">Le « Sahara Forest Project » a inauguré le 7 septembre sa station de lancement en Jordanie. L’opération, menée conjointement par le gouvernement local, la Norvège et l’Union européenne, cherche à développer une agriculture durable dans cette zone aride.</p>
                                        </div>
                                        <div class="card-action">
                                            <a target="_blank" class="media blue-text" href="http://www.rfi.fr/moyen-orient/20170909-jordanie-cultiver-desert-agriculture-developpement-durable-sahara-forest-proje">RFI</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a target="_blank" href="https://usbeketrica.com/article/sonde-cassini-saturne-fin-mission">
                                <div class="col s12 l4" id="div4">
                                    <div class="card large">
                                        <div class="card-image">
                                            <img src="../public/img/img_cassini.jpg">
                                            <span class="card-title">FUTUR</span>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Le 15/09, la sonde Cassini mourra pour la science</span>
                                            <p>La mission Cassini-Huygens prendra bientôt fin, faute de carburant. La sonde avait quitté la Terre en 1997.</p>
                                        </div>
                                        <div class="card-action">
                                            <a target="_blank" class="media blue-text" href="https://usbeketrica.com/article/sonde-cassini-saturne-fin-mission">Usbek & Rica</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="line" id="line3">
                            <div class="col s12 l5" height="965px">
                                <a target="_blank" href="http://lesarpenteurs.fr/faut-il-avoir-peur-des-robots-tueurs/">
                                    <div class="col s12">
                                        <div class="card medium">
                                            <div class="card-image">
                                                <img src="http://lesarpenteurs.fr/wp-content/uploads/2017/09/UsbekRica-Terminator-3-609x316.jpg">
                                                <span class="card-title">FUTUR</span>
                                            </div>
                                            <div class="card-content">
                                                <span class="card-title">Faut-il avoir peur des robots tueurs ?</span>
                                                <p class="chapo">Elon Musk et des spécialistes de l’IA mettent en garde l'ONU contre les dangers de la légalisation des armes autonomes létales.</p>
                                                <div class="card-action">
                                                    <a target="_blank" class="media blue-text" href="http://lesarpenteurs.fr/faut-il-avoir-peur-des-robots-tueurs/">Les Arpenteurs (Usbek & Rica)</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a target="_blank" href="http://lesarpenteurs.fr/lindustrie-miniere-a-la-conquete-de-lespace/">
                                    <div class="col s12">
                                        <div class="card perso">
                                            <div class="card-image">
                                                <img src="http://lesarpenteurs.fr/wp-content/uploads/2017/07/UsbekRica-Expl-lunaire-1-609x316.jpg">
                                                <span class="card-title">FUTUR</span>
                                            </div>
                                            <div class="card-content">
                                                <span class="card-title">L’industrie minière à la conquête de l’espace</span>
                                                <p class="chapo">Verra-t-on bientôt une colonie minière sur la Lune ? Alléchée par la promesse de ressources extraterrestres inexploitées, l’industrie minière pourrait bien devenir le fer de lance de la conquête spatiale.</p>
                                            </div>
                                            <div class="card-action">
                                                <a target="_blank" class="media blue-text" href="http://lesarpenteurs.fr/lindustrie-miniere-a-la-conquete-de-lespace/">Les Arpenteurs (Usbek & Rica)</a>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <a target="_blank" href="/pfe">
                                <div class="col l7 s12" height="965px">
                                    <div class="card large-large">
                                        <div class="card-image">
                                            <img src="../public/img/img_pfe.png">
                                            <span class="card-title">CAMPUS</span>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">42, L'école sans prof</span>
                                            <p class="chapo">À 42, personne ou presque n’a plus de 30 ans. Cette école d’informatique fonctionne sans cours, sans
                                                professeurs et sans horaires. Ouverte 24h sur 24 et 7 jours sur 7, elle accueille les étudiants gratuitement et sans
                                                exigence de diplôme - pas même le bac. Reportage sur l'OVNI pédagogique de Xavier Niel.</p>
                                        </div>
                                        <div class="card-action">
                                            <a target="_blank" class="media blue-text" href="/pfe">Projet de fin d'études</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="line" id="line4">
                            <a target="_blank" href="http://www.rfi.fr/asie-pacifique/20170730-philippines-narcotrafiquant-maire-abattu-police-drogue-parojinog-duterte-oza">
                                <div class="col s12">
                                    <div class="card large" id="card_dealos">
                                        <div class="card-image">
                                            <img src="http://scd.rfi.fr/sites/filesrfi/dynimagecache/0/9/620/350/1024/578/sites/images.rfi.fr/files/aef_image/parojinogs-620x422_0.jpg" id="img_dealos">
                                            <span class="card-title">INTERNATIONAL</span>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Philippines: soupçonné d’être un narcotrafiquant, un maire abattu par la police</span>
                                            <p class="chapo">Un élu local, dénoncé par le président Duterte en 2016 comme narcotrafiquant, a été abattu à son domicile ce dimanche 30 juillet par la police philippine, avec ses gardes du corps et une partie de ses proches. Des armes d’assaut et de la méthamphétamine ont été retrouvées dans les résidences du clan.</p>
                                            <div class="card-action">
                                                <a target="_blank" class="media blue-text" href="http://www.rfi.fr/asie-pacifique/20170730-philippines-narcotrafiquant-maire-abattu-police-drogue-parojinog-duterte-oza">RFI</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="line" id="line5">
                            <a target="_blank" href="http://www.rfi.fr/asie-pacifique/20170728-morts-liees-pesticides-le-bilan-endosulfan-s-alourdit-bangladesh-environneme">
                                <div class="col s12">
                                    <div class="card large" id="card_bangl">
                                        <div class="card-image">
                                            <img src="http://scd.rfi.fr/sites/filesrfi/imagecache/rfi_16x9_1024_578/sites/images.rfi.fr/files/aef_image/000_del6246491_0.jpg" id="img_potiron">
                                            <span class="card-title">INTERNATIONAL</span>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Pesticides mortels: le bilan de l’endosulfan s’alourdit au Bangladesh</span>
                                            <p class="chapo">Après la mort de 13 enfants d’une encéphalite aigüe, en juin 2012 au Bangladesh, une première étude avait attribué les décès à une toxine présente dans les litchis. Une contre-enquête de scientifiques bangladais et américains, publiée le 24 juillet 2017, pointe la responsabilité de l’endosulfan, un pesticide ayant déjà causé des centaines de morts dans la région.</p>
                                            <div class="card-action">
                                                <a target="_blank" class="media blue-text" href="http://www.rfi.fr/asie-pacifique/20170728-morts-liees-pesticides-le-bilan-endosulfan-s-alourdit-bangladesh-environneme">RFI</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="line" id="line6">
                            <a target="_blank" href="http://lesarpenteurs.fr/quel-futur-pour-les-jeux-olympiques/">
                                <div class="col s12 l5">
                                    <div class="card large">
                                        <div class="card-image">
                                            <img src="../public/img/img_jo.jpg">
                                            <span class="card-title">FUTUR</span>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Quel futur pour les Jeux Olympiques ?</span>
                                            <p class="chapo">Trop cher, pas assez rentable, néfaste pour l’environnement : les Jeux Olympiques commencent à sentir le vent tourner. Nicolas Bancel, historien du sport et professeur à l’Institut des sciences du sport de l’Université de Lausanne, répond à nos questions sur l'avenir de la reine des compétitions sportives.</p>
                                        </div>
                                        <div class="card-action">
                                            <a target="_blank" class="media blue-text" href="http://lesarpenteurs.fr/quel-futur-pour-les-jeux-olympiques/">Les Arpenteurs (Usbek&Rica)</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a target="_blank" href="http://www.rfi.fr/hebdo/20170728-inde-il-y-16-ans-phoolan-devi-reine-bandits-etait-assassinee">
                                <div class="col s12 l7">
                                    <div class="card large">
                                        <div class="card-image">
                                            <img src="http://scd.rfi.fr/sites/filesrfi/dynimagecache/0/890/1513/854/1024/578/sites/images.rfi.fr/files/aef_image/000_hkg2004021700907_0.jpg">
                                            <span class="card-title">INTERNATIONAL</span>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Inde: Phoolan Devi, la saga de la «Reine des bandits»</span>
                                            <p>En 38 ans, Phoolan Devi aura tout connu : la misère des basses castes indiennes, la maltraitance et les viols, le grand banditisme, la prison - et la reconnaissance, enfin, lorsqu’elle obtient un siège de députée au Parlement. La «Reine des bandits» est morte assassinée il y a 16 ans, le 25 juillet 2001. Mais l’Inde ne l’oublie pas.</p>
                                        </div>
                                        <div class="card-action">
                                            <a target="_blank" class="media blue-text" href="http://www.rfi.fr/hebdo/20170728-inde-il-y-16-ans-phoolan-devi-reine-bandits-etait-assassinee">RFI</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="line" id="line7">
                            <a target="_blank" href="http://www.rfi.fr/moyen-orient/20170722-yemen-epidemie-cholera-saison-humide-guerre-famine-msf">
                                <div class="col s12">
                                    <div class="card large" id="card_dealos">
                                        <div class="card-image">
                                            <img src="http://scd.rfi.fr/sites/filesrfi/imagecache/rfi_16x9_1024_578/sites/images.rfi.fr/files/aef_image/2017-07-14t110046z_133992748_rc15d5e194d0_rtrmadp_3_yemen-cholera-saudi_0.jpg" id="img_dealos">
                                            <span class="card-title">INTERNATIONAL</span>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Épidémie de choléra au Yémen: les ONG inquiètes avant la saison humide</span>
                                            <p class="chapo">Un élu local, dénoncé par le président Duterte en 2016 comme narcotrafiquant, a été abattu à son domicile ce dimanche 30 juillet par la police philippine, avec ses gardes du corps et une partie de ses proches. Des armes d’assaut et de la méthamphétamine ont été retrouvées dans les résidences du clan.</p>
                                            <div class="card-action">
                                                <a target="_blank" class="media blue-text" href="http://www.rfi.fr/moyen-orient/20170722-yemen-epidemie-cholera-saison-humide-guerre-famine-msf">RFI</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="line" id="line8">
                            <a target="_blank" href="http://www.rfi.fr/hebdo/20170721-huile-palme-bras-fer-entre-france-asie-sud-est-malaisie-hulot">
                                <div class="col s12">
                                    <div class="card large" id="card_dealos">
                                        <div class="card-image">
                                            <img src="http://scd.rfi.fr/sites/filesrfi/imagecache/rfi_16x9_1024_578/sites/images.rfi.fr/files/aef_image/2017-07-05t105335z_1918438665_rc114a701f40_rtrmadp_3_fgv-management-sale_0.jpg" id="img_dealos">
                                            <span class="card-title">INTERNATIONAL</span>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Huile de palme: bras de fer entre la France et la Malaisie</span>
                                            <p class="chapo">Depuis que Nicolas Hulot, le ministre français de la Transition écologique, a annoncé vouloir réduire l’importation d’huile de palme non durable, la Malaisie, l'un des principaux exportateurs, menace la France de mesures de rétorsion commerciale.</p>
                                            <div class="card-action">
                                                <a target="_blank" class="media blue-text" href="http://www.rfi.fr/hebdo/20170721-huile-palme-bras-fer-entre-france-asie-sud-est-malaisie-hulot">RFI</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="line" id="line9">
                            <a target="_blank" href="http://musique.rfi.fr/rap/20170719-damso-siboy-kalash">
                                <div class="col s12 l7" height="965px">
                                    <div class="card large-large">
                                        <div class="card-image">
                                            <img src="../public/img/img_kinshasa.jpg">
                                            <span class="card-title">MUSIQUE</span>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Damso, Siboy, Kalash Criminel : l’exil et la révolte</span>
                                            <p class="chapo">Ils sont Européens d'adoption et d’origine congolaise : Damso et Siboy, auteurs et membres du 92i basés en Belgique, le label de Booba, et Kalash Criminel, Français de Sevran et protégé de Kaaris. A eux trois, ils dominent le rap francophone : un Disque d’or pour le premier album de Damso, un de platine pour le second, et près de 6000 albums écoulés en une semaine pour le premier album de Siboy. Engagés, enragés, révoltés, mais loin du gangstarap traditionnel, ils évoquent dans leurs textes le départ d’Afrique, la condition de réfugiés, et une intégration difficile en Europe.</p>
                                        </div>
                                        <div class="card-action">
                                            <a target="_blank" class="media blue-text" href="http://musique.rfi.fr/rap/20170719-damso-siboy-kalash">RFI</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="col s12 l5" height="965px">
                                <a target="_blank" href="http://www.rfi.fr/europe/20170719-andorre-paradis-fiscal-perdu-delit">
                                    <div class="col s12">
                                        <div class="card">
                                            <div class="card-image">
                                                <img src="http://scd.rfi.fr/sites/filesrfi/imagecache/rfi_16x9_1024_578/sites/images.rfi.fr/files/aef_image/gettyimages-148584457_0.jpg">
                                                <span class="card-title">INTERNATIONAL</span>
                                            </div>
                                            <div class="card-content">
                                                <span class="card-title">Andorre, paradis fiscal perdu</span>
                                                <p class="chapo">Le Parlement andorran a adopté un texte rendant l’évasion fiscale délictuelle : les auteurs seront désormais passibles d’une peine de 5 ans de prison.</p>
                                            </div>
                                            <div class="card-action">
                                                <a target="_blank" class="media blue-text" href="http://www.rfi.fr/europe/20170719-andorre-paradis-fiscal-perdu-delit">RFI</a>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a target="_blank" href="http://www.rfi.fr/asie-pacifique/20170718-indonesie-president-parlement-setya-novanto-inculpe-scandale-corruption">
                                    <div class="col s12">
                                        <div class="card">
                                            <div class="card-image">
                                                <img src="http://scd.rfi.fr/sites/filesrfi/dynimagecache/0/16/3398/1920/1024/578/sites/images.rfi.fr/files/aef_image/2017-07-17t132414z_1454844012_rc1ca15e63f0_rtrmadp_3_indonesia-corruption_0_0.jpg">
                                                <span class="card-title">INTERNATIONAL</span>
                                            </div>
                                            <div class="card-content">
                                                <span class="card-title">Indonésie: le président du Parlement inculpé dans un scandale de corruption</span>
                                                <p class="chapo">Setya Novanto est mis en cause dans une affaire de corruption impliquant de nombreux hommes politiques. En six ans, 150 millions d’euros auraient été détournés des caisses publiques.</p>
                                            </div>
                                            <div class="card-action">
                                                <a target="_blank" class="media blue-text" href="http://www.rfi.fr/asie-pacifique/20170718-indonesie-president-parlement-setya-novanto-inculpe-scandale-corruption">RFI</a>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="line" id="line10">
                            <a target="_blank" href="http://www.rfi.fr/asie-pacifique/20170717-chine-winnie-ourson-censure-apres-avoir-ete-compare-xi-jinping">
                                <div class="col s12">
                                    <div class="card large" id="card_dealos">
                                        <div class="card-image">
                                            <img src="http://scd.rfi.fr/sites/filesrfi/imagecache/rfi_16x9_1024_578/sites/images.rfi.fr/files/aef_image/winnie-jinping-2014_0.jpg" id="img_dealos">
                                            <span class="card-title">INTERNATIONAL</span>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Chine : Winnie l’Ourson censuré après avoir été comparé à Xi Jinping</span>
                                            <p class="chapo">À quelques mois du Congrès quinquennal du Parti communiste chinois, Winnie l’Ourson a été censuré sur les réseaux sociaux en Chine après avoir été comparé par le passé au président Xi Jinping.</p>
                                            <div class="card-action">
                                                <a target="_blank" class="media blue-text" href="http://www.rfi.fr/asie-pacifique/20170717-chine-winnie-ourson-censure-apres-avoir-ete-compare-xi-jinping">RFI</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="line" id="line11">
                            <a target="_blank" href="http://www.rfi.fr/france/20170714-escadrille-fayette-aviateurs-americains-armee-premiere-guerre-mondiale">
                                <div class="col s12 l8">
                                    <div class="card large">
                                        <div class="card-image">
                                            <img src="http://scd.rfi.fr/sites/filesrfi/imagecache/rfi_16x9_1024_578/sites/images.rfi.fr/files/aef_image/gettyimages-186699861_0.jpg">
                                            <span class="card-title">HISTOIRE</span>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Grande Guerre: l'escadrille La Fayette, des Américains dans l'aviation française</span>
                                            <p class="chapo">Ils étaient l’avant-garde américaine de la Grande Guerre. Avant le débarquement du contingent des «Sammies» à Saint-Nazaire en 1917, 267 Américains se sont engagés volontairement dans l’aviation française dès 1916 dans l’escadrille La Fayette.</p>
                                        </div>
                                        <div class="card-action">
                                            <a target="_blank" class="media blue-text" href="http://www.rfi.fr/france/20170714-escadrille-fayette-aviateurs-americains-armee-premiere-guerre-mondiale">RFI</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a target="_blank" href="http://www.rfi.fr/asie-pacifique/20170713-pakistan-clan-sharif-menace-police-caracteres-calibri">
                                <div class="col s12 l4">
                                    <div class="card large">
                                        <div class="card-image">
                                            <img src="http://scd.rfi.fr/sites/filesrfi/dynimagecache/0/58/3500/1977/1024/578/sites/images.rfi.fr/files/aef_image/2013-10-23T212858Z_218868636_GM1E9AO0F4101_RTRMADP_3_USA-PAKISTAN-DRONES.JPG">
                                            <span class="card-title">INTERNATIONAL</span>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Pakistan: le clan Sharif menacé par la police de caractères Calibri</span>
                                            <p>Dans l'enquête faisant suite aux Panama Papers, et alors que le Premier ministre et sa fille sont déjà embourbés dans un scandale de corruption, la défense de Nawaz Sharif a présenté des documents datés de 2006, mais utilisant une police de caractères Microsoft commercialisée en 2007.</p>
                                        </div>
                                        <div class="card-action">
                                            <a target="_blank" class="media blue-text" href="http://www.rfi.fr/asie-pacifique/20170713-pakistan-clan-sharif-menace-police-caracteres-calibri">RFI</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="line" id="line12">
                            <a target="_blank" href="http://www.rfi.fr/asie-pacifique/20170712-inde-alcool-contrebande-degats-mortels-uttar-pradesh">
                                <div class="col s12">
                                    <div class="card large" id="card_dealos">
                                        <div class="card-image">
                                            <img src="http://scd.rfi.fr/sites/filesrfi/imagecache/rfi_16x9_1024_578/sites/images.rfi.fr/files/aef_image/000_qh8as_0.jpg" id="img_dealos">
                                            <span class="card-title">INTERNATIONAL</span>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Inde: l’alcool de contrebande et ses dégâts mortels</span>
                                            <p class="chapo">La consommation d’alcool illégal a de nouveau tué 12 personnes dans le nord de l’Inde. Les contrebandiers produisent et vendent des mélanges hautement toxiques qui provoquent chaque année la mort de centaines d’individus parmi les Indiens les plus pauvres.</p>
                                            <div class="card-action">
                                                <a target="_blank" class="media blue-text" href="http://www.rfi.fr/asie-pacifique/20170712-inde-alcool-contrebande-degats-mortels-uttar-pradesh">RFI</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="line" id="line13">
                            <div class="col s12 l5" height="965px">
                                <a target="_blank" href="http://www.rfi.fr/asie-pacifique/20170708-peine-mort-abolie-mongolie-tsakhia-elbegdorj">
                                    <div class="col s12">
                                        <div class="card perso">
                                            <div class="card-image">
                                                <img src="http://scd.rfi.fr/sites/filesrfi/imagecache/rfi_16x9_1024_578/sites/images.rfi.fr/files/aef_image/Fresnes%20prison.jpg">
                                                <span class="card-title">INTERNATIONAL</span>
                                            </div>
                                            <div class="card-content">
                                                <span class="card-title">La peine de mort abolie en Mongolie</span>
                                                <p class="chapo">Le 1er juillet, la Mongolie est devenue le 105e pays du monde à abolir la peine de mort, l'aboutissement d’un processus amorcé en 2010 par le désormais ex-président Tsakhia Elbegdorj.</p>
                                                <div class="card-action">
                                                    <a target="_blank" class="media blue-text" href="http://www.rfi.fr/asie-pacifique/20170708-peine-mort-abolie-mongolie-tsakhia-elbegdorj">RFI</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a target="_blank" href="http://www.rfi.fr/hebdo/20170707-qatar-jean-pierre-marongiu-detenu-greve-faim-kafala-france-escroquerie-prison-doha">
                                    <div class="col s12">
                                        <div class="card perso">
                                            <div class="card-image">
                                                <img src="http://scd.rfi.fr/sites/filesrfi/dynimagecache/55/0/3245/1831/1024/578/sites/images.rfi.fr/files/aef_image/2017-07-02t235318z_31996447_rc129a1efce0_rtrmadp_3_gulf-qatar-kuwait.jpg">
                                                <span class="card-title">INTERNATIONAL</span>
                                            </div>
                                            <div class="card-content">
                                                <span class="card-title">Un entrepreneur français détenu au Qatar depuis près de 4 ans</span>
                                                <p class="chapo">Victime du système de la kafala, Jean-Pierre Marongiu est emprisonné au Qatar depuis 2013 pour escroquerie après la faillite de sa société. Il a entamé mi-juin une grève de la faim.</p>
                                            </div>
                                            <div class="card-action">
                                                <a target="_blank" class="media blue-text" href="http://www.rfi.fr/hebdo/20170707-qatar-jean-pierre-marongiu-detenu-greve-faim-kafala-france-escroquerie-prison-doha">RFI</a>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <a target="_blank" href="http://www.rfi.fr/france/20170704-discours-politique-generale-edouard-philippe-assemblee-nationale-loi-travail">
                                <div class="col l7 s12" height="965px">
                                    <div class="card large-large">
                                        <div class="card-image">
                                            <img src="../public/img/img_philippe.jpg">
                                            <span class="card-title">POLITIQUE</span>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">DIRECT - Edouard Philippe devant les députés pour son discours de politique générale</span>
                                            <p class="chapo">Le Premier ministre français Edouard Philippe a prononcé sa déclaration de politique générale devant l'Assemblée nationale ce 4 juillet et s'est soumis au vote de confiance des députés. L'occasion d'entrer dans le détail des réformes envisagées, mais aussi pour les députés de se faire entendre.

                                            </p>
                                        </div>
                                        <div class="card-action">
                                            <a target="_blank" class="media blue-text" href="http://www.rfi.fr/france/20170704-discours-politique-generale-edouard-philippe-assemblee-nationale-loi-travail">RFI</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="line" id="line14">
                            <a target="_blank" href="http://www.parismatch.com/Actu/Politique/Lenaick-Adam-le-bal-d-un-debutant-a-l-Assemblee-nationale-1295261">
                                <div class="col s12 l8">
                                    <div class="card large">
                                        <div class="card-image">
                                            <img src="http://resize1-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/lenaick-adam-le-bal-d-un-debutant-a-l-assemblee-nationale-1295261/21595931-1-fre-FR/Lenaick-Adam-le-bal-d-un-debutant-a-l-Assemblee-nationale.jpg">
                                            <span class="card-title">POLITIQUE</span>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Lénaïck Adam, le bal d'un débutant à l'Assemblée nationale</span>
                                            <p class="chapo">A 25 ans, le député LREM de la 2ème circonscription de Guyane est l’un des benjamins de l’Assemblée. Paris Match l’a accompagné à sa rentrée dans l’Hémicycle.</p>
                                        </div>
                                        <div class="card-action">
                                            <a target="_blank" class="media blue-text" href="http://www.parismatch.com/Actu/Politique/Lenaick-Adam-le-bal-d-un-debutant-a-l-Assemblee-nationale-1295261">Paris Match</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a target="_blank" href="http://www.parismatch.com/Actu/Politique/Benoit-Hamon-le-kebab-et-la-politique-1296911">
                                <div class="col s12 l4">
                                    <div class="card large">
                                        <div class="card-image">
                                            <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/benoit-hamon-le-kebab-et-la-politique-1296911/21620438-1-fre-FR/Benoit-Hamon-le-kebab-et-la-politique.jpg">
                                            <span class="card-title">POLITIQUE</span>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Benoît Hamon, le kebab et la politique</span>
                                            <p>Sur Twitter, la photo du kebab nocturne de Benoît Hamon a été plus partagée que le portrait officiel d’Emmanuel Macron. Tout un symbole pour le candidat socialiste à la présidentielle qui lance ce samedi son propre mouvement politique.</p>
                                        </div>
                                        <div class="card-action">
                                            <a target="_blank" class="media blue-text" href="http://www.parismatch.com/Actu/Politique/Benoit-Hamon-le-kebab-et-la-politique-1296911">Paris Match</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="line" id="line15">
                            <a target="_blank" href="http://www.parismatch.com/Actu/Politique/Remaniement-ministeriel-les-reactions-de-l-opposition-1290131">
                                <div class="col s12">
                                    <div class="card large" id="card_dealos">
                                        <div class="card-image">
                                            <img src="http://resize-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/remaniement-ministeriel-les-reactions-de-l-opposition-1290131/21529604-1-fre-FR/Remaniement-ministeriel-les-reactions-de-l-opposition.jpg" id="img_dealos">
                                            <span class="card-title">POLITIQUE</span>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Remaniement ministériel : les réactions de l’opposition</span>
                                            <p class="chapo">Dans le cadre de l’enquête ouverte sur les conditions d'emploi des assistants parlementaires européens du MoDem, cinq ministres ont quitté le nouveau gouvernement Macron. Les réactions de l’opposition ne se sont pas faites attendre.</p>
                                            <div class="card-action">
                                                <a target="_blank" class="media blue-text" href="http://www.parismatch.com/Actu/Politique/Remaniement-ministeriel-les-reactions-de-l-opposition-1290131">Paris Match</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="line" id="line16">
                            <a target="_blank" href="http://www.parismatch.com/Actu/Politique/Le-FN-veut-faire-peau-neuve-1288988">
                                <div class="col s12 l4">
                                    <div class="card large">
                                        <div class="card-image">
                                            <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/le-fn-veut-faire-peau-neuve-1288988/21515402-1-fre-FR/Le-FN-veut-faire-peau-neuve.jpg">
                                            <span class="card-title">POLITIQUE</span>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Le FN veut faire peau neuve</span>
                                            <p class="chapo">Une réunion du bureau politique du FN se tient aujourd’hui au siège du parti, à Nanterre. Les dirigeants devraient y évoquer l’avenir du parti, vaincu au second tour de l’élection présidentielle.</p>
                                        </div>
                                        <div class="card-action">
                                            <a target="_blank" class="media blue-text" href="http://www.parismatch.com/Actu/Politique/Le-FN-veut-faire-peau-neuve-1288988">Paris Match</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a target="_blank" href="http://www.parismatch.com/Actu/Politique/Les-nouveaux-visages-de-l-Assemblee-nationale-1288304">
                                <div class="col s12 l8">
                                    <div class="card large">
                                        <div class="card-image">
                                            <img src="http://resize-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/les-nouveaux-visages-de-l-assemblee-nationale-1288304/21506435-2-fre-FR/Les-nouveaux-visages-de-l-Assemblee-nationale.jpg">
                                            <span class="card-title">POLITIQUE</span>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Les nouveaux visages de l'Assemblée nationale</span>
                                            <p>Renouvelée à 75%, l’Assemblée nationale change de visage. Paris Match a sélectionné dix nouveaux députés dont le profil atypique a retenu notre attention.</p>
                                        </div>
                                        <div class="card-action">
                                            <a target="_blank" class="media blue-text" href="http://www.parismatch.com/Actu/Politique/Les-nouveaux-visages-de-l-Assemblee-nationale-1288304">Paris Match</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="line" id="line17">
                            <div class="col s12 l5" height="965px">
                                <a target="_blank" href="http://www.parismatch.com/Actu/Politique/La-droite-limite-un-peu-la-casse-1287326">
                                    <div class="col s12">
                                        <div class="card perso">
                                            <div class="card-image">
                                                <img src="http://resize3-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/la-droite-limite-un-peu-la-casse-1287326/21494546-1-fre-FR/La-droite-limite-un-peu-la-casse.jpg">
                                                <span class="card-title">POLITIQUE</span>
                                            </div>
                                            <div class="card-content">
                                                <span class="card-title">La droite limite (un peu) la casse</span>
                                                <p class="chapo">Avec moins de 150 sièges obtenus à l'Assemblée nationale, la droite réalise un très mauvais score aux élections législatives. Mais cela reste mieux que ce qu’avaient anticipé les prévisions.</p>
                                                <div class="card-action">
                                                    <a target="_blank" class="media blue-text" href="http://www.parismatch.com/Actu/Politique/La-droite-limite-un-peu-la-casse-1287326">Paris Match</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a target="_blank" href="http://www.parismatch.com/Actu/Politique/Les-candidats-La-Republique-en-marche-face-aux-polemiques-1277444">
                                    <div class="col s12">
                                        <div class="card perso">
                                            <div class="card-image">
                                                <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/les-candidats-la-republique-en-marche-face-aux-polemiques-1277444/21367850-1-fre-FR/Les-candidats-La-Republique-en-marche-face-aux-polemiques.jpg">
                                                <span class="card-title">POLITIQUE</span>
                                            </div>
                                            <div class="card-content">
                                                <span class="card-title">Les candidats La République en marche face aux polémiques</span>
                                                <p class="chapo">Plusieurs candidats de La République en marche (LREM), rattrapés par leur passé, font face à la polémique.</p>
                                            </div>
                                            <div class="card-action">
                                                <a target="_blank" class="media blue-text" href="http://www.parismatch.com/Actu/Politique/Les-candidats-La-Republique-en-marche-face-aux-polemiques-1277444">Paris Match</a>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <a target="_blank" href="http://www.parismatch.com/Actu/Politique/Legislatives-les-ralliements-improbables-de-l-entre-deux-tours-1284332">
                                <div class="col l7 s12" height="965px">
                                    <div class="card large-large">
                                        <div class="card-image">
                                            <img src="http://resize-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/legislatives-les-ralliements-improbables-de-l-entre-deux-tours-1284332/21456038-5-fre-FR/Legislatives-les-ralliements-improbables-de-l-entre-deux-tours.jpg">
                                            <span class="card-title">POLITIQUE</span>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Les ralliements improbables de l'entre-deux-tours</span>
                                            <div class="chapo">
                                                <div>La défaite historique du Parti socialiste et le recul considérable de la droite face à la République en marche rebattent les cartes. Entre les deux tours des élections législatives, des alliances surprenantes se nouent.</div>
                                                <div id="chapo-ralliements-part2">
                                                    <ul>
                                                        <li class="li-point"><strong>Nord : un candidat FN soutient... la France insoumise</strong></li>
                                                        <li class="li-point"><strong>Somme : la candidate PS soutient le trublion Ruffin</strong></li>
                                                        <li class="li-point"><strong>Essonne : Hamon préfère la France insoumise à Valls</strong></li>
                                                        <li class="li-point"><strong>Yvelines : un suppléant PS préfère le vote blanc au vote En Marche!</strong></li>
                                                        <li class="li-point"><strong>Marseille : la suppléante de Mennucci n'est pas "en marche"</strong></li>
                                                        <li class="li-point"><strong>Deux-Sèvres : Royal préfère En Marche! à Batho, son ancienne porte-parole</strong></li>
                                                        <li class="li-point"><strong>Gironde : Une socialiste contre En Marche!</strong></li>
                                                        <li class="li-point"><strong>Dordogne : Le PS local roule avec la FI</strong></li>
                                                        <li class="li-point"><strong>Haute-Garonne : Des candidats FI omniprésents... et soutenus par certains PS</strong></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-action">
                                            <a target="_blank" class="media blue-text" href="http://www.parismatch.com/Actu/Politique/Legislatives-les-ralliements-improbables-de-l-entre-deux-tours-1284332">Paris Match</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="line" id="line18">
                            <a target="_blank" href="http://www.parismatch.com/Actu/Politique/Legislatives-a-l-entre-deux-tours-des-candidats-En-Marche-sechent-le-debat-1284929">
                                <div class="col s12 l8">
                                    <div class="card large" id="card_dealos">
                                        <div class="card-image">
                                            <img src="http://resize3-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/legislatives-a-l-entre-deux-tours-des-candidats-en-marche-sechent-le-debat-1284929/21463679-1-fre-FR/Legislatives-a-l-entre-deux-tours-des-candidats-En-Marche-sechent-le-debat.jpg" id="img_dealos">
                                            <span class="card-title">POLITIQUE</span>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">A l’entre-deux-tours, des candidats En Marche sèchent le débat</span>
                                            <p class="chapo">Plusieurs candidats marchistes, en ballottage pour les législatives, ont refusé de débattre avec leur adversaire à l’entre-deux-tours. Une stratégie qui a fait courir la rumeur d’une consigne nationale de LREM, rapidement démentie par le parti.</p>
                                            <div class="card-action">
                                                <a target="_blank" class="media blue-text" href="http://www.parismatch.com/Actu/Politique/Legislatives-a-l-entre-deux-tours-des-candidats-En-Marche-sechent-le-debat-1284929">Paris Match</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a target="_blank" href="http://www.parismatch.com/Actu/Politique/Le-PS-bientot-dans-le-rouge-1283684">
                                <div class="col s12 l4">
                                    <div class="card large" id="card_dealos">
                                        <div class="card-image">
                                            <img src="/public/img/img_ps.jpg">
                                            <span class="card-title">POLITIQUE</span>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Le PS bientôt dans le rouge ?</span>
                                            <p class="chapo">Après la défaite des législatives, les dotations du Parti socialiste devraient baisser de moitié.</p>
                                            <div class="card-action">
                                                <a target="_blank" class="media blue-text" href="http://www.parismatch.com/Actu/Politique/Le-PS-bientot-dans-le-rouge-1283684">Paris Match</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="line" id="line19">
                            <a target="_blank" href="http://www.parismatch.com/Actu/Politique/Dans-l-Essonne-Nicolas-Dupont-Aignan-vacille-1282814">
                                <div class="col s12">
                                    <div class="card large" id="card_dealos">
                                        <div class="card-image">
                                            <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/dans-l-essonne-nicolas-dupont-aignan-vacille-1282814/21437864-2-fre-FR/Dans-l-Essonne-Nicolas-Dupont-Aignan-vacille.jpg" id="img_dealos">
                                            <span class="card-title">POLITIQUE</span>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Dans l’Essonne, Nicolas Dupont-Aignan vacille</span>
                                            <p class="chapo">Le président de Debout la France est en ballotage défavorable dans son fief de l’Essonne, face au candidat de LREM.</p>
                                            <div class="card-action">
                                                <a target="_blank" class="media blue-text" href="http://www.parismatch.com/Actu/Politique/Dans-l-Essonne-Nicolas-Dupont-Aignan-vacille-1282814">Paris Match</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="line" id="line20">
                            <a target="_blank" href="http://www.parismatch.com/Actu/Politique/Dans-le-Gard-Gilbert-Collard-et-Marie-Sara-au-coude-a-coude-1282529">
                                <div class="col s12">
                                    <div class="card large" id="card_dealos">
                                        <div class="card-image">
                                            <img src="http://resize1-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/dans-le-gard-gilbert-collard-et-marie-sara-au-coude-a-coude-1282529/21433496-1-fre-FR/Dans-le-Gard-Gilbert-Collard-et-Marie-Sara-au-coude-a-coude.jpg" id="img_dealos">
                                            <span class="card-title">POLITIQUE</span>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Dans le Gard, Gilbert Collard et Marie Sara au coude-à-coude</span>
                                            <p class="chapo">Dans la deuxième circonscription du Gard, bastion historique du Front national, Gilbert Collard n’a devancé sa rivale de LREM que de 48 voix au premier tour des législatives.</p>
                                            <div class="card-action">
                                                <a target="_blank" class="media blue-text" href="http://www.parismatch.com/Actu/Politique/Dans-le-Gard-Gilbert-Collard-et-Marie-Sara-au-coude-a-coude-1282529">Paris Match</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="line" id="line21">
                            <a target="_blank" href="http://www.parismatch.com/Actu/Politique/Francois-Hollande-se-confie-sur-son-retrait-de-la-vie-publique-1280603#utm_term=Autofeed&utm_campaign=Echobox&utm_medium=Social&xtor=CS2-14&utm_source=Twitter&link_time=1497010655">
                                <div class="col s12 l4">
                                    <div class="card large">
                                        <div class="card-image">
                                            <img src="http://resize3-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/francois-hollande-se-confie-sur-son-retrait-de-la-vie-publique-1280603/21411143-1-fre-FR/Francois-Hollande-se-confie-sur-son-retrait-de-la-vie-publique.jpg">
                                            <span class="card-title">POLITIQUE</span>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">François Hollande se confie sur son retrait de la vie publique</span>
                                            <p class="chapo">De retour en Corrèze pour commémorer le massacre de Tulle, l'ancien chef de l'Etat s'est confié au journal local sur son avenir personnel et politique.</p>
                                        </div>
                                        <div class="card-action">
                                            <a target="_blank" class="media blue-text" href="http://www.parismatch.com/Actu/Politique/Francois-Hollande-se-confie-sur-son-retrait-de-la-vie-publique-1280603#utm_term=Autofeed&utm_campaign=Echobox&utm_medium=Social&xtor=CS2-14&utm_source=Twitter&link_time=1497010655">Paris Match</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a target="_blank" href="http://www.parismatch.com/Actu/Politique/Soupcons-d-emplois-fictifs-le-MoDem-nie-Philippe-defend-Bayrou-1280525#utm_term=Autofeed&utm_campaign=Echobox&utm_medium=Social&xtor=CS2-14&utm_source=Twitter&link_time=1497003489">
                                <div class="col s12 l8">
                                    <div class="card large">
                                        <div class="card-image">
                                            <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/soupcons-d-emplois-fictifs-le-modem-nie-philippe-defend-bayrou-1280525/21409640-1-fre-FR/Soupcons-d-emplois-fictifs-le-MoDem-nie-Philippe-defend-Bayrou.jpg">
                                            <span class="card-title">POLITIQUE</span>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Soupçons d'emplois fictifs : le MoDem nie, Philippe défend Bayrou</span>
                                            <p>Après la dénonciation anonyme d’un ex-collaborateur du MoDem, le parti tente de se défendre face aux accusations d’emplois fictifs.</p>
                                        </div>
                                        <div class="card-action">
                                            <a target="_blank" class="media blue-text" href="http://www.parismatch.com/Actu/Politique/Soupcons-d-emplois-fictifs-le-MoDem-nie-Philippe-defend-Bayrou-1280525#utm_term=Autofeed&utm_campaign=Echobox&utm_medium=Social&xtor=CS2-14&utm_source=Twitter&link_time=1497003489">Paris Match</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="line" id="line22">
                            <a target="_blank" href="http://www.parismatch.com/Actu/Politique/La-reforme-de-l-education-se-precise-1280117">
                                <div class="col s12">
                                    <div class="card large" id="card_dealos">
                                        <div class="card-image">
                                            <img src="http://resize-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/la-reforme-de-l-education-se-precise-1280117/21404552-1-fre-FR/La-reforme-de-l-education-se-precise.jpg" id="img_dealos">
                                            <span class="card-title">POLITIQUE</span>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">La réforme de l’éducation se précise</span>
                                            <p class="chapo">Jean-Michel Blanquer, le nouveau ministre de l’Education d’Emmanuel Macron, a présenté ce jeudi son projet de réforme dans les colonnes du «Parisien».</p>
                                            <div class="card-action">
                                                <a target="_blank" class="media blue-text" href="http://www.parismatch.com/Actu/Politique/La-reforme-de-l-education-se-precise-1280117">Paris Match</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="line" id="line23">
                            <a target="_blank" href="http://www.parismatch.com/Actu/Politique/Philippe-et-Penicaud-presentent-leur-projet-de-reforme-du-Code-du-travail-1278509">
                                <div class="col s12 l6">
                                    <div class="card large">
                                        <div class="card-image">
                                            <img src="http://resize1-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/philippe-et-penicaud-presentent-leur-projet-de-reforme-du-code-du-travail-1278509/21381905-1-fre-FR/Philippe-et-Penicaud-presentent-leur-projet-de-reforme-du-Code-du-travail.jpg">
                                            <span class="card-title">POLITIQUE</span>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Philippe et Pénicaud présentent leur projet de réforme du Code du travail</span>
                                            <p class="chapo">Au lendemain de la publication, par «Le Parisien», de l’avant-projet de loi pour réformer le Code du travail, le Premier ministre et la ministre de l’Education ont dévoilé leur feuille de route.</p>
                                        </div>
                                        <div class="card-action">
                                            <a target="_blank" class="media blue-text" href="http://www.parismatch.com/Actu/Politique/Philippe-et-Penicaud-presentent-leur-projet-de-reforme-du-Code-du-travail-1278509">Paris Match</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a target="_blank" href="http://www.parismatch.com/Actu/Politique/Que-prevoit-la-reforme-de-l-education-de-Blanquer-1278083">
                                <div class="col s12 l6">
                                    <div class="card large">
                                        <div class="card-image">
                                            <img src="http://resize-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/que-prevoit-la-reforme-de-l-education-de-blanquer-1278083/21376274-1-fre-FR/Que-prevoit-la-reforme-de-l-education-de-Blanquer.jpg">
                                            <span class="card-title">POLITIQUE</span>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Que prévoit la réforme de l'éducation de Blanquer?</span>
                                            <p>Le nouveau ministre de l'Education a prévu de revenir sur la réforme du collège de sa prédécesseure, de mettre en place le retour à la semaine de quatre jours à l'école primaire et la fin des devoirs à la maison.</p>
                                        </div>
                                        <div class="card-action">
                                            <a target="_blank" class="media blue-text" href="http://www.parismatch.com/Actu/Politique/Que-prevoit-la-reforme-de-l-education-de-Blanquer-1278083">Paris Match</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="line" id="line24">
                            <a target="_blank" href="http://www.parismatch.com/Actu/Politique/Reforme-du-Code-du-travail-que-prevoit-l-avant-projet-de-loi-1277441">
                                <div class="col s12 l6">
                                    <div class="card large">
                                        <div class="card-image">
                                            <img src="http://resize-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/reforme-du-code-du-travail-que-prevoit-l-avant-projet-de-loi-1277441/21368729-1-fre-FR/Reforme-du-Code-du-travail-que-prevoit-l-avant-projet-de-loi.jpg">
                                            <span class="card-title">POLITIQUE</span>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Réforme du Code du travail : que prévoit l’avant-projet de loi?</span>
                                            <p class="chapo">Un document publié aujourd’hui par «Le Parisien» recense neuf ordonnances de réforme du Code du Travail portant sur la «négociation à la carte dans les entreprises».</p>
                                        </div>
                                        <div class="card-action">
                                            <a target="_blank" class="media blue-text" href="http://www.parismatch.com/Actu/Politique/Reforme-du-Code-du-travail-que-prevoit-l-avant-projet-de-loi-1277441">Paris Match</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a target="_blank" href="http://www.parismatch.com/Actu/Politique/Notre-Dame-des-Landes-de-nouveaux-mediateurs-nommes-par-Matignon-1275809">
                                <div class="col s12 l6">
                                    <div class="card large">
                                        <div class="card-image">
                                            <img src="http://resize3-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/notre-dame-des-landes-de-nouveaux-mediateurs-nommes-par-matignon-1275809/21347357-1-fre-FR/Notre-Dame-des-Landes-de-nouveaux-mediateurs-nommes-par-Matignon.jpg">
                                            <span class="card-title">POLITIQUE</span>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Notre-Dame-des-Landes : de nouveaux médiateurs nommés par Matignon</span>
                                            <p>Trois médiateurs de la société civile ont été nommés par Matignon pour mettre un point final au projet d’aéroport à Notre-Dame-des-Landes -et ce, d’ici décembre.</p>
                                        </div>
                                        <div class="card-action">
                                            <a target="_blank" class="media blue-text" href="http://www.parismatch.com/Actu/Politique/Notre-Dame-des-Landes-de-nouveaux-mediateurs-nommes-par-Matignon-1275809">Paris Match</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="line" id="line25">
                            <a target="_blank" href="https://usbeketrica.com/article/donner-la-parole-aux-muets">
                                <div class="col s12">
                                    <div class="card large" id="card_dealos">
                                        <div class="card-image">
                                            <img src="https://static.usbeketrica.com/images/thumb_840xh/59316335c510b.jpg" id="img_dealos">
                                            <span class="card-title">FUTUR</span>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Donner la parole aux muets</span>
                                            <p class="chapo">Un groupe de chercheurs français planche actuellement sur une interface cerveau-machine qui pourrait permettre de redonner la parole aux personnes muettes atteintes d'aphasie.</p>
                                            <div class="card-action">
                                                <a target="_blank" class="media blue-text" href="https://usbeketrica.com/article/donner-la-parole-aux-muets">Usbek & Rica</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="line" id="line26">
                            <a target="_blank" href="http://www.parismatch.com/Actu/Politique/La-droite-et-la-gauche-a-boulets-rouges-contre-Ferrand-1275200">
                                <div class="col s12">
                                    <div class="card large" id="card_dealos">
                                        <div class="card-image">
                                            <img src="http://resize3-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/la-droite-et-la-gauche-a-boulets-rouges-contre-ferrand-1275200/21313253-1-fre-FR/La-droite-et-la-gauche-a-boulets-rouges-contre-Ferrand.jpg" id="img_dealos">
                                            <span class="card-title">POLITIQUE</span>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">La droite et la gauche à boulets rouges contre Ferrand</span>
                                            <p class="chapo">A gauche, certains évoquent l'affaire Cahuzac. A droite, on parle de «tromperie sur la marchandise». Ce jeudi, l'ouverture d'une enquête préliminaire autour d'une transaction immobilière ayant bénéficié à la compagne de Richard Ferrand agite le monde politique.</p>
                                            <div class="card-action">
                                                <a target="_blank" class="media blue-text" href="http://www.parismatch.com/Actu/Politique/La-droite-et-la-gauche-a-boulets-rouges-contre-Ferrand-1275200">Paris Match</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="line" id="line27">
                            <a target="_blank" href="http://www.parismatch.com/Actu/Politique/Revue-de-presse-de-l-election-presidentielle-1250810">
                                <div class="col l7 s12" height="965px">
                                    <div class="card large-large">
                                        <div class="card-image">
                                            <img src="http://resize-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/revue-de-presse-de-l-election-presidentielle-1250810/21018143-1-fre-FR/Revue-de-presse-de-l-election-presidentielle.jpg">
                                            <span class="card-title">POLITIQUE</span>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Le triomphe d'Emmanuel Macron à la une de la presse française</span>
                                            <div class="chapo">
                                                Au soir de la victoire d’Emmanuel Macron, les unes des journaux sont déjà prêtes. Paris Match a sélectionné le meilleur de la presse française consacrée à l’élection présidentielle.
                                                <div id="chapo-une-macron-part2">
                                                    <ul>
                                                        <li class="li-point"><strong>Libération : "Bien fait / Bien joué"</strong></li>
                                                        <li class="li-point"><strong>Le Figaro : "La victoire en marchant"</strong></li>
                                                        <li class="li-point"><strong>L'Express : "Le Kid"</strong></li>
                                                        <li class="li-point"><strong>Les Échos : "La France qui ose"</strong></li>
                                                        <li class="li-point"><strong>L'Obs : "Macron Président : numéro spécial 60 pages"</strong></li>
                                                        <li class="li-point"><strong>Le JDD : "Le nouveau président"</strong></li>
                                                        <li class="li-point"><strong>La Voix du Nord : "Un Touquettois à l'Élysée"</strong></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-action">
                                            <a target="_blank" class="media blue-text" href="http://www.parismatch.com/Actu/Politique/Revue-de-presse-de-l-election-presidentielle-1250810">Paris Match</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="col s12 l5" height="965px">
                                <a target="_blank" href="http://www.parismatch.com/Actu/Politique/Les-deux-premiers-discours-du-president-Macron-analyses-1250927">
                                    <div class="col s12">
                                        <div class="card">
                                            <div class="card-image">
                                                <img src="http://resize1-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/les-deux-premiers-discours-du-president-macron-analyses-1250927/21019589-1-fre-FR/Les-deux-premiers-discours-du-president-Macron-analyses.jpg">
                                                <span class="card-title">POIDS DES MOTS</span>
                                            </div>
                                            <div class="card-content">
                                                <span class="card-title">Les deux premiers discours du président Macron analysés</span>
                                                <p class="chapo">«Le Poids des Mots» a analysé les premières interventions du Président élu le 7 mai, Emmanuel Macron.</p>
                                            </div>
                                            <div class="card-action">
                                                <a target="_blank" class="media blue-text" href="http://www.parismatch.com/Actu/Politique/Les-deux-premiers-discours-du-president-Macron-analyses-1250927">Paris Match</a>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a target="_blank" href="http://www.parismatch.com/Actu/Politique/Emmanuel-Macron-en-12-dates-clefs-1250732">
                                    <div class="col s12">
                                        <div class="card">
                                            <div class="card-image">
                                                <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/emmanuel-macron-en-12-dates-clefs-1250732/21016781-1-fre-FR/Emmanuel-Macron-en-12-dates-clefs.jpg">
                                                <span class="card-title">POLITIQUE</span>
                                            </div>
                                            <div class="card-content">
                                                <span class="card-title">Emmanuel Macron en 12 dates-clefs</span>
                                                <p class="chapo">Le parcours d'Emmanuel Macron en douze dates-clefs, de son arrivée à l'Inspection générale des finances en 2004 à sa victoire à l'élection présidentielle le 7 mai 2017.</p>
                                            </div>
                                            <div class="card-action">
                                                <a target="_blank" class="media blue-text" href="http://www.parismatch.com/Actu/Politique/Emmanuel-Macron-en-12-dates-clefs-1250732">Paris Match</a>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% include ./partials/footer.ejs %>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/public/js/materialize.js"></script>
        <script type="text/javascript" src="/public/js/application.js"></script>
    </body>
</html>