<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../public/css/materialize.css" media="screen,projection">
    <link rel="stylesheet" href="../public/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/png" href="/public/img/favicon.png"/>
</head>

<body>
<% include ./partials/header.ejs %>

<div id="conteneur1" class="container">
    <div class="element">
        <div class="row">
            <% include partials/articles/line79.ejs %>
            <% include partials/articles/line78.ejs %>
            <% include partials/articles/line77.ejs %>
            <% include partials/articles/line76.ejs %>
            <% include partials/articles/line75.ejs %>
            <% include partials/articles/line74.ejs%>
            <% include partials/articles/line73.ejs%>
            <% include partials/articles/line72.ejs%>
            <% include partials/articles/line71.ejs%>
            <% include partials/articles/line70.ejs%>
            <% include partials/articles/line69.ejs%>
            <% include partials/articles/line68.ejs%>
            <% include partials/articles/line67.ejs%>
            <% include partials/articles/line66.ejs%>
            <% include partials/articles/line65.ejs%>
            <% include partials/articles/line64.ejs%>
            <% include partials/articles/line63.ejs%>
            <% include partials/articles/line62.ejs%>
            <% include partials/articles/line61.ejs%>
            <% include partials/articles/line60.ejs%>
            <% include partials/articles/line59.ejs%>
            <% include partials/articles/line58.ejs%>
            <% include partials/articles/line57.ejs%>
            <% include partials/articles/line56.ejs%>
            <% include partials/articles/line55.ejs%>
            <% include partials/articles/line54.ejs%>
            <% include partials/articles/line53.ejs%>
            <% include partials/articles/line52.ejs%>
            <% include partials/articles/line51.ejs%>
            <% include partials/articles/line50.ejs%>
            <% include partials/articles/line49.ejs%>
            <% include partials/articles/line48.ejs%>
            <% include partials/articles/line47.ejs%>
            <% include partials/articles/line46.ejs%>
            <% include partials/articles/line45.ejs%>
            <% include partials/articles/line44.ejs%>
            <% include partials/articles/line43.ejs%>
            <% include partials/articles/line42.ejs%>
            <% include partials/articles/line41.ejs%>
            <% include partials/articles/line40.ejs%>
            <% include partials/articles/line39.ejs%>
            <% include partials/articles/line38.ejs%>
            <% include partials/articles/line37.ejs%>
            <% include partials/articles/line36.ejs%>
            <% include partials/articles/line35.ejs%>
            <% include partials/articles/line34.ejs%>
            <% include partials/articles/line33.ejs%>
            <% include partials/articles/line32.ejs%>
            <% include partials/articles/line31.ejs%>
            <% include partials/articles/line30.ejs%>
            <% include partials/articles/line29.ejs%>
            <% include partials/articles/line28.ejs%>
            <% include partials/articles/line27.ejs%>
            <% include partials/articles/line26.ejs%>
            <% include partials/articles/line25.ejs%>
            <% include partials/articles/line24.ejs%>
            <% include partials/articles/line23.ejs%>
            <% include partials/articles/line22.ejs%>
            <% include partials/articles/line21.ejs%>
            <% include partials/articles/line20.ejs%>
            <% include partials/articles/line19.ejs%>
            <% include partials/articles/line18.ejs%>
            <% include partials/articles/line17.ejs%>
            <% include partials/articles/line16.ejs%>
            <% include partials/articles/line15.ejs%>
            <% include partials/articles/line14.ejs%>
            <% include partials/articles/line13.ejs%>
            <% include partials/articles/line12.ejs%>
            <% include partials/articles/line11.ejs%>
            <% include partials/articles/line10.ejs%>
            <% include partials/articles/line9.ejs%>
            <% include partials/articles/line8.ejs%>
            <% include partials/articles/line7.ejs%>
            <% include partials/articles/line6.ejs%>
            <% include partials/articles/line5.ejs%>
            <% include partials/articles/line4.ejs%>
            <% include partials/articles/line3.ejs%>
            <% include partials/articles/line2.ejs%>
            <% include partials/articles/line1.ejs%>
        </div>
    </div>
</div>
<% include ./partials/footer.ejs %>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/public/js/materialize.js"></script>
<script type="text/javascript" src="/public/js/application.js"></script>
</body>
</html>