<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <script type="text/javascript" src="/public/js/jsontohtml.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../public/css/materialize.css" media="screen,projection">
    <link rel="stylesheet" href="../public/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/png" href="/public/img/favicon.png"/>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col s2">
                <% include ./partials/part1.ejs %>
            </div>

            <div class="col s6">
                <% include ./partials/part2.ejs %>
            </div>

            <div class="col s4">
                <% include ./partials/part3.ejs %>
            </div>
            <div id="jdata"></div>
        </div>
    </div>

<% include ./partials/footer.ejs %>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/public/js/materialize.js"></script>
<script type="text/javascript" src="/public/js/application.js"></script>
<script>
    var jdata = document.getElementById(jdata);
    console.log("jdata is " + jdata);
    var requestURL = '/public/Publication.js';
    var request = new XMLHttpRequest();
    request.open('GET', requestURL);

    request.onload = function() {
        var data = request.response;
        generateData(data);
    }
    console.log("data is " + data);

    function generateData(jsonObj) {
        var myDate = document.createElement('h1');
        myDate.textContent = jsonObj['Date'];
        jdata.appendChild(myDate);

//        var myPara = document.createElement('p');
//        myPara.textContent = 'Hometown: ' + jsonObj['homeTown'] + ' // Formed: ' + jsonObj['formed'];
//        header.appendChild(myPara);
    }
    console.log("myDate is " + myDate);
</script>
</body>
</html>