<!--DEUX PETITS VERTICAUX + UN GRAND-->
<div class="col s12 l5" height="965px">
    <div class="col s12">
        <div class="card medium">
            <div class="card-image">
                <img src="">
                <span class="card-title">RUBRIQUE</span>
            </div>
            <div class="card-content">
                <span class="card-title">Titre</span>
                <p class="chapo">Chapo</p>
                <div class="card-action">
                    <a class="media blue-text" href="">Média</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12">
        <div class="card perso">
            <div class="card-image">
                <img src="">
                <span class="card-title">RUBRIQUE</span>
            </div>
            <div class="card-content">
                <span class="card-title">Titre</span>
                <p class="chapo">Verra-t-on bientôt une colonie minière sur la Lune ? Alléchée par la promesse de ressources extraterrestres inexploitées, l’industrie minière pourrait bien devenir le fer de lance de la conquête spatiale.</p>
            </div>
            <div class="card-action">
                <a class="media blue-text" href="">Média</a>
            </div>
        </div>
    </div>
</div>
<div class="col l7 s12" height="965px">
    <div class="card large-large">
        <div class="card-image">
            <img src="">
            <span class="card-title">RUBRIQUE</span>
        </div>
        <div class="card-content">
            <span class="card-title">Titre</span>
            <p class="chapo">Chapo</p>
        </div>
        <div class="card-action">
            <a class="media blue-text" href="">Média</a>
        </div>
    </div>
</div>

<!--SUR TOUTE LA LONGUEUR-->
<div class="col s12">
    <div class="card large" id="card_dealos">
        <div class="card-image">
            <img src="" id="img_dealos">
            <span class="card-title">RUBRIQUE</span>
        </div>
        <div class="card-content">
            <span class="card-title">Titre</span>
            <p class="chapo">Chapo</p>
            <div class="card-action">
                <a class="media blue-text" href="">Média</a>
            </div>
        </div>
    </div>
</div>