#conteneur_global
{
    display: flex;
    flex-wrap: wrap;
    margin-left:5%;
}

#conteneur1
{
    display: flex;
    flex-wrap: wrap;
}

#conteneur2
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#conteneur3
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.element
{
    margin: auto;
}

img {
    background-size: cover;
    max-width: 100%;
    height: auto;
}

img.logo{
    height:23px;
}

#logo_twitter{
    height:30px;
}

#nav {
    margin-left: 17%;
    margin-right: 16%;
    color: #d2d6db;
}

nav{
    background-color: #1F2330;
}

.card-title{
    text-shadow: 0.3px 0.3px #1F2330;
}

.rubrique{
    font-weight:bold;
}

.chapo{
    margin-top: 1%;
    margin-bottom: 1%;
}

.media{
    text-align: right;
}

.blue-text:hover{
    color:#3fb4ff !important;
}

#img_potiron{
    top: -40px;

}

#card_bangl{
    height: 485px;
}

#img_dealos{
    top: -111px;
}

#card_dealos{
    height: 485px;
}