html{
    width: 100%;
    height:100%;
}

body{
    height:100%;
}

a{
    color: black;
}

li{
    list-style-type: circle; !important
}

#conteneur_global
{
    display: flex;
    flex-wrap: wrap;
    margin-left:5%;
}

#conteneur1
{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
}

#conteneur2
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#conteneur3
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.element
{
    margin: auto;
}

img {
    background-size: cover;
    max-width: 100%;
    height: auto;
}

img.logo{
    height:23px;
}

#logo_twitter{
    height:30px;
}

#nav {
    margin-left: 17%;
    margin-right: 16%;
    color: #d2d6db;
}

nav{
    background-color: #1F2330;
}

.card-title{
    text-shadow: 0.3px 0.3px #1F2330;
}

.rubrique{
    font-weight:bold;
}

.chapo{
    margin-top: 1%;
    margin-bottom: 1%;
}

.media{
    text-align: right;
}

.blue-text:hover{
    color:#3fb4ff !important;
}

#img_potiron{
    top: -40px;

}

#card_bangl{
    height: 485px;
}

#img_dealos{
    top: -111px;
}

#card_dealos{
    height: 485px;
}

#chapo-ralliements-part2{
    margin-left: 20px;
    margin-top: 25px;
}

#chapo-une-macron-part2{
    margin-left: 20px;
    margin-top: 35px;
}

.li-point{
    list-style-type: disc;
}

#footer {
    position: static;
    left:0;
    bottom:0;
    width:100%;
    line-height: 60px;
    height: 60px;
    background:#f5f5f5;
}

#bio{
    position: fixed;
    width: 15%;
    z-index: 99;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
}

.line{
    display: none;
}

/*CV*/

.para{
    padding: 7px !important;
}

.cv_logo{
    height:70px;
    float: right;
}

.taille{
    height:650px;
}

#cv_container{
    min-width:500px;
}

#cv_header{
    background-color: rgba(193, 193, 193, 0.17)
}

#cv_prez{
    height:295px;
}

#cv_prez2{
    margin-top: 22px;
}

#cv_pic{
    height:200px;
    margin-bottom: 30px;
}

#cv_title{
    text-align: center;
    font-size:large;
}

#medium_logo{
    height:50px;
}

#small_logo{
    height:30px;
}

#card_formation{
    height: 355px;
}

#tiny_logo{
    height:20px;
}

.margin-top-60{
    margin-top: 60px;
}