<div class="line" id="line49">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Quand-Corinne-Lepage-denoncait-des-emplois-fictifs-au-MoDem-1199927">
        <div class="col s12">
            <div class="card large" id="card_dealos">
                <div class="card-image">
                    <img src="http://resize1-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/quand-corinne-lepage-denoncait-des-emplois-fictifs-au-modem-1199927/20344022-1-fre-FR/Quand-Corinne-Lepage-denoncait-des-emplois-fictifs-au-MoDem.jpg"
                         id="img_dealos">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Quand Corinne Lepage dénonçait des emplois fictifs au MoDem</span>
                    <p class="chapo">Certains fillonistes ont exhumé sur les réseaux sociaux un extrait du livre «Les mains propres», publié par Corinne Lepage en 2014, dans lequel l’ex-ministre de l’Environnement dénonçait le recours à des emplois fictifs d’assistants parlementaires au MoDem. Le MoDem dément avec virulence.</p>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/Quand-Corinne-Lepage-denoncait-des-emplois-fictifs-au-MoDem-1199927">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>