<div class="line" id="line44">
    <a target="_blank" href="http://www.parismatch.com/Actu/Politique/Le-petit-fils-de-Jacques-Chirac-rejoint-Emmanuel-Macron-1208855">
        <div class="col s12 l4">
            <div class="card large">
                <div class="card-image">
                    <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/le-fn-veut-faire-peau-neuve-1288988/21515402-1-fre-FR/Le-FN-veut-faire-peau-neuve.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Le petit-fils de Jacques Chirac rejoint Emmanuel Macron</span>
                    <p class="chapo">Martin Rey-Chirac a rejoint En Marche ! il y a un an, venant grossir les rangs des chiraquiens partisans d’Emmanuel Macron.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Le-petit-fils-de-Jacques-Chirac-rejoint-Emmanuel-Macron-1208855">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Cannabis-quels-candidats-sont-pour-la-legalisation-1206710">
        <div class="col s12 l8">
            <div class="card large">
                <div class="card-image">
                    <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/cannabis-quels-candidats-sont-pour-la-legalisation-1206710/20434352-1-fre-FR/Cannabis-quels-candidats-sont-pour-la-legalisation.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Cannabis : quels candidats sont pour la légalisation ?</span>
                    <p>Malgré son interdiction en France, un tiers des adultes a déjà consommé du cannabis. De retour dans le débat politique, la question de la légalisation a gagné les programmes des présidentiables.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Cannabis-quels-candidats-sont-pour-la-legalisation-1206710">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
</div>