<div class="line" id="line47">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Les-moments-forts-de-la-campagne-de-Marine-Le-Pen-1244822">
        <div class="col s12 l8">
            <div class="card large card-panel hoverable" id="card_dealos">
                <div class="card-image">
                    <img src="http://resize-parismatch.ladmedia.fr/r/901,,forcex/img/var/news/storage/images/paris-match/actu/politique/les-moments-forts-de-la-campagne-de-marine-le-pen-1244822/campagnelepen-11/20939057-1-fre-FR/CampagneLePen-11.jpg"
                         id="img_dealos">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Les moments forts de la campagne de Marine Le Pen</span>
                    <p class="chapo">De sa déclaration de candidature le 8 février 2016 au débat de l'entre-deux-tours le 3 mai, retour sur la campagne présidentielle de la candidate du Front national.</p>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/Les-moments-forts-de-la-campagne-de-Marine-Le-Pen-1244822">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <a target="_blank" href="http://www.parismatch.com/Actu/Politique/L-album-de-jeunesse-de-Marine-Le-Pen-1248167">
        <div class="col s12 l4">
            <div class="card large card-panel hoverable" id="card_dealos">
                <div class="card-image">
                    <img src="http://resize-parismatch.ladmedia.fr/r/901,,forcex/img/var/news/storage/images/paris-match/actu/politique/l-album-de-jeunesse-de-marine-le-pen-1248167/mlp-jeune-1/20982890-1-fre-FR/Mlp-jeune-1.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">L'album de jeunesse de Marine Le Pen</span>
                    <p class="chapo">Découvrez en images la jeunesse de la candidate Marine Le Pen, présidente en congé du Front national, qui s’opposera à Emmanuel Macron au second tour de l’élection présidentielle.</p>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/L-album-de-jeunesse-de-Marine-Le-Pen-1248167">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>