<div class="line" id="line40">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Les-affiches-de-campagne-des-candidats-1223417">
        <div class="col s12 l5">
            <div class="card large">
                <div class="card-image">
                    <img src="http://resize-parismatch.ladmedia.fr/r/,600,forcey/img/var/news/storage/images/paris-match/actu/politique/les-affiches-de-campagne-des-candidats-1223417/affiche-fillon/20651450-1-fre-FR/Affiche-fillon.png">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Les affiches de campagne des candidats</span>
                    <p class="chapo">Sourires apaisants, iconographie sobre et slogans accrocheurs : les affiches de campagne des candidats ont colonisé l’espace urbain.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Les-affiches-de-campagne-des-candidats-1223417">Paris Match</a>
                </div>
            </div>
        </div>
    </a>
    <a target="_blank" href="http://www.parismatch.com/Actu/Politique/Presidentielle-2017-que-disent-les-petits-candidats-1221101">
        <div class="col s12 l7">
            <div class="card large">
                <div class="card-image">
                    <img src="http://resize1-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/presidentielle-2017-que-disent-les-petits-candidats-1221101/20621774-1-fre-FR/Presidentielle-2017-que-disent-les-petits-candidats.jpg">
                    <span class="card-title">DATA</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Présidentielle 2017 : que disent les "petits candidats"?</span>
                    <p>Paris Match et sa cellule de datajournalisme, Data Match, se penchent sur les discours des candidats avec «Le Poids des mots». Retrouvez ici nos résultats et nos analyses pour Nicolas Dupont-Aignan, Jean Lassalle, Philippe Poutou, Jacques Cheminade, Nathalie Arthaud et François Asselineau.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Presidentielle-2017-que-disent-les-petits-candidats-1221101">Paris Match</a>
                </div>
            </div>
        </div>
    </a>
</div>