<div class="line" id="line66">
    <a target="_blank"
       href="http://www.rfi.fr/asie-pacifique/20170717-chine-winnie-ourson-censure-apres-avoir-ete-compare-xi-jinping">
        <div class="col s12">
            <div class="card large card-panel hoverable" id="card_dealos">
                <div class="card-image">
                    <img src="http://scd.rfi.fr/sites/filesrfi/imagecache/rfi_16x9_1024_578/sites/images.rfi.fr/files/aef_image/winnie-jinping-2014_0.jpg"
                         id="img_dealos">
                    <span class="card-title">INTERNATIONAL</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Chine : Winnie l’Ourson censuré après avoir été comparé à Xi Jinping</span>
                    <p class="chapo">À quelques mois du Congrès quinquennal du Parti communiste chinois,
                        Winnie l’Ourson a été censuré sur les réseaux sociaux en Chine après avoir été
                        comparé par le passé au président Xi Jinping.</p>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.rfi.fr/asie-pacifique/20170717-chine-winnie-ourson-censure-apres-avoir-ete-compare-xi-jinping">RFI</a>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>