<div class="line" id="line3">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Qui-est-dans-la-team-Cope-1073725">
        <div class="col s12 l6">
            <div class="card large card-panel hoverable">
                <div class="card-image">
                    <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/qui-est-dans-la-team-cope-1073725/15336406-1-fre-FR/Qui-est-dans-la-team-Cope.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Qui est dans la team Copé?</span>
                    <p class="chapo">L'ancien président de l'UMP s'est lancé dans la campagne de la primaire avec quelques fidèles. Portraits.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Qui-est-dans-la-team-Cope-1073725">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Qui-est-dans-la-team-Sarkozy-1070878">
        <div class="col s12 l6">
            <div class="card large card-panel hoverable">
                <div class="card-image">
                    <img src="http://resize1-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/qui-est-dans-la-team-sarkozy-1070878/15298828-1-fre-FR/Qui-est-dans-la-team-Sarkozy.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Qui est dans la team Sarkozy?</span>
                    <p>Pour sa campagne en vue de la primaire de la droite et du centre, Nicolas Sarkozy s'est entouré de plusieurs nouveaux venus. Portraits.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Qui-est-dans-la-team-Sarkozy-1070878">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
</div>