<div class="line" id="line6">
    <div class="col s12 l5" height="965px">
        <a target="_blank"
           href="http://www.parismatch.com/Actu/Politique/Les-reactions-de-la-gauche-a-l-annonce-de-la-candidature-de-Manuel-Valls-1136993">
            <div class="col s12">
                <div class="card perso">
                    <div class="card-image">
                        <img src="http://resize1-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/les-reactions-de-la-gauche-a-l-annonce-de-la-candidature-de-manuel-valls-1136993/18566915-1-fre-FR/Les-reactions-de-la-gauche-a-l-annonce-de-la-candidature-de-Manuel-Valls.jpg">
                        <span class="card-title">POLITIQUE</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title">La gauche n'est pas emballée par Manuel Valls</span>
                        <p class="chapo">A trois semaines du premier tour de la primaire de la gauche, Manuel Valls est loin du plébiscite au sein du Parti socialiste.</p>
                        <div class="card-action">
                            <a target="_blank" class="media blue-text"
                               href="http://www.parismatch.com/Actu/Politique/Les-reactions-de-la-gauche-a-l-annonce-de-la-candidature-de-Manuel-Valls-1136993">Paris
                                Match</a>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a target="_blank"
           href="http://www.parismatch.com/Actu/Politique/La-carriere-de-Manuel-Valls-en-images-1136102">
            <div class="col s12">
                <div class="card perso">
                    <div class="card-image">
                        <img src="http://resize-parismatch.ladmedia.fr/r/901,,forcex/img/var/news/storage/images/paris-match/actu/politique/la-carriere-de-manuel-valls-en-images-1136102/manuel-valls-en-mars-1998/18558536-1-fre-FR/Manuel-Valls-en-mars-1998.jpg">
                        <span class="card-title">POLITIQUE</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title">L'ascension de Manuel Valls en images</span>
                        <p class="chapo">Le Premier ministre Manuel Valls a annoncé ce soir sa candidature à la primaire présidentielle socialiste, depuis la mairie de son fief électoral d’Évry, dans l'Essonne. L’occasion pour Paris Match de revenir en images sur son parcours.</p>
                    </div>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/La-carriere-de-Manuel-Valls-en-images-1136102">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Le-remboursement-de-l-IVG-divise-le-Front-national-1138433">
        <div class="col l7 s12" id="para_assist-parl">
            <div class="card large-large">
                <div class="card-image">
                    <img src="http://resize1-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/le-remboursement-de-l-ivg-divise-le-front-national-1138433/18588467-1-fre-FR/Le-remboursement-de-l-IVG-divise-le-Front-national.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Le remboursement de l’IVG divise le Front national</span>
                    <div class="chapo">
                        <div>
                            Depuis le début de la semaine, le Front national se divise sur la question du remboursement de l’interruption volontaire de grossesse (IVG). Contempteurs d’un remboursement «illimité», Marion Maréchal-Le Pen et ses soutiens s’opposent à Marine Le Pen et Florian Philippot, qui ne souhaitent pas revenir sur le dispositif déjà en place.
                        </div>
                        <div id="chapo-une-macron-part2">
                            #Marionetmoi : le hashtag a été partagé plus de 700 fois depuis mercredi 7 décembre. Sur les tweets, des messages de soutien et des selfies avec Marion Maréchal-Le Pen, décrite comme «seule et isolée» au FN suite à son souhait de remettre en cause le remboursement «illimité» de l'avortement.
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Le-remboursement-de-l-IVG-divise-le-Front-national-1138433">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
</div>