<div class="line" id="line48">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Exclusif-Les-mots-du-debat-le-plus-dur-de-la-Ve-Republique-1249400">
        <div class="col s12">
            <div class="card large" id="card_dealos">
                <div class="card-image">
                    <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/exclusif-les-mots-du-debat-le-plus-dur-de-la-ve-republique-1249400/20998319-1-fre-FR/Exclusif-Les-mots-du-debat-le-plus-dur-de-la-Ve-Republique.jpg"
                         id="img_dealos">
                    <span class="card-title">DATA</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Les mots du débat le plus dur de la Ve République</span>
                    <p class="chapo">Quels mots Emmanuel Macron et Marine Le Pen ont-ils le plus prononcés durant le débat de l'entre-deux-tours, mercredi? Avec l'application web «Le Poids des mots», Data Match vous livre les résultats d'une analyse exclusive.</p>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/Exclusif-Les-mots-du-debat-le-plus-dur-de-la-Ve-Republique-1249400">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>