<div class="line" id="line20">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Dans-le-Gard-Gilbert-Collard-et-Marie-Sara-au-coude-a-coude-1282529">
        <div class="col s12">
            <div class="card large" id="card_dealos">
                <div class="card-image">
                    <img src="http://resize1-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/dans-le-gard-gilbert-collard-et-marie-sara-au-coude-a-coude-1282529/21433496-1-fre-FR/Dans-le-Gard-Gilbert-Collard-et-Marie-Sara-au-coude-a-coude.jpg"
                         id="img_dealos">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Dans le Gard, Gilbert Collard et Marie Sara au coude-à-coude</span>
                    <p class="chapo">Dans la deuxième circonscription du Gard, bastion historique du Front
                        national, Gilbert Collard n’a devancé sa rivale de LREM que de 48 voix au premier
                        tour des législatives.</p>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/Dans-le-Gard-Gilbert-Collard-et-Marie-Sara-au-coude-a-coude-1282529">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>