<div class="line" id="line40">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Presidentielle-2017-Vers-un-taux-record-d-abstention-1233185">
        <div class="col s12 l5">
            <div class="card large">
                <div class="card-image">
                    <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/presidentielle-2017-vers-un-taux-record-d-abstention-1233185/20791028-1-fre-FR/Presidentielle-2017-Vers-un-taux-record-d-abstention.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Présidentielle 2017 : Vers un taux record d’abstention?</span>
                    <p class="chapo">Notre sondage quotidien Ifop-Fiducial annonce un taux d'abstention record à 31% pour le premier tour de l'élection présidentielle, le 23 avril.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Presidentielle-2017-Vers-un-taux-record-d-abstention-1233185">Paris Match</a>
                </div>
            </div>
        </div>
    </a>
    <a target="_blank" href="http://www.parismatch.com/Actu/Politique/La-fiscalite-dans-le-programme-des-candidats-1223537">
        <div class="col s12 l7">
            <div class="card large">
                <div class="card-image">
                    <img src="http://resize-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/la-fiscalite-dans-le-programme-des-candidats-1223537/20651753-1-fre-FR/La-fiscalite-dans-le-programme-des-candidats.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">La fiscalité dans le programme des candidats</span>
                    <p>Comment lutter contre la fraude fiscale? Faut-il baisser les charges salariales? Supprimer ou renforcer l’ISF? Résumé des réformes fiscales proposées par les candidats à la présidentielle.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/La-fiscalite-dans-le-programme-des-candidats-1223537">Paris Match</a>
                </div>
            </div>
        </div>
    </a>
</div>