<div class="line" id="line52">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Reforme-du-Code-du-travail-que-prevoit-l-avant-projet-de-loi-1277441">
        <div class="col s12 l6">
            <div class="card large">
                <div class="card-image">
                    <img src="http://resize-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/reforme-du-code-du-travail-que-prevoit-l-avant-projet-de-loi-1277441/21368729-1-fre-FR/Reforme-du-Code-du-travail-que-prevoit-l-avant-projet-de-loi.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Réforme du Code du travail : que prévoit l’avant-projet de loi?</span>
                    <p class="chapo">Un document publié aujourd’hui par «Le Parisien» recense neuf
                        ordonnances de réforme du Code du Travail portant sur la «négociation à la carte
                        dans les entreprises».</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Reforme-du-Code-du-travail-que-prevoit-l-avant-projet-de-loi-1277441">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Notre-Dame-des-Landes-de-nouveaux-mediateurs-nommes-par-Matignon-1275809">
        <div class="col s12 l6">
            <div class="card large">
                <div class="card-image">
                    <img src="http://resize3-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/notre-dame-des-landes-de-nouveaux-mediateurs-nommes-par-matignon-1275809/21347357-1-fre-FR/Notre-Dame-des-Landes-de-nouveaux-mediateurs-nommes-par-Matignon.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Notre-Dame-des-Landes : de nouveaux médiateurs nommés par Matignon</span>
                    <p>Trois médiateurs de la société civile ont été nommés par Matignon pour mettre un
                        point final au projet d’aéroport à Notre-Dame-des-Landes -et ce, d’ici décembre.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Notre-Dame-des-Landes-de-nouveaux-mediateurs-nommes-par-Matignon-1275809">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
</div>