<div class="line" id="line13">
    <div class="col s12 l5" height="965px">
        <a target="_blank"
           href="http://www.rfi.fr/asie-pacifique/20170708-peine-mort-abolie-mongolie-tsakhia-elbegdorj">
            <div class="col s12">
                <div class="card perso">
                    <div class="card-image">
                        <img src="http://scd.rfi.fr/sites/filesrfi/imagecache/rfi_16x9_1024_578/sites/images.rfi.fr/files/aef_image/Fresnes%20prison.jpg">
                        <span class="card-title">INTERNATIONAL</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title">La peine de mort abolie en Mongolie</span>
                        <p class="chapo">Le 1er juillet, la Mongolie est devenue le 105e pays du monde à
                            abolir la peine de mort, l'aboutissement d’un processus amorcé en 2010 par le
                            désormais ex-président Tsakhia Elbegdorj.</p>
                        <div class="card-action">
                            <a target="_blank" class="media blue-text"
                               href="http://www.rfi.fr/asie-pacifique/20170708-peine-mort-abolie-mongolie-tsakhia-elbegdorj">RFI</a>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a target="_blank"
           href="http://www.rfi.fr/hebdo/20170707-qatar-jean-pierre-marongiu-detenu-greve-faim-kafala-france-escroquerie-prison-doha">
            <div class="col s12">
                <div class="card perso">
                    <div class="card-image">
                        <img src="http://scd.rfi.fr/sites/filesrfi/dynimagecache/55/0/3245/1831/1024/578/sites/images.rfi.fr/files/aef_image/2017-07-02t235318z_31996447_rc129a1efce0_rtrmadp_3_gulf-qatar-kuwait.jpg">
                        <span class="card-title">INTERNATIONAL</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Un entrepreneur français détenu au Qatar depuis près de 4 ans</span>
                        <p class="chapo">Victime du système de la kafala, Jean-Pierre Marongiu est
                            emprisonné au Qatar depuis 2013 pour escroquerie après la faillite de sa
                            société. Il a entamé mi-juin une grève de la faim.</p>
                    </div>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.rfi.fr/hebdo/20170707-qatar-jean-pierre-marongiu-detenu-greve-faim-kafala-france-escroquerie-prison-doha">RFI</a>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <a target="_blank"
       href="http://www.rfi.fr/france/20170704-discours-politique-generale-edouard-philippe-assemblee-nationale-loi-travail">
        <div class="col l7 s12" height="965px">
            <div class="card large-large">
                <div class="card-image">
                    <img src="../public/img/img_philippe.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">DIRECT - Edouard Philippe devant les députés pour son discours de politique générale</span>
                    <p class="chapo">Le Premier ministre français Edouard Philippe a prononcé sa déclaration
                        de politique générale devant l'Assemblée nationale ce 4 juillet et s'est soumis au
                        vote de confiance des députés. L'occasion d'entrer dans le détail des réformes
                        envisagées, mais aussi pour les députés de se faire entendre.

                    </p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.rfi.fr/france/20170704-discours-politique-generale-edouard-philippe-assemblee-nationale-loi-travail">RFI</a>
                </div>
            </div>
        </div>
    </a>
</div>