<div class="line" id="line61">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Herve-Mariton-est-hospitalise-pour-un-malaise-serieux-1156967">
        <div class="col s12 l4">
            <div class="card large">
                <div class="card-image">
                    <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/herve-mariton-est-hospitalise-pour-un-malaise-serieux-1156967/18830228-1-fre-FR/Herve-Mariton-est-hospitalise-pour-un-malaise-serieux.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Hervé Mariton est hospitalisé pour un “malaise sérieux”</span>
                    <p class="chapo">Hervé Mariton est hospitalisé depuis le week-end dernier à Chambéry à la suite d'un «malaise sérieux» mais il devrait sortir «prochainement», selon un proche.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Herve-Mariton-est-hospitalise-pour-un-malaise-serieux-1156967">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/La-profession-de-foi-critiquee-de-Francois-Fillon-1156586">
        <div class="col s12 l8">
            <div class="card large">
                <div class="card-image">
                    <img src="http://resize-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/la-profession-de-foi-critiquee-de-francois-fillon-1156586/18824885-1-fre-FR/La-profession-de-foi-critiquee-de-Francois-Fillon.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">La profession de foi critiquée de François Fillon</span>
                    <p>Discret depuis sa victoire éclatante à la primaire de la droite, François Fillon a fait son retour médiatique le 3 janvier sur le plateau de TF1. Attaqué sur son programme «radical» par la gauche et le centre, il s’est défendu en réaffirmant sa foi catholique.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/La-profession-de-foi-critiquee-de-Francois-Fillon-1156586">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
</div>