<div class="line" id="line12">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Faits-divers/J-ai-joue-la-victime-d-un-meurtre-dans-une-reconstitution-criminelle-1150358">
        <div class="col s12">
            <div class="card large card-panel hoverable" id="card_dealos">
                <div class="card-image">
                    <img src="http://resize-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/faits-divers/j-ai-joue-la-victime-d-un-meurtre-dans-une-reconstitution-criminelle-1150358/18739772-1-fre-FR/J-ai-joue-la-victime-d-un-meurtre-dans-une-reconstitution-criminelle.jpg"
                         id="img_dealos">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">J’ai joué la victime d’un meurtre dans une reconstitution criminelle</span>
                    <p class="chapo">Avant qu’un meurtre soit jugé en France, il donne généralement lieu à une reconstitution. En présence des acteurs judiciaires, les «plastrons» -comédiens, policiers ou anonymes- rejouent la scène du crime. J’ai été l’un d’eux.</p>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Faits-divers/J-ai-joue-la-victime-d-un-meurtre-dans-une-reconstitution-criminelle-1150358">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>