<div class="line" id="line44">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Au-QG-de-Hamon-la-deception-mais-le-soutien-jusqu-au-bout-1239371">
        <div class="col l7 s12" height="965px">
            <div class="card large-large">
                <div class="card-image">
                    <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/au-qg-de-hamon-la-deception-mais-le-soutien-jusqu-au-bout-1239371/20871524-1-fre-FR/Au-QG-de-Hamon-la-deception-mais-le-soutien-jusqu-au-bout.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Au QG de Hamon, la déception mais le soutien jusqu'au bout</span>
                    <div class="chapo">
                        Avec probablement moins de 7% des suffrages exprimés, Benoît Hamon essuie une défaite historique pour le Parti socialiste. Le candidat du revenu universel a échoué à convaincre les électeurs de le préférer à ses concurrents Jean-Luc Mélenchon et Emmanuel Macron.
                        <div class="embedded-tweet">
                            <blockquote class="twitter-tweet" data-lang="fr"><p lang="fr" dir="ltr">Bernard, encarté au PS et soutien de Benoît Hamon : &quot;En cas de second tour Macron-Le Pen, je vote Le Pen.&quot;<a href="https://twitter.com/hashtag/ElectionPresidentielle2017?src=hash&amp;ref_src=twsrc%5Etfw">#ElectionPresidentielle2017</a> <a href="https://t.co/LyOUyezj87">pic.twitter.com/LyOUyezj87</a></p>&mdash; Marine Jeannin (@Marinejea1) <a href="https://twitter.com/Marinejea1/status/856195863798059008?ref_src=twsrc%5Etfw">23 avril 2017</a></blockquote>
                            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Au-QG-de-Hamon-la-deception-mais-le-soutien-jusqu-au-bout-1239371">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
    <div class="col s12 l5" height="965px">
        <a target="_blank"
           href="http://www.parismatch.com/Actu/Politique/SansMoiLe7Mai-Des-Insoumis-appellent-a-l-abstention-1240685">
            <div class="col s12">
                <div class="card">
                    <div class="card-image">
                        <img src="http://resize-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/sansmoile7mai-des-insoumis-appellent-a-l-abstention-1240685/20885855-1-fre-FR/SansMoiLe7Mai-Des-Insoumis-appellent-a-l-abstention.jpg">
                        <span class="card-title">POLITIQUE</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Sur Twitter, des partisans de Mélenchon appellent à l’abstention</span>
                        <p class="chapo">Écoeurés par la défaite de Jean-Luc Mélenchon, des militants de la France insoumise appellent sur Twitter au vote blanc ou à l’abstention pour le second tour, en ne choisissant ni Emmanuel Macron, ni Marine Le Pen.</p>
                    </div>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/SansMoiLe7Mai-Des-Insoumis-appellent-a-l-abstention-1240685">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </a>
        <a target="_blank"
           href="http://www.parismatch.com/Actu/Politique/Les-dix-mesures-phares-du-programme-de-Marine-Le-Pen-1241648">
            <div class="col s12">
                <div class="card">
                    <div class="card-image">
                        <img src="http://resize1-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/les-dix-mesures-phares-du-programme-de-marine-le-pen-1241648/20898233-1-fre-FR/Les-dix-mesures-phares-du-programme-de-Marine-Le-Pen.jpg">
                        <span class="card-title">POLITIQUE</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Les dix mesures phares du programme de Marine Le Pen</span>
                        <p class="chapo">Paris Match a sélectionné dix mesures parmi les plus emblématiques du projet de Marine Le Pen, candidate à la présidence de la République.</p>
                    </div>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/Les-dix-mesures-phares-du-programme-de-Marine-Le-Pen-1241648">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>