<div class="line" id="line50">
    <a target="_blank" href="http://www.parismatch.com/Actu/Politique/Quel-programme-pour-les-forces-de-l-ordre-1199402">
        <div class="col s12 l4">
            <div class="card large">
                <div class="card-image">
                    <img src="http://resize1-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/quel-programme-pour-les-forces-de-l-ordre-1199402/20338646-1-fre-FR/Quel-programme-pour-les-forces-de-l-ordre.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Présidentielle : que promettent les candidats aux policiers?</span>
                    <p class="chapo">Aggravée par l’affaire Théo, la fracture entre la population et les forces de l’ordre est de retour dans le débat politique. Une situation à laquelle tentent de remédier les candidats dans leurs programmes respectifs.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Quel-programme-pour-les-forces-de-l-ordre-1199402">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/A-Disneyland-Paris-Hollande-vante-le-tourisme-francais-1197869">
        <div class="col s12 l8">
            <div class="card large">
                <div class="card-image">
                    <img src="http://resize3-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/a-disneyland-paris-hollande-vante-le-tourisme-francais-1197869/20322197-1-fre-FR/A-Disneyland-Paris-Hollande-vante-le-tourisme-francais.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">A Disneyland Paris, Hollande vante le tourisme français</span>
                    <p>François Hollande était à Disneyland Paris ce samedi pour fêter les 30 ans du partenariat entre le parc et les pouvoirs publics. L’occasion pour le chef d’Etat de lancer un manifeste en faveur du tourisme français, en baisse depuis les attentats de 2015 et 2016.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/A-Disneyland-Paris-Hollande-vante-le-tourisme-francais-1197869">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
</div>