<div class="line" id="line7">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Front-national-a-Sciences-Po-une-histoire-d-amour-haine-1141724">
        <div class="col l7 s12" height="965px">
            <div class="card large-large">
                <div class="card-image">
                    <img src="http://resize-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/front-national-a-sciences-po-une-histoire-d-amour-haine-1141724/18630812-9-fre-FR/Comment-le-FN-s-implante-a-Sciences-Po.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Comment le FN s'implante à Sciences Po</span>
                    <div class="chapo">
                        Depuis un an, une antenne du Front national s’est installée à Sciences Po. Association étudiante reconnue par l’école, elle ne compte qu’une quinzaine de membres mais continue de susciter des commentaires passionnés. Rencontre avec les frontistes de la rue Saint-Guillaume.
                        <div id="chapo-une-macron-part2">
                            <div class="embedded-tweet">
                                <blockquote class="twitter-tweet" data-lang="en"><p lang="fr" dir="ltr">La façade de Sciences Po &quot;décorée&quot; par des Antifa cette nuit <a href="https://twitter.com/hashtag/E1matin?src=hash&amp;ref_src=twsrc%5Etfw">#E1matin</a> cc <a href="https://twitter.com/Europe1?ref_src=twsrc%5Etfw">@Europe1</a> <a href="http://t.co/0r52k2R3Yw">pic.twitter.com/0r52k2R3Yw</a></p>&mdash; Aurélien Fleurot (@afleurot) <a href="https://twitter.com/afleurot/status/651650827250180096?ref_src=twsrc%5Etfw">October 7, 2015</a></blockquote>
                                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Front-national-a-Sciences-Po-une-histoire-d-amour-haine-1141724">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
    <div class="col s12 l5" height="965px">
        <a target="_blank"
           href="http://www.parismatch.com/Actu/Politique/FN-Marine-Le-Pen-et-Louis-Aliot-jouent-les-arbitres-1141085">
            <div class="col s12">
                <div class="card">
                    <div class="card-image">
                        <img src="http://resize3-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/fn-marine-le-pen-et-louis-aliot-jouent-les-arbitres-1141085/18622445-2-fre-FR/FN-Marine-Le-Pen-et-Louis-Aliot-jouent-les-arbitres.jpg">
                        <span class="card-title">POLITIQUE</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title">FN : Marine Le Pen et Louis Aliot jouent les arbitres</span>
                        <p class="chapo">Marine Le Pen et son compagnon ont appelé Florian Philippot et Marion Maréchal-Le Pen, en désaccord sur le remboursement de l’IVG, à mettre un terme à leur querelle.</p>
                    </div>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/FN-Marine-Le-Pen-et-Louis-Aliot-jouent-les-arbitres-1141085">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </a>
        <a target="_blank"
           href="http://www.parismatch.com/Actu/Politique/J-en-ai-la-nausee-Le-Pen-s-en-prend-au-programme-sante-de-Fillon-1139891">
            <div class="col s12">
                <div class="card">
                    <div class="card-image">
                        <img src="http://resize3-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/j-en-ai-la-nausee-le-pen-s-en-prend-au-programme-sante-de-fillon-1139891/18607652-2-fre-FR/J-en-ai-la-nausee-Le-Pen-s-en-prend-au-programme-sante-de-Fillon.jpg">
                        <span class="card-title">POLITIQUE</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title">"J’en ai la nausée" : Le Pen s’en prend au programme santé de Fillon</span>
                        <p class="chapo">La convention présidentielle du FN sur la santé et le vieillissement a offert à Marine Le Pen une tribune contre François Fillon. Et lui a permis de tendre la main à la fois aux fonctionnaires, aux habitants des zones rurales et aux personnes âgées.</p>
                    </div>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/J-en-ai-la-nausee-Le-Pen-s-en-prend-au-programme-sante-de-Fillon-1139891">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>