<div id="line2">
    <a target="_blank"
       href="http://www.rfi.fr/moyen-orient/20170909-jordanie-cultiver-desert-agriculture-developpement-durable-sahara-forest-proje">
        <div class="col s12 l8" id="div3">
            <div class="card large">
                <div class="card-image">
                    <img src="http://scd.rfi.fr/sites/filesrfi/imagecache/rfi_16x9_1024_578/sites/images.rfi.fr/files/aef_image/36244589004_68c4053e79_b_0.jpg">
                    <span class="card-title">INTERNATIONAL</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Jordanie : cultiver le désert ?</span>
                    <p class="chapo">Le « Sahara Forest Project » a inauguré le 7 septembre sa station de
                        lancement en Jordanie. L’opération, menée conjointement par le gouvernement local,
                        la Norvège et l’Union européenne, cherche à développer une agriculture durable dans
                        cette zone aride.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.rfi.fr/moyen-orient/20170909-jordanie-cultiver-desert-agriculture-developpement-durable-sahara-forest-proje">RFI</a>
                </div>
            </div>
        </div>
    </a>
    <a target="_blank" href="https://usbeketrica.com/article/sonde-cassini-saturne-fin-mission">
        <div class="col s12 l4" id="div4">
            <div class="card large">
                <div class="card-image">
                    <img src="../public/img/img_cassini.jpg">
                    <span class="card-title">FUTUR</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Le 15/09, la sonde Cassini mourra pour la science</span>
                    <p>La mission Cassini-Huygens prendra bientôt fin, faute de carburant. La sonde avait
                        quitté la Terre en 1997.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="https://usbeketrica.com/article/sonde-cassini-saturne-fin-mission">Usbek &
                        Rica</a>
                </div>
            </div>
        </div>
    </a>
</div>