<div class="line" id="line54">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/La-reforme-de-l-education-se-precise-1280117">
        <div class="col s12">
            <div class="card large card-panel hoverable" id="card_dealos">
                <div class="card-image">
                    <img src="http://resize-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/la-reforme-de-l-education-se-precise-1280117/21404552-1-fre-FR/La-reforme-de-l-education-se-precise.jpg"
                         id="img_dealos">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">La réforme de l’éducation se précise</span>
                    <p class="chapo">Jean-Michel Blanquer, le nouveau ministre de l’Education d’Emmanuel
                        Macron, a présenté ce jeudi son projet de réforme dans les colonnes du
                        «Parisien».</p>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/La-reforme-de-l-education-se-precise-1280117">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>