<div class="line" id="line10">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Les-reactions-de-la-classe-politique-francaise-a-l-attaque-de-Berlin-1148066">
        <div class="col s12">
            <div class="card large card-panel hoverable" id="card_dealos">
                <div class="card-image">
                    <img src="http://resize-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/les-reactions-de-la-classe-politique-francaise-a-l-attaque-de-berlin-1148066/18710327-1-fre-FR/Les-reactions-de-la-classe-politique-francaise-a-l-attaque-de-Berlin.jpg"
                         id="img_dealos">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Attentat à Berlin : les politiques français entre solidarité et polémique</span>
                    <p class="chapo">La classe politique française a exprimé sa solidarité au peuple allemand dans les médias et sur les réseaux sociaux, après l’attentat terroriste qui a fait 12 morts à Berlin sur un marché de Noël. Certains responsables ont choisi d'alimenter la polémique sur la politique allemande d'accueil des migrants.</p>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/Les-reactions-de-la-classe-politique-francaise-a-l-attaque-de-Berlin-1148066">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>