<div class="line" id="line11">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Francois-Farid-Fillon-cible-par-une-campagne-de-diffamation-sur-Twitter-de-la-part-de-l-extreme-droite-1151987">
        <div class="col s12 l6">
            <div class="card large">
                <div class="card-image">
                    <img src="http://resize1-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/francois-farid-fillon-cible-par-une-campagne-de-diffamation-sur-twitter-de-la-part-de-l-extreme-droite-1151987/18761726-1-fre-FR/Francois-Farid-Fillon-cible-par-une-campagne-de-diffamation-sur-Twitter.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">François "Farid" Fillon ciblé par une campagne de diffamation sur Twitter</span>
                    <p class="chapo">Après Alain «Ali» Juppé, c’est au tour de François «Farid» Fillon d’être rebaptisé par l’extrême droite, à l’occasion d’une campagne de diffamation sur Twitter.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Francois-Farid-Fillon-cible-par-une-campagne-de-diffamation-sur-Twitter-de-la-part-de-l-extreme-droite-1151987">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Primaire-de-la-droite-l-heure-des-comptes-1149323">
        <div class="col s12 l6">
            <div class="card large">
                <div class="card-image">
                    <img src="http://resize1-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/primaire-de-la-droite-l-heure-des-comptes-1149323/18726629-1-fre-FR/Primaire-de-la-droite-l-heure-des-comptes.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Primaire de la droite : l'heure des comptes</span>
                    <p>François Fillon avait misé massivement sur les meetings et les réunions publiques.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Primaire-de-la-droite-l-heure-des-comptes-1149323">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
</div>