<div class="line" id="line42">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Interview-de-Jacques-Cheminade-1236053">
        <div class="col s12">
            <div class="card large card-panel hoverable" id="card_dealos">
                <div class="card-image">
                    <img src="http://resize3-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/interview-de-jacques-cheminade-1236053/20826260-1-fre-FR/Interview-de-Jacques-Cheminade.jpg"
                         id="img_dealos">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Jacques Cheminade : "Il faut une économie dirigée, ni communiste ni capitaliste"</span>
                    <p class="chapo">Paris Match a rencontré le représentant du parti Solidarité et Progrès, Jacques Cheminade, candidat à l’élection présidentielle pour la quatrième fois.</p>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/Interview-de-Jacques-Cheminade-1236053">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>