<div id="line82">
    <div class="col s12 l5" height="965px">
        <a target="_blank"
           href="http://madame.lefigaro.fr/business/paz-levinson-future-cheffe-sommeliere-anne-sophie-pic-vin-gastronomie-260218-147449">
            <div class="col s12">
                <div class="card perso card-panel hoverable">
                    <div class="card-image">
                        <img src="http://i.f1g.fr/media/ext/1900x800_crop/madame.lefigaro.fr/sites/default/files/img/2018/02/anne-sophie-pic-et-paz-levinson.jpg">
                        <span class="card-title" id="card-title-black">SOCIÉTÉ</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Paz Levinson, la sommelière la plus convoitée au monde</span>
                        <p class="chapo">À 40 ans, la sommelière argentine, plusieurs fois récompensée pour ses cartes de vins du monde, va poser ses valises chez Anne-Sophie Pic en tant que chef sommelière exécutive du groupe. Une nouvelle conquête de taille pour l’œnologue globe-trotter.</p>
                        <div class="card-action">
                            <a target="_blank" class="media blue-text"
                               href="http://madame.lefigaro.fr/business/paz-levinson-future-cheffe-sommeliere-anne-sophie-pic-vin-gastronomie-260218-147449">Le Figaro</a>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a target="_blank"
           href="http://lesarpenteurs.fr/dechets-plastiques-leurope-a-tout-a-inventer/">
            <div class="col s12">
                <div class="card perso card-panel hoverable">
                    <div class="card-image">
                        <img src="http://lesarpenteurs.fr/wp-content/uploads/2018/02/shutterstock_67187011-609x316.jpg">
                        <span class="card-title">FUTUR</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Déchets plastiques : l’Europe a tout à inventer</span>
                        <p class="chapo">La Chine s’apprête à réduire considérablement son importation de déchets plastiques. Les principaux exportateurs, Etats-Unis et Europe en tête, vont devoir faire face à leurs responsabilités en trouvant un moyen de traiter leurs propres déchets.</p>
                    </div>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://lesarpenteurs.fr/dechets-plastiques-leurope-a-tout-a-inventer/">USBEK & RICA</a>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <a target="_blank"
       href="http://madame.lefigaro.fr/societe/jacinda-ardern-premiere-ministre-neo-zelandaise-enceinte-portrait-060318-147656">
        <div class="col l7 s12" height="965px">
            <div class="card large-large card-panel hoverable" id="custom-card">
                <div class="card-image">
                    <img src="../public/img/ardern.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Jacinda Ardern, le renouveau politique en Nouvelle-Zélande</span>
                    <p class="chapo">À 37 ans, Jacinda Ardern est la femme politique de tous les records : troisième femme première ministre de Nouvelle-Zélande, plus jeune dirigeante du pays depuis 1856 et plus jeune dirigeante de l’histoire du Parti travailliste. Elle sera aussi bientôt la première chef de cabinet néo-zélandaise à avoir un enfant pendant son mandat. Portrait.
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://madame.lefigaro.fr/societe/jacinda-ardern-premiere-ministre-neo-zelandaise-enceinte-portrait-060318-147656">Le Figaro</a>
                </div>
            </div>
        </div>
    </a>
</div>