<div class="line" id="line2">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Qui-sont-les-candidats-a-la-presidentielle-de-2017">
        <div class="col s12 l5">
            <div class="card large">
                <div class="card-image">
                    <img src="/public/img/img_infog.png">
                    <span class="card-title">DATA</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Qui sont les candidats à la présidentielle de 2017?</span>
                    <p class="chapo">Les dimanche 23 avril et 7 mai 2017, les Français seront appelés aux urnes pour élire leur nouveau président de la République. A un peu moins de huit mois du scrutin, Data Match esquisse un portrait en chiffres des très nombreux candidats.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Qui-sont-les-candidats-a-la-presidentielle-de-2017">Paris Match</a>
                </div>
            </div>
        </div>
    </a>
    <a target="_blank" href="http://www.parismatch.com/Actu/Politique/Au-Touquet-Sarkozy-ironise-sur-les-oreilles-sensibles-1047073">
        <div class="col s12 l7">
            <div class="card large">
                <div class="card-image">
                    <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/au-touquet-sarkozy-ironise-sur-les-oreilles-sensibles-1047073/14841277-1-fre-FR/Au-Touquet-Sarkozy-ironise-sur-les-oreilles-sensibles.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Au Touquet, Sarkozy ironise sur les "oreilles sensibles"</span>
                    <p>Au Campus des Jeunes Républicains, Nicolas Sarkozy a lancé samedi un appel à l’« unité » devant une foule toute acquise à sa cause. Et répondu aux critiques d’Alain Juppé. Xavier Bertrand ne lui a pas apporté son soutien.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Au-Touquet-Sarkozy-ironise-sur-les-oreilles-sensibles-1047073">Paris Match</a>
                </div>
            </div>
        </div>
    </a>
</div>