<div class="line" id="line72">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Qui-est-dans-la-team-Fillon-1089652">
        <div class="col s12 l6">
            <div class="card large">
                <div class="card-image">
                    <img src="http://resize1-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/qui-est-dans-la-team-fillon-1089652/15599134-1-fre-FR/Qui-est-dans-la-team-Fillon.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Qui est dans la team Fillon?</span>
                    <p class="chapo">Candidat à la primaire de la droite, François Fillon s'appuie sur une équipe d'expérience. Portraits.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Qui-est-dans-la-team-Fillon-1089652">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Qui-est-dans-la-team-Le-Maire-1076782">
        <div class="col s12 l6">
            <div class="card large">
                <div class="card-image">
                    <img src="http://resize1-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/qui-est-dans-la-team-le-maire-1076782/15374143-2-fre-FR/Qui-est-dans-la-team-Le-Maire.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Qui est dans la team Le Maire?</span>
                    <p>L'équipe de campagne de Bruno Le Maire est partagée entre vétérans expérimentés de la chiraquie et jeunes ambitieux. Portraits.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Qui-est-dans-la-team-Le-Maire-1076782">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
</div>