<div class="line" id="line23">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Philippe-et-Penicaud-presentent-leur-projet-de-reforme-du-Code-du-travail-1278509">
        <div class="col s12 l6">
            <div class="card large">
                <div class="card-image">
                    <img src="http://resize1-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/philippe-et-penicaud-presentent-leur-projet-de-reforme-du-code-du-travail-1278509/21381905-1-fre-FR/Philippe-et-Penicaud-presentent-leur-projet-de-reforme-du-Code-du-travail.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Philippe et Pénicaud présentent leur projet de réforme du Code du travail</span>
                    <p class="chapo">Au lendemain de la publication, par «Le Parisien», de l’avant-projet de
                        loi pour réformer le Code du travail, le Premier ministre et la ministre de
                        l’Education ont dévoilé leur feuille de route.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Philippe-et-Penicaud-presentent-leur-projet-de-reforme-du-Code-du-travail-1278509">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Que-prevoit-la-reforme-de-l-education-de-Blanquer-1278083">
        <div class="col s12 l6">
            <div class="card large">
                <div class="card-image">
                    <img src="http://resize-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/que-prevoit-la-reforme-de-l-education-de-blanquer-1278083/21376274-1-fre-FR/Que-prevoit-la-reforme-de-l-education-de-Blanquer.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Que prévoit la réforme de l'éducation de Blanquer?</span>
                    <p>Le nouveau ministre de l'Education a prévu de revenir sur la réforme du collège de sa
                        prédécesseure, de mettre en place le retour à la semaine de quatre jours à l'école
                        primaire et la fin des devoirs à la maison.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Que-prevoit-la-reforme-de-l-education-de-Blanquer-1278083">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
</div>