<div class="line" id="line49">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Revue-de-presse-de-l-election-presidentielle-1250810">
        <div class="col l7 s12" height="965px">
            <div class="card large-large">
                <div class="card-image">
                    <img src="http://resize-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/revue-de-presse-de-l-election-presidentielle-1250810/21018143-1-fre-FR/Revue-de-presse-de-l-election-presidentielle.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Le triomphe d'Emmanuel Macron à la une de la presse française</span>
                    <div class="chapo">
                        Au soir de la victoire d’Emmanuel Macron, les unes des journaux sont déjà prêtes.
                        Paris Match a sélectionné le meilleur de la presse française consacrée à l’élection
                        présidentielle.
                        <div id="chapo-une-macron-part2">
                            <ul>
                                <li class="li-point"><strong>Libération : "Bien fait / Bien joué"</strong>
                                </li>
                                <li class="li-point"><strong>Le Figaro : "La victoire en marchant"</strong>
                                </li>
                                <li class="li-point"><strong>L'Express : "Le Kid"</strong></li>
                                <li class="li-point"><strong>Les Échos : "La France qui ose"</strong></li>
                                <li class="li-point"><strong>L'Obs : "Macron Président : numéro spécial 60
                                        pages"</strong></li>
                                <li class="li-point"><strong>Le JDD : "Le nouveau président"</strong></li>
                                <li class="li-point"><strong>La Voix du Nord : "Un Touquettois à
                                        l'Élysée"</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Revue-de-presse-de-l-election-presidentielle-1250810">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
    <div class="col s12 l5" height="965px">
        <a target="_blank"
           href="http://www.parismatch.com/Actu/Politique/Les-deux-premiers-discours-du-president-Macron-analyses-1250927">
            <div class="col s12">
                <div class="card">
                    <div class="card-image">
                        <img src="http://resize1-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/les-deux-premiers-discours-du-president-macron-analyses-1250927/21019589-1-fre-FR/Les-deux-premiers-discours-du-president-Macron-analyses.jpg">
                        <span class="card-title">DATA</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Les deux premiers discours du président Macron analysés</span>
                        <p class="chapo">«Le Poids des Mots» a analysé les premières interventions du
                            Président élu le 7 mai, Emmanuel Macron.</p>
                    </div>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/Les-deux-premiers-discours-du-president-Macron-analyses-1250927">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </a>
        <a target="_blank"
           href="http://www.parismatch.com/Actu/Politique/Emmanuel-Macron-en-12-dates-clefs-1250732">
            <div class="col s12">
                <div class="card">
                    <div class="card-image">
                        <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/emmanuel-macron-en-12-dates-clefs-1250732/21016781-1-fre-FR/Emmanuel-Macron-en-12-dates-clefs.jpg">
                        <span class="card-title">POLITIQUE</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Emmanuel Macron en 12 dates-clefs</span>
                        <p class="chapo">Le parcours d'Emmanuel Macron en douze dates-clefs, de son arrivée
                            à l'Inspection générale des finances en 2004 à sa victoire à l'élection
                            présidentielle le 7 mai 2017.</p>
                    </div>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/Emmanuel-Macron-en-12-dates-clefs-1250732">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>