<div class="line" id="line29">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Au-Trocadero-les-fillonistes-bravent-l-averse-pour-soutenir-leur-candidat-1203725">
        <div class="col s12">
            <div class="card large card-panel hoverable" id="card_dealos">
                <div class="card-image">
                    <img src="http://resize1-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/au-trocadero-les-fillonistes-bravent-l-averse-pour-soutenir-leur-candidat-1203725/20395541-1-fre-FR/Au-Trocadero-les-fillonistes-bravent-l-averse-pour-soutenir-leur-candidat.jpg"
                         id="img_dealos">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Au Trocadéro, les fillonistes bravent l’averse pour soutenir leur candidat</span>
                    <p class="chapo">Devant ses partisans réunis place du Trocadéro, à Paris, François Fillon a galvanisé ses troupes et dénoncé la « responsabilité immense » de « ceux qui fuient le navire ».</p>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/Au-Trocadero-les-fillonistes-bravent-l-averse-pour-soutenir-leur-candidat-1203725">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>