<div class="line" id="line51">
    <a target="_blank" href="https://usbeketrica.com/article/donner-la-parole-aux-muets">
        <div class="col s12">
            <div class="card large card-panel hoverable" id="card_dealos">
                <div class="card-image">
                    <img src="https://static.usbeketrica.com/images/thumb_840xh/59316335c510b.jpg"
                         id="img_dealos">
                    <span class="card-title">FUTUR</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Donner la parole aux muets</span>
                    <p class="chapo">Un groupe de chercheurs français planche actuellement sur une interface
                        cerveau-machine qui pourrait permettre de redonner la parole aux personnes muettes
                        atteintes d'aphasie.</p>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="https://usbeketrica.com/article/donner-la-parole-aux-muets">Usbek &
                            Rica</a>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>