<div class="line" id="line57">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Dans-l-Essonne-Nicolas-Dupont-Aignan-vacille-1282814">
        <div class="col s12">
            <div class="card large" id="card_dealos">
                <div class="card-image">
                    <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/dans-l-essonne-nicolas-dupont-aignan-vacille-1282814/21437864-2-fre-FR/Dans-l-Essonne-Nicolas-Dupont-Aignan-vacille.jpg"
                         id="img_dealos">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Dans l’Essonne, Nicolas Dupont-Aignan vacille</span>
                    <p class="chapo">Le président de Debout la France est en ballotage défavorable dans son
                        fief de l’Essonne, face au candidat de LREM.</p>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/Dans-l-Essonne-Nicolas-Dupont-Aignan-vacille-1282814">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>