<div class="line" id="line57">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Edward-Snowden-twitte-en-Francais-et-il-suit-nos-elections-de-pres-1174025">
        <div class="col s12 l6">
            <div class="card large">
                <div class="card-image">
                    <img src="http://resize-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/edward-snowden-twitte-en-francais-et-il-suit-nos-elections-de-pres-1174025/20026235-1-fre-FR/Edward-Snowden-twitte-en-Francais-et-il-suit-nos-elections-de-pres.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Edward Snowden twitte en Français, et il suit nos élections de près</span>
                    <p class="chapo">Affaire Penelope Fillon et primaire de la gauche, le lanceur d'alerte Edward Snowden suit la vie politique française depuis son exil moscovite, et ne manque pas de réagir sur Twitter.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Edward-Snowden-twitte-en-Francais-et-il-suit-nos-elections-de-pres-1174025">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Penelope-Gate-la-riposte-de-Francois-Fillon-1174622">
        <div class="col s12 l6">
            <div class="card large">
                <div class="card-image">
                    <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/a-sciences-po-stephane-le-foll-defend-le-bilan-du-quinquennat-de-hollande-1173797/19040516-1-fre-FR/A-Sciences-Po-Stephane-Le-Foll-defend-le-bilan-du-quinquennat-de-Hollande.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">A Sciences Po, Stéphane Le Foll défend le bilan du quinquennat</span>
                    <p class="chapo">Invité à Sciences Po pour le «Grand Oral», Stéphane Le Foll devait s’opposer à Henri Guaino, mais ce sont les étudiants de l’IEP qui lui ont donné le plus de fil à retordre. Venu débattre de l’avenir de l’Europe avec l’ancien sarkozyste, le porte-parole du gouvernement a surtout été questionné sur la primaire socialiste et sur le bilan de François Hollande.</p>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/A-Sciences-Po-Stephane-Le-Foll-defend-le-bilan-du-quinquennat-de-Hollande-1173797">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>