<div class="line" id="line76">
    <div class="col s12 l5" height="965px">
        <a target="_blank"
           href="http://lesarpenteurs.fr/la-biometrie-remplacera-t-elle-la-carte-bancaire/">
            <div class="col s12">
                <div class="card perso">
                    <div class="card-image">
                        <img src="http://lesarpenteurs.fr/wp-content/uploads/2017/11/Capture-decran-2017-11-22-a-11-03-38-609x316.png">
                        <span class="card-title">FUTUR</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title">La biométrie remplacera-t-elle la carte bancaire ?</span>
                        <p class="chapo">La carte bancaire pourrait disparaître en France au profit d’une authentification biométrique basée sur les empreintes digitales ou l’iris, comme il en existe déjà aux Etats-Unis ou en Chine.</p>
                        <div class="card-action">
                            <a target="_blank" class="media blue-text"
                               href="http://lesarpenteurs.fr/la-biometrie-remplacera-t-elle-la-carte-bancaire/">Les Arpenteurs (Usbek & Rica)</a>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a target="_blank"
           href="http://lesarpenteurs.fr/une-ia-sera-t-elle-le-prochain-flaubert/">
            <div class="col s12">
                <div class="card perso">
                    <div class="card-image">
                        <img src="http://lesarpenteurs.fr/wp-content/uploads/2017/11/Capture-decran-2017-11-15-a-16-30-38-609x316.png">
                        <span class="card-title">FUTUR</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Une IA sera-t-elle le prochain Flaubert ?</span>
                        <p class="chapo">En 2017, des intelligences artificielles écrivent des livres, développent des jeux vidéos, composent de la musique et créent des tableaux. Ces programmes posent la question du potentiel créatif des machines.</p>
                    </div>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://lesarpenteurs.fr/une-ia-sera-t-elle-le-prochain-flaubert/">Les Arpenteurs (Usbek & Rica)</a>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <a target="_blank"
       href="http://madame.lefigaro.fr/societe/michelle-obama-portrait-de-la-premiere-first-lady-afro-americaine-251017-134948">
        <div class="col l7 s12" height="965px">
            <div class="card large-large" id="line76_feature">
                <div class="card-image">
                    <img src="http://i.f1g.fr/media/ext/1900x800_crop/madame.lefigaro.fr/sites/default/files/img/2017/10/michelle-obama.jpg">
                    <span class="card-title" id="card-title-black">SOCIÉTÉ</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Michelle Obama, "Mrs. O" à la Maison-Blanche</span>
                    <div class="chapo">
                        <div>Américaine noire d’origine modeste, avocate brillante puis locataire de la Maison-Blanche, elle illustre à elle seule tout l’American dream. Portrait de la plus influente des First Ladies.
                        </div>
                        <div id="chapo-ralliements-part2">
                            <p>Elle est «the Closer», «celle qui plie le match» : l’ex-First Lady, première noire à accéder à la Maison-Blanche, a été pendant les deux mandats de Barack Obama la «Mom-in-chief» de l'Amérique. À l'équilibre entre ses deux prédécesseures, la très chic Jackie Kennedy et la très politique Eleanor Roosevelt, elle a su développer son propre style pour s’ériger, en l’espace de vingt-cinq ans, en figure politique de premier plan.</p>
                        </br>
                            <p>Contrairement à Barack Obama, métis et fils d'immigré, Michelle LaVaughn Robinson porte l'héritage de la souffrance des esclaves américains. Née le 17 janvier 1964 à Chicago, elle grandit dans une famille modeste : sa mère est secrétaire ou femme au foyer, son père employé dans une usine et délégué local du Parti démocrate. Tous deux sont des descendants d’esclaves. La jeune Michelle Robinson est une élève brillante : après le lycée, elle intègre la prestigieuse -et coûteuse- université de Princeton, où elle fait pour la première fois l'expérience du racisme et de la fracture sociale. «Mon expérience à Princeton m’a plus que jamais fait prendre conscience de ma “Blackness” (“identité noire” ou “négritude”, selon le terme d'Aimé Césaire, NDLR.), écrit-elle en introduction à sa thèse. Je me sentais parfois comme une visiteuse sur le campus.» Sa thèse sera intitulée Princeton-Educated Blacks and the Black Community. Après avoir obtenu son bachelor cum laude en 1985, elle opte pour des études d’avocate à la faculté de droit de Harvard. C’est le moment, écrit David Remnick dans son ouvrage The Bridge: The Life and Rise of Barack Obama (2011), où elle cesse de souffrir de son écartèlement social et admet enfin qu’il est possible d'être «à la fois brillant, et noir».
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://madame.lefigaro.fr/societe/michelle-obama-portrait-de-la-premiere-first-lady-afro-americaine-251017-134948">Madame Figaro</a>
                </div>
            </div>
        </div>
    </a>
</div>