<div class="line" id="line5">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Qui-est-dans-la-team-NKM-1102433">
        <div class="col s12 l6">
            <div class="card large">
                <div class="card-image">
                    <img src="http://resize-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/qui-est-dans-la-team-nkm-1102433/16769207-1-fre-FR/Qui-est-dans-la-team-NKM.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Qui est dans la team NKM?</span>
                    <p class="chapo">Pour sa campagne en vue de la primaire de la droite, Nathalie Kosciusko-Morizet a fait appel à de jeunes talents.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Qui-est-dans-la-team-NKM-1102433">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Qui-est-dans-la-team-Juppe-1099556">
        <div class="col s12 l6">
            <div class="card large">
                <div class="card-image">
                    <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/qui-est-dans-la-team-juppe-1099556/16732277-1-fre-FR/Qui-est-dans-la-team-Juppe.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Qui est dans la team Juppé?</span>
                    <p>L'ancien Premier ministre, favori des sondages, peut compter sur une petite armée de fidèles. Voici quelques-uns des membres-clé de son équipe.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Qui-est-dans-la-team-Juppe-1099556">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
</div>