<div class="line" id="line39">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Hamon-Melenchon-le-mariage-force-1226219">
        <div class="col s12">
            <div class="card large" id="card_dealos">
                <div class="card-image">
                    <img src="http://resize-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/hamon-melenchon-le-mariage-force-1226219/20700011-2-fre-FR/Hamon-Melenchon-un-amour-impossible.jpg"
                         id="img_dealos">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Quand la gauche rêve d'un mariage Hamon-Mélenchon</span>
                    <p class="chapo">Avec 15,5% d’intentions de vote pour Jean-Luc Mélenchon et 10% pour Benoît Hamon, une candidature commune leur permettrait de se hisser au niveau de Marine Le Pen. Depuis la primaire socialiste, un collectif de militants plaide pour une union des deux gauches.</p>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/Hamon-Melenchon-le-mariage-force-1226219">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>