<div class="line" id="line18">
    <a target="_blank" href="http://www.parismatch.com/Actu/Politique/Francois-Fillon-rend-visite-a-Alain-Juppe-a-Merignac-1173185">
        <div class="col s12 l3">
            <div class="card large">
                <div class="card-image">
                    <img src="http://resize-parismatch.ladmedia.fr/r/901,,forcex/img/var/news/storage/images/paris-match/actu/politique/francois-fillon-rend-visite-a-alain-juppe-a-merignac-1173185/francois-fillon-teste-un-casque-de-simulation-de-vol/19033358-1-fre-FR/Francois-Fillon-teste-un-casque-de-simulation-de-vol.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">François Fillon rend visite à Alain Juppé à Mérignac</span>
                    <p class="chapo">En plein scandale sur l’affaire des emplois fictifs de son épouse, François Fillon ne renonce pas à faire campagne en Gironde.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Francois-Fillon-rend-visite-a-Alain-Juppe-a-Merignac-1173185">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Apres-les-accusations-du-Canard-enchaine-avis-de-tempete-chez-les-fillonistes-1172873">
        <div class="col s12 l9">
            <div class="card large">
                <div class="card-image">
                    <img src="http://resize1-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/apres-les-accusations-du-canard-enchaine-avis-de-tempete-chez-les-fillonistes-1172873/19027661-1-fre-FR/Apres-les-accusations-du-Canard-enchaine-avis-de-tempete-chez-les-fillonistes.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Après les accusations du Canard enchaîné, Fillon taxe l'hebdomadaire de "misogynie"</span>
                    <p>En déplacement à Bordeaux, le candidat de la droite et du centre pour la présidentielle a réagi aux accusations du «Canard enchaîné» sur la rémunération de Penelope Fillon, qui aurait touché 600 000 euros en huit ans pour des emplois présumés fictifs par l'hebdomadaire.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Apres-les-accusations-du-Canard-enchaine-avis-de-tempete-chez-les-fillonistes-1172873">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
</div>