<div class="line" id="line30">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Les-candidats-face-aux-departements-Grand-Oral-a-l-Assemblee-1206143">
        <div class="col s12">
            <div class="card large card-panel hoverable" id="card_dealos">
                <div class="card-image">
                    <img src="http://resize-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/les-candidats-face-aux-departements-grand-oral-a-l-assemblee-1206143/20427944-1-fre-FR/Les-candidats-face-aux-departements-Grand-Oral-a-l-Assemblee.jpg"
                         id="img_dealos">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Les candidats de la présidentielle face aux départements</span>
                    <p class="chapo">Les candidats à l’élection présidentielle rencontraient ce mercredi l’Assemblée des Départements de France. En jeu : la place de la décentralisation territoriale dans les programmes.</p>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/Les-candidats-face-aux-departements-Grand-Oral-a-l-Assemblee-1206143">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>