<div class="line" id="line56">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Compagnes-et-compagnons-des-candidats-que-font-ils-dans-la-vie-1175885">
        <div class="col s12 l6">
            <div class="card large">
                <div class="card-image">
                    <img src="http://resize1-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/compagnes-et-compagnons-des-candidats-que-font-ils-dans-la-vie-1175885/20047961-7-fre-FR/Compagnes-et-compagnons-des-candidats-que-font-ils-dans-la-vie.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Compagnes et compagnons des candidats, que font-ils dans la vie?</span>
                    <p class="chapo">Qu'ils s'affichent à leurs côtés ou préfèrent la discrétion, les compagnes et compagnons des responsables politiques jouent souvent un rôle-clé auprès d'eux. Voici quelques-uns de ces hommes et femmes.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Compagnes-et-compagnons-des-candidats-que-font-ils-dans-la-vie-1175885">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Penelope-Gate-la-riposte-de-Francois-Fillon-1174622">
        <div class="col s12 l6">
            <div class="card large">
                <div class="card-image">
                    <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/penelope-gate-la-riposte-de-francois-fillon-1174622/20033771-1-fre-FR/Penelope-Gate-la-riposte-de-Francois-Fillon.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Penelope Gate : la riposte de François Fillon</span>
                    <p>Accusé de détournement de fonds publics depuis l’enquête du «Canard enchaîné», François Fillon assure sa défense tant bien que mal.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Penelope-Gate-la-riposte-de-Francois-Fillon-1174622">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
</div>