<div class="line" id="line8">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/YouTube-rejoint-l-arsenal-politique-1143482">
        <div class="col s12 l5">
            <div class="card large">
                <div class="card-image">
                    <img src="http://resize3-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/youtube-rejoint-l-arsenal-politique-1143482/18654854-1-fre-FR/YouTube-rejoint-l-arsenal-politique.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Quand les politiques jouent les youtubeurs</span>
                    <p class="chapo">En politique, YouTube n’est plus l’apanage des sympathisants de l'extrême droite et de Jean-Marie Le Pen. Après Facebook et Twitter, le réseau social est en passe de devenir incontournable pour les personnalités politiques françaises - témoin la fulgurante ascension de Jean-Luc Mélenchon.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/YouTube-rejoint-l-arsenal-politique-1143482">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/En-meeting-a-Paris-Benoit-Hamon-sonne-la-charge-contre-ses-rivaux-1144352">
        <div class="col s12 l7">
            <div class="card large">
                <div class="card-image">
                    <img src="http://resize3-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/en-meeting-a-paris-benoit-hamon-sonne-la-charge-contre-ses-rivaux-1144352/18665714-1-fre-FR/En-meeting-a-Paris-Benoit-Hamon-sonne-la-charge-contre-ses-rivaux.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">En meeting à Paris, Benoît Hamon sonne la charge contre ses rivaux</span>
                    <p>Pour «faire battre le coeur de la France», son slogan de campagne, Benoît Hamon tenait mercredi son premier grand meeting à Paris. L’occasion pour le candidat de régler ses comptes avec ses rivaux à gauche.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/En-meeting-a-Paris-Benoit-Hamon-sonne-la-charge-contre-ses-rivaux-1144352">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
</div>