<div class="line" id="line55">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Le-pari-manque-de-Manuel-Valls-1176104">
        <div class="col l7 s12" height="965px">
            <div class="card large-large">
                <div class="card-image">
                    <img src="http://resize3-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/le-pari-manque-de-manuel-valls-1176104/20051885-2-fre-FR/La-campagne-manquee-de-Manuel-Valls.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">La campagne manquée de Manuel Valls</span>
                    <div class="chapo">
                        Ancien Premier ministre, il était le favori de l’élection. Dimanche, Manuel Valls a été largement battu au second tour de la primaire socialiste par Benoît Hamon, avec seulement 41% des suffrages. Chronique d’un échec.
                        <div id="chapo-une-macron-part2">
                            <div class="embedded-tweet">
                                <blockquote class="twitter-tweet" data-lang="fr"><p lang="fr" dir="ltr">Valls chahuté à la fin de son discours par une femme qui lui reproche de n&#39;avoir pas convaincu Macron et Mélenchon de venir dans la primaire <a href="https://t.co/Sm07XTTO3f">pic.twitter.com/Sm07XTTO3f</a></p>&mdash; Arthur Berdah (@arthurberdah) <a href="https://twitter.com/arthurberdah/status/806574571172331521?ref_src=twsrc%5Etfw">7 décembre 2016</a></blockquote>
                                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Le-pari-manque-de-Manuel-Valls-1176104">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
    <div class="col s12 l5" height="965px">
        <a target="_blank"
           href="http://www.parismatch.com/Actu/Politique/Les-Reformateurs-du-PS-signent-une-tribune-anti-Hamon-1177592">
            <div class="col s12">
                <div class="card">
                    <div class="card-image">
                        <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/les-reformateurs-du-ps-signent-une-tribune-anti-hamon-1177592/20069483-1-fre-FR/Les-Reformateurs-du-PS-signent-une-tribune-anti-Hamon.jpg">
                        <span class="card-title">POLITIQUE</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Les "Réformateurs" du PS signent une tribune anti-Hamon</span>
                        <p class="chapo">La parution d’une tribune d’élus socialistes dans «Le Monde» aggrave la fracture entre Benoît Hamon et l’aile droite du parti.</p>
                    </div>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/Les-Reformateurs-du-PS-signent-une-tribune-anti-Hamon-1177592">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </a>
        <a target="_blank"
           href="http://www.parismatch.com/Actu/Politique/Primaire-du-PS-la-droite-reagit-a-la-victoire-de-Benoit-Hamon-1176632">
            <div class="col s12">
                <div class="card">
                    <div class="card-image">
                        <img src="http://resize1-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/primaire-du-ps-la-droite-reagit-a-la-victoire-de-benoit-hamon-1176632/20058272-1-fre-FR/Primaire-du-PS-la-droite-reagit-a-la-victoire-de-Benoit-Hamon.jpg">
                        <span class="card-title">POLITIQUE</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title">La droite ne croit pas aux chances de Benoît Hamon</span>
                        <p class="chapo">Après la victoire sans appel de Benoît Hamon à la primaire socialiste dimanche dernier, les réactions des personnalités politiques de droite sont cinglantes.</p>
                    </div>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/Primaire-du-PS-la-droite-reagit-a-la-victoire-de-Benoit-Hamon-1176632">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>