<div class="line" id="line45">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Le-CV-de-Jean-Luc-Melenchon-1206992">
        <div class="col s12 l4">
            <div class="card large">
                <div class="card-image">
                    <img src="http://resize1-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/le-cv-de-jean-luc-melenchon-1206992/20438534-1-fre-FR/Le-CV-de-Jean-Luc-Melenchon.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Le CV de Jean-Luc Mélenchon</span>
                    <p class="chapo">Quel est le curriculum vitae des candidats à la présidentielle? Formation, parcours professionnel, hobbies... Paris Match détaille le CV de Jean-Luc Mélenchon.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Le-CV-de-Jean-Luc-Melenchon-1206992">Paris Match</a>
                </div>
            </div>
        </div>
    </a>
    <a target="_blank" href="http://www.parismatch.com/Actu/Politique/Parrainages-ou-en-sont-les-candidats-1207847">
        <div class="col s12 l4">
            <div class="card large">
                <div class="card-image">
                    <img src="http://resize-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/parrainages-ou-en-sont-les-candidats-1207847/20449946-1-fre-FR/Parrainages-ou-en-sont-les-candidats.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Parrainages : où en sont les candidats?</span>
                    <p>A dix jours de la date limite de dépôt, sept candidats à l'élection présidentielle ont obtenu les 500 signatures nécessaires.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Parrainages-ou-en-sont-les-candidats-1207847">Paris Match</a>
                </div>
            </div>
        </div>
    </a>
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Le-CV-de-Benoit-Hamon-1206986">
        <div class="col s12 l4">
            <div class="card large">
                <div class="card-image">
                    <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/le-cv-de-benoit-hamon-1206986/20438291-1-fre-FR/Le-CV-de-Benoit-Hamon.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Le CV de Benoît Hamon</span>
                    <p class="chapo">Quel est le curriculum vitae des candidats à la présidentielle? Formation, parcours professionnel, hobbies... Paris Match détaille le CV de Benoît Hamon.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Le-CV-de-Benoit-Hamon-1206986">Paris Match</a>
                </div>
            </div>
        </div>
    </a>
</div>