<div class="line" id="line50">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/La-droite-et-la-gauche-a-boulets-rouges-contre-Ferrand-1275200">
        <div class="col s12">
            <div class="card large card-panel hoverable" id="card_dealos">
                <div class="card-image">
                    <img src="http://resize3-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/la-droite-et-la-gauche-a-boulets-rouges-contre-ferrand-1275200/21313253-1-fre-FR/La-droite-et-la-gauche-a-boulets-rouges-contre-Ferrand.jpg"
                         id="img_dealos">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">La droite et la gauche à boulets rouges contre Ferrand</span>
                    <p class="chapo">A gauche, certains évoquent l'affaire Cahuzac. A droite, on parle de
                        «tromperie sur la marchandise». Ce jeudi, l'ouverture d'une enquête préliminaire
                        autour d'une transaction immobilière ayant bénéficié à la compagne de Richard
                        Ferrand agite le monde politique.</p>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/La-droite-et-la-gauche-a-boulets-rouges-contre-Ferrand-1275200">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>