<div class="line" id="line45">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Les-anti-IVG-s-invitent-dans-la-campagne-presidentielle-1242509">
        <div class="col s12 l8">
            <div class="card large" id="card_dealos">
                <div class="card-image">
                    <img src="http://resize1-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/les-anti-ivg-s-invitent-dans-la-campagne-presidentielle-1242509/20907557-1-fre-FR/Les-anti-IVG-s-invitent-dans-la-campagne-presidentielle.jpg"
                         id="img_dealos">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Les anti-IVG s'invitent dans la campagne présidentielle</span>
                    <p class="chapo">Des militants ont placardé illégalement des affiches anti-avortement dans le métro parisien pour sommer les candidats à l’élection présidentielle de se prononcer sur l’IVG.</p>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/Les-anti-IVG-s-invitent-dans-la-campagne-presidentielle-1242509">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <a target="_blank" href="http://www.parismatch.com/Actu/Politique/Jean-Francois-Jalkh-Nouveau-president-du-FN-ses-propos-polemiques-sur-les-chambres-a-gaz-1243292">
        <div class="col s12 l4">
            <div class="card large" id="card_dealos">
                <div class="card-image">
                    <img src="http://resize3-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/jean-francois-jalkh-nouveau-president-du-fn-ses-propos-polemiques-sur-les-chambres-a-gaz-1243292/20920256-1-fre-FR/Jean-Francois-Jalkh-Nouveau-president-du-FN-ses-propos-polemiques-sur-les-chambres-a-gaz.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Nouveau président du FN : ses propos polémiques sur les chambres à gaz</span>
                    <p class="chapo">Frontiste de la première heure et proche historique de Jean-Marie Le Pen, Jean-François Jalkh a aussi été mis en examen à plusieurs reprises et est accusé d’avoir tenu des propos révisionnistes.</p>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/Jean-Francois-Jalkh-Nouveau-president-du-FN-ses-propos-polemiques-sur-les-chambres-a-gaz-1243292">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>