<div class="line" id="line73">
    <div class="col s12 l5" height="965px">
        <a target="_blank" href="http://lesarpenteurs.fr/faut-il-avoir-peur-des-robots-tueurs/">
            <div class="col s12">
                <div class="card medium">
                    <div class="card-image">
                        <img src="http://lesarpenteurs.fr/wp-content/uploads/2017/09/UsbekRica-Terminator-3-609x316.jpg">
                        <span class="card-title">FUTUR</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Faut-il avoir peur des robots tueurs ?</span>
                        <p class="chapo">Elon Musk et des spécialistes de l’IA mettent en garde l'ONU contre
                            les dangers de la légalisation des armes autonomes létales.</p>
                        <div class="card-action">
                            <a target="_blank" class="media blue-text"
                               href="http://lesarpenteurs.fr/faut-il-avoir-peur-des-robots-tueurs/">Les
                                Arpenteurs (Usbek & Rica)</a>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a target="_blank" href="http://lesarpenteurs.fr/lindustrie-miniere-a-la-conquete-de-lespace/">
            <div class="col s12">
                <div class="card perso">
                    <div class="card-image">
                        <img src="http://lesarpenteurs.fr/wp-content/uploads/2017/07/UsbekRica-Expl-lunaire-1-609x316.jpg">
                        <span class="card-title">FUTUR</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title">L’industrie minière à la conquête de l’espace</span>
                        <p class="chapo">Verra-t-on bientôt une colonie minière sur la Lune ? Alléchée par
                            la promesse de ressources extraterrestres inexploitées, l’industrie minière
                            pourrait bien devenir le fer de lance de la conquête spatiale.</p>
                    </div>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://lesarpenteurs.fr/lindustrie-miniere-a-la-conquete-de-lespace/">Les
                            Arpenteurs (Usbek & Rica)</a>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <a target="_blank" href="/pfe">
        <div class="col l7 s12" height="965px">
            <div class="card large-large">
                <div class="card-image">
                    <img src="../public/img/img_pfe.png">
                    <span class="card-title">CAMPUS</span>
                </div>
                <div class="card-content">
                    <span class="card-title">42, L'école sans prof</span>
                    <p class="chapo">À 42, personne ou presque n’a plus de 30 ans. Cette école
                        d’informatique fonctionne sans cours, sans
                        professeurs et sans horaires. Ouverte 24h sur 24 et 7 jours sur 7, elle accueille
                        les étudiants gratuitement et sans
                        exigence de diplôme - pas même le bac. Reportage sur l'OVNI pédagogique de Xavier
                        Niel.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text" href="/pfe">Projet de fin d'études</a>
                </div>
            </div>
        </div>
    </a>
</div>