<div class="line" id="line33">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Benoit-Hamon-presente-son-programme-et-denonce-les-forces-de-l-argent-1211735">
        <div class="col s12 l8" id="div3">
            <div class="card large card-panel hoverable">
                <div class="card-image">
                    <img src="http://resize1-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/benoit-hamon-presente-son-programme-et-denonce-les-forces-de-l-argent-1211735/20502434-1-fre-FR/Benoit-Hamon-presente-son-programme-et-denonce-les-forces-de-l-argent.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Benoît Hamon présente son programme et dénonce "les forces de l'argent"</span>
                    <p class="chapo">Le candidat socialiste Benoît Hamon a présenté son programme ce matin en conférence de presse.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Benoit-Hamon-presente-son-programme-et-denonce-les-forces-de-l-argent-1211735">Paris Match</a>
                </div>
            </div>
        </div>
    </a>
    <a target="_blank" href="http://www.parismatch.com/Actu/Politique/Les-points-clefs-du-programme-de-Jean-Luc-Melenchon-1210919">
        <div class="col s12 l4" id="div4">
            <div class="card large card-panel hoverable">
                <div class="card-image">
                    <img src="http://resize-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/les-points-clefs-du-programme-de-jean-luc-melenchon-1210919/20490518-1-fre-FR/Les-points-clefs-du-programme-de-Jean-Luc-Melenchon.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Que trouve-t-on dans le programme de Jean-Luc Mélenchon?</span>
                    <p>Sortie des traités européens, réduction du temps de travail, santé et éducation gratuites : Paris Match a parcouru le programme de Jean-Luc Mélenchon pour en souligner quelques points-clefs.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Les-points-clefs-du-programme-de-Jean-Luc-Melenchon-1210919">Usbek &
                        Rica</a>
                </div>
            </div>
        </div>
    </a>
</div>