<div class="line" id="line70">
    <a target="_blank" href="http://lesarpenteurs.fr/quel-futur-pour-les-jeux-olympiques/">
        <div class="col s12 l5">
            <div class="card large card-panel hoverable">
                <div class="card-image">
                    <img src="../public/img/img_jo.jpg">
                    <span class="card-title">FUTUR</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Quel futur pour les Jeux Olympiques ?</span>
                    <p class="chapo">Trop cher, pas assez rentable, néfaste pour l’environnement : les Jeux
                        Olympiques commencent à sentir le vent tourner. Nicolas Bancel, historien du sport
                        et professeur à l’Institut des sciences du sport de l’Université de Lausanne, répond
                        à nos questions sur l'avenir de la reine des compétitions sportives.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://lesarpenteurs.fr/quel-futur-pour-les-jeux-olympiques/">Les Arpenteurs
                        (Usbek&Rica)</a>
                </div>
            </div>
        </div>
    </a>
    <a target="_blank"
       href="http://www.rfi.fr/hebdo/20170728-inde-il-y-16-ans-phoolan-devi-reine-bandits-etait-assassinee">
        <div class="col s12 l7">
            <div class="card large card-panel hoverable">
                <div class="card-image">
                    <img src="http://scd.rfi.fr/sites/filesrfi/dynimagecache/0/890/1513/854/1024/578/sites/images.rfi.fr/files/aef_image/000_hkg2004021700907_0.jpg">
                    <span class="card-title">INTERNATIONAL</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Inde: Phoolan Devi, la saga de la «Reine des bandits»</span>
                    <p>En 38 ans, Phoolan Devi aura tout connu : la misère des basses castes indiennes, la
                        maltraitance et les viols, le grand banditisme, la prison - et la reconnaissance,
                        enfin, lorsqu’elle obtient un siège de députée au Parlement. La «Reine des bandits»
                        est morte assassinée il y a 16 ans, le 25 juillet 2001. Mais l’Inde ne l’oublie
                        pas.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.rfi.fr/hebdo/20170728-inde-il-y-16-ans-phoolan-devi-reine-bandits-etait-assassinee">RFI</a>
                </div>
            </div>
        </div>
    </a>
</div>