<div class="line" id="line13">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/2016-l-annee-infernale-de-Hollande-1153136">
        <div class="col s12 l4">
            <div class="card large card-panel hoverable">
                <div class="card-image">
                    <img src="http://resize-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/2016-l-annee-infernale-de-hollande-1153136/18778088-1-fre-FR/2016-l-annee-infernale-de-Hollande.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">2016, l'année infernale de Hollande</span>
                    <p class="chapo">Pour le président sortant, l’année 2016 aura été la bérézina : échec sur la déchéance de nationalité, sortie d’un livre d’entretiens polémique, défection de ses ministres… Tour d’horizon de l’année présidentielle.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/2016-l-annee-infernale-de-Hollande-1153136">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Fillon-Macron-Melenchon-les-trois-champions-de-2016-1152314">
        <div class="col s12 l8">
            <div class="card large card-panel hoverable">
                <div class="card-image">
                    <img src="http://resize3-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/fillon-macron-melenchon-les-trois-champions-de-2016-1152314/18766286-1-fre-FR/Fillon-Macron-Melenchon-les-trois-champions-de-2016.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Fillon, Macron, Mélenchon : les trois champions de 2016</span>
                    <p>François Fillon à droite, Emmanuel Macron et Jean-Luc Mélenchon à gauche : ces trois candidats à l’élection présidentielle de 2017 achèvent l’année en beauté.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Fillon-Macron-Melenchon-les-trois-champions-de-2016-1152314">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
</div>