<div class="line" id="line77">
    <a target="_blank"
       href="http://madame.lefigaro.fr/societe/yuja-wang-pianiste-chinoise-de-genie-051117-145767">
        <div class="col s12 l7">
            <div class="card large">
                <div class="card-image">
                    <img src="http://i.f1g.fr/media/ext/1200x/madame.lefigaro.fr/sites/default/files/img/2017/11/yuja-wang-pianiste-chinoise_0.jpg">
                    <span class="card-title">CULTURE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Yuja Wang, pianiste chinoise de génie</span>
                    <p class="chapo">Enfant prodige de la musique classique, la pianiste chinoise Yuja Wang, aujourd’hui trentenaire, est la nouvelle étoile du label Deutsche Grammophon.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://madame.lefigaro.fr/societe/yuja-wang-pianiste-chinoise-de-genie-051117-145767">Le Figaro</a>
                </div>
            </div>
        </div>
    </a>
    <a target="_blank"
       href="http://lesarpenteurs.fr/jusquou-ira-biohacking/">
        <div class="col s12 l5">
            <div class="card large">
                <div class="card-image">
                    <img src="http://lesarpenteurs.fr/wp-content/uploads/2017/12/Limitless-banner-609x316.jpg">
                    <span class="card-title">FUTUR</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Jusqu’où ira le biohacking ?</span>
                    <p>Régimes alimentaires restrictifs, jeûne prolongé ou impulsions électriques : les biohackers traitent leur organisme comme un système informatique, qu’il est possible d’optimiser pour devenir la meilleure version de soi-même.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://lesarpenteurs.fr/jusquou-ira-biohacking/">Les Arpenteurs (Usbek & Rica)</a>
                </div>
            </div>
        </div>
    </a>
</div>