<div class="line" id="line46">
    <div class="col s12 l5" height="965px">
        <a target="_blank"
           href="http://www.parismatch.com/Actu/Politique/Gilles-Simeoni-Nous-ne-pouvons-pas-assister-en-spectateurs-passifs-a-la-possible-victoire-du-Front-national-1243817">
            <div class="col s12">
                <div class="card perso card-panel hoverable">
                    <div class="card-image">
                        <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/gilles-simeoni-nous-ne-pouvons-pas-assister-en-spectateurs-passifs-a-la-possible-victoire-du-front-national-1243817/20926487-1-fre-FR/Gilles-Simeoni-Nous-ne-pouvons-pas-assister-en-spectateurs-passifs-a-la-possible-victoire-du-Front-national..jpg">
                        <span class="card-title">POLITIQUE</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Gilles Simeoni : "Nous devons barrer la route du Front national en Corse"</span>
                        <p class="chapo">Entretien avec Gilles Simeoni, qui a appelé mercredi les Corses à voter pour Emmanuel Macron pour «empêcher la victoire du Front National».</p>
                        <div class="card-action">
                            <a target="_blank" class="media blue-text"
                               href="http://www.parismatch.com/Actu/Politique/Gilles-Simeoni-Nous-ne-pouvons-pas-assister-en-spectateurs-passifs-a-la-possible-victoire-du-Front-national-1243817">Paris
                                Match</a>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a target="_blank"
           href="http://www.parismatch.com/Actu/Politique/Accuse-de-propos-negationnistes-Jalkh-renonce-a-la-presidence-du-FN-1244141">
            <div class="col s12">
                <div class="card perso card-panel hoverable">
                    <div class="card-image">
                        <img src="http://resize-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/accuse-de-propos-negationnistes-jalkh-renonce-a-la-presidence-du-fn-1244141/20930666-1-fre-FR/Accuse-de-propos-negationnistes-Jalkh-renonce-a-la-presidence-du-FN.jpg">
                        <span class="card-title">POLITIQUE</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Accusé de propos négationnistes, Jalkh renonce à la présidence du FN</span>
                        <p class="chapo">Louis Aliot a annoncé vendredi que Jean-François Jalkh avait renoncé à son rôle de président par intérim du FN. </p>
                    </div>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/Accuse-de-propos-negationnistes-Jalkh-renonce-a-la-presidence-du-FN-1244141">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Le-1er-mai-de-Jean-Marie-Le-Pen-Vive-Marine-vive-Jeanne-1246514">
        <div class="col l7 s12" height="965px">
            <div class="card large-large card-panel hoverable">
                <div class="card-image">
                    <img src="http://resize1-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/le-1er-mai-de-jean-marie-le-pen-vive-marine-vive-jeanne-1246514/20958944-1-fre-FR/Le-1er-mai-de-Jean-Marie-Le-Pen-Vive-Marine-vive-Jeanne.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Le 1er mai de Jean-Marie Le Pen : "Vive Marine, vive Jeanne"</span>
                    <div class="chapo">
                        <div>Jean-Marie Le Pen a rendu son traditionnel hommage du 1er mai à Jeanne d'Arc, et a souhaité la victoire à sa fille Marine.
                        </div>
                        <div class="embedded-tweet">
                            <blockquote class="twitter-tweet" data-lang="fr"><p lang="fr" dir="ltr"><a href="https://twitter.com/hashtag/1ermai?src=hash&amp;ref_src=twsrc%5Etfw">#1ermai</a> pro-FN à Rivoli <a href="https://t.co/8b3AdGOhIk">https://t.co/8b3AdGOhIk</a></p>&mdash; Marine Jeannin (@Marinejea1) <a href="https://twitter.com/Marinejea1/status/858961566850572288?ref_src=twsrc%5Etfw">1 mai 2017</a></blockquote>
                            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Le-1er-mai-de-Jean-Marie-Le-Pen-Vive-Marine-vive-Jeanne-1246514">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
</div>