<div id="line75">
    <a target="_blank"
       href="http://lesarpenteurs.fr/resilience-urbaine-reconstruire-la-collectivite-apres-un-traumatisme/">
        <div class="col s12 l5">
            <div class="card large">
                <div class="card-image">
                    <img src="/public/img/img_resilience.jpg">
                    <span class="card-title">FUTUR</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Résilience urbaine : reconstruire la collectivité après un traumatisme</span>
                    <p class="chapo">Attentats terroristes, crue de la Seine, épisodes caniculaires : la
                        ville de Paris vient d’adopter un plan d’action pour se reconstruire après ses
                        récents traumatismes - et se préparer aux crises à venir.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://lesarpenteurs.fr/resilience-urbaine-reconstruire-la-collectivite-apres-un-traumatisme/">Les
                        Arpenteurs (Usbek & Rica)</a>
                </div>
            </div>
        </div>
    </a>
    <a target="_blank" href="http://lesarpenteurs.fr/les-monts-kong-premiere-fake-news-de-lhistoire/">
        <div class="col s12 l7">
            <div class="card large">
                <div class="card-image">
                    <img src="/public/img/img_kong.jpg">
                    <span class="card-title">FUTUR</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Les monts Kong, première fake news de l’Histoire</span>
                    <p>Pendant plus d’un siècle, la doxa géographique européenne a admis l’existence d’une
                        chaîne de montagnes, les monts Kong, traversant tout le continent africain. Celle-ci
                        n’a en fait jamais existé.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://lesarpenteurs.fr/les-monts-kong-premiere-fake-news-de-lhistoire/">Les
                        Arpenteurs (Usbek & Rica)</a>
                </div>
            </div>
        </div>
    </a>
</div>