<div class="line" id="line55">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Francois-Hollande-se-confie-sur-son-retrait-de-la-vie-publique-1280603#utm_term=Autofeed&utm_campaign=Echobox&utm_medium=Social&xtor=CS2-14&utm_source=Twitter&link_time=1497010655">
        <div class="col s12 l4">
            <div class="card large card-panel hoverable">
                <div class="card-image">
                    <img src="http://resize3-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/francois-hollande-se-confie-sur-son-retrait-de-la-vie-publique-1280603/21411143-1-fre-FR/Francois-Hollande-se-confie-sur-son-retrait-de-la-vie-publique.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">François Hollande se confie sur son retrait de la vie publique</span>
                    <p class="chapo">De retour en Corrèze pour commémorer le massacre de Tulle, l'ancien
                        chef de l'Etat s'est confié au journal local sur son avenir personnel et
                        politique.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Francois-Hollande-se-confie-sur-son-retrait-de-la-vie-publique-1280603#utm_term=Autofeed&utm_campaign=Echobox&utm_medium=Social&xtor=CS2-14&utm_source=Twitter&link_time=1497010655">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Soupcons-d-emplois-fictifs-le-MoDem-nie-Philippe-defend-Bayrou-1280525#utm_term=Autofeed&utm_campaign=Echobox&utm_medium=Social&xtor=CS2-14&utm_source=Twitter&link_time=1497003489">
        <div class="col s12 l8">
            <div class="card large card-panel hoverable">
                <div class="card-image">
                    <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/soupcons-d-emplois-fictifs-le-modem-nie-philippe-defend-bayrou-1280525/21409640-1-fre-FR/Soupcons-d-emplois-fictifs-le-MoDem-nie-Philippe-defend-Bayrou.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Soupçons d'emplois fictifs : le MoDem nie, Philippe défend Bayrou</span>
                    <p>Après la dénonciation anonyme d’un ex-collaborateur du MoDem, le parti tente de se
                        défendre face aux accusations d’emplois fictifs.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Soupcons-d-emplois-fictifs-le-MoDem-nie-Philippe-defend-Bayrou-1280525#utm_term=Autofeed&utm_campaign=Echobox&utm_medium=Social&xtor=CS2-14&utm_source=Twitter&link_time=1497003489">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
</div>