<div class="line" id="line16">
    <a target="_blank" href="http://www.parismatch.com/Actu/Politique/Le-FN-veut-faire-peau-neuve-1288988">
        <div class="col s12 l4">
            <div class="card large">
                <div class="card-image">
                    <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/le-fn-veut-faire-peau-neuve-1288988/21515402-1-fre-FR/Le-FN-veut-faire-peau-neuve.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Le FN veut faire peau neuve</span>
                    <p class="chapo">Une réunion du bureau politique du FN se tient aujourd’hui au siège du
                        parti, à Nanterre. Les dirigeants devraient y évoquer l’avenir du parti, vaincu au
                        second tour de l’élection présidentielle.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Le-FN-veut-faire-peau-neuve-1288988">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Les-nouveaux-visages-de-l-Assemblee-nationale-1288304">
        <div class="col s12 l8">
            <div class="card large">
                <div class="card-image">
                    <img src="http://resize-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/les-nouveaux-visages-de-l-assemblee-nationale-1288304/21506435-2-fre-FR/Les-nouveaux-visages-de-l-Assemblee-nationale.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Les nouveaux visages de l'Assemblée nationale</span>
                    <p>Renouvelée à 75%, l’Assemblée nationale change de visage. Paris Match a sélectionné
                        dix nouveaux députés dont le profil atypique a retenu notre attention.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Les-nouveaux-visages-de-l-Assemblee-nationale-1288304">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
</div>