<div class="line" id="line42">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Parrainages-Qui-sont-les-X-candidats-selectionnes-1212473">
        <div class="col l7 s12" height="965px">
            <div class="card large-large">
                <div class="card-image">
                    <img src="http://resize-parismatch.ladmedia.fr/r/901,,forcex/img/var/news/storage/images/paris-match/actu/politique/parrainages-qui-sont-les-x-candidats-selectionnes-1212473/benoit-hamon-parti-socialiste/20513495-1-fre-FR/Benoit-Hamon-Parti-socialiste.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Parrainages : Qui sont les 11 candidats sélectionnés ?</span>
                    <div class="chapo">
                        Fin de partie pour les candidats lancés dans la course aux parrainages : au dernier décompte, ils sont onze à avoir été sélectionnés pour concourir à l'élection présidentielle.
                        <div id="chapo-une-macron-part2">
                            <ul>
                                <li class="li-point"><strong>François Fillon (3635 signatures)</strong></li>
                                <li class="li-point"><strong>Benoît Hamon (2039 signatures)</strong></li>
                                <li class="li-point"><strong>Emmanuel Macron (1829 signatures)</strong></li>
                                <li class="li-point"><strong>Jean-Luc Mélenchon (805 signatures)</strong></li>
                                <li class="li-point"><strong>Jean Lassalle (708 signatures)</strong></li>
                                <li class="li-point"><strong>Nicolas Dupont-Aignan (707 signatures)</strong></li>
                                <li class="li-point"><strong>Nathalie Arthaud (637 signatures)</strong></li>
                                <li class="li-point"><strong>Marine le Pen (627 signatures)</strong></li>
                                <li class="li-point"><strong>François Asselineau (587 signatures)</strong></li>
                                <li class="li-point"><strong>Philippe Poutou (573 signatures)</strong></li>
                                <li class="li-point"><strong>Jacques Cheminade (528 signatures)</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Parrainages-Qui-sont-les-X-candidats-selectionnes-1212473">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
    <div class="col s12 l5" height="965px">
        <a target="_blank"
           href="http://www.parismatch.com/Actu/Politique/Jean-Yves-Le-Drian-rejoint-Emmanuel-Macron-1217213">
            <div class="col s12">
                <div class="card">
                    <div class="card-image">
                        <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/jean-yves-le-drian-rejoint-emmanuel-macron-1217213/20570210-1-fre-FR/Jean-Yves-Le-Drian-rejoint-Emmanuel-Macron.jpg">
                        <span class="card-title">POLITIQUE</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Jean-Yves Le Drian rejoint Emmanuel Macron</span>
                        <p class="chapo">Le ministre de la Défense soutiendra la candidature d’Emmanuel Macron.</p>
                    </div>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/Jean-Yves-Le-Drian-rejoint-Emmanuel-Macron-1217213">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </a>
        <a target="_blank"
           href="http://www.parismatch.com/Actu/Politique/Jean-Luc-Melenchon-porte-du-made-in-Paris-1212149">
            <div class="col s12">
                <div class="card">
                    <div class="card-image">
                        <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/jean-luc-melenchon-porte-du-made-in-paris-1212149/20508350-1-fre-FR/Jean-Luc-Melenchon-porte-du-made-in-Paris.jpg">
                        <span class="card-title">POLITIQUE</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Jean-Luc Mélenchon porte du “made in Paris”</span>
                        <p class="chapo">Jean-Luc Mélenchon a ironisé sur les costumes de luxe offerts à François Fillon, et a déclaré qu'il achetait ses vêtements «en bas de chez lui».</p>
                    </div>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/Jean-Luc-Melenchon-porte-du-made-in-Paris-1212149">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>