<div class="line" id="line9">
    <div class="col s12 l5" height="965px">
        <a target="_blank"
           href="http://www.parismatch.com/Actu/Politique/Pics-de-pollution-Yannick-Jadot-attaque-l-indulgence-criminelle-du-gouvernement-1147409">
            <div class="col s12">
                <div class="card perso card-panel hoverable">
                    <div class="card-image">
                        <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/pics-de-pollution-yannick-jadot-attaque-l-indulgence-criminelle-du-gouvernement-1147409/18701858-2-fre-FR/Pics-de-pollution-Yannick-Jadot-denonce-l-indulgence-criminelle-du-gouvernement.jpg">
                        <span class="card-title">POLITIQUE</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Pics de pollution : Yannick Jadot attaque le gouvernement</span>
                        <p class="chapo">Le candidat écologiste à l’élection présidentielle a taclé le gouvernement sur la gestion de la pollution de l’air dans les grandes villes françaises.</p>
                        <div class="card-action">
                            <a target="_blank" class="media blue-text"
                               href="http://www.parismatch.com/Actu/Politique/Pics-de-pollution-Yannick-Jadot-attaque-l-indulgence-criminelle-du-gouvernement-1147409">Paris
                                Match</a>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a target="_blank"
           href="http://www.parismatch.com/Actu/Politique/Emmanuel-Macron-en-campagne-aux-Antilles-1146830">
            <div class="col s12">
                <div class="card perso card-panel hoverable">
                    <div class="card-image">
                        <img src="http://resize-parismatch.ladmedia.fr/r/901,,forcex/img/var/news/storage/images/paris-match/actu/politique/emmanuel-macron-en-campagne-aux-antilles-1146830/macron-antilles-01/18696335-1-fre-FR/Macron-Antilles-01.jpg">
                        <span class="card-title">POLITIQUE</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Emmanuel Macron en campagne aux Antilles</span>
                        <p class="chapo">En campagne aux Antilles, Emmanuel Macron a tenu, entre deux discours, à s’essayer aux traditions locales.</p>
                    </div>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/Emmanuel-Macron-en-campagne-aux-Antilles-1146830">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Remy-Dick-22-ans-etudiant-a-Sciences-Po-portrait-du-plus-jeune-maire-de-France-1145288">
        <div class="col l7 s12" id="para_assist-parl">
            <div class="card large-large card-panel hoverable">
                <div class="card-image">
                    <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/remy-dick-22-ans-etudiant-a-sciences-po-portrait-du-plus-jeune-maire-de-france-1145288/18676700-1-fre-FR/Remy-Dick-22-ans-etudiant-a-Sciences-Po-portrait-du-plus-jeune-maire-de-France.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Rémy Dick, 22 ans, maire "sans filtre"</span>
                    <div class="chapo">
                        <div>
                            A seulement 22 ans, Rémy Dick a été élu maire de Florange, en Moselle. Étudiant de Sciences Po sorti d’un lycée ZEP, il est désormais à la tête du conseil municipal de la ville où il a grandi.
                        </div>
                        <div>
                            <blockquote>
                                «Comme mon père est un ouvrier socialiste, mon premier meeting était celui de Ségolène Royal. Mais je n’ai pas accroché. Au début du débat de l’entre-deux-tours, j’étais pour Ségolène Royal. A la fin, j’étais pour Nicolas Sarkozy.»
                            </blockquote>
                            <blockquote>
                                «J’ai eu un énorme coup de foudre pour François Fillon»
                            </blockquote>
                            <blockquote>
                                «Je me permets d’être sans filtre, parce que je suis sans étiquette.»
                            </blockquote>
                            <blockquote>
                                «La plupart des maires sont aussi députés, parfois même conseillers régionaux. Ceux qui ne sont pas des professionnels de la politique ont une autre activité par ailleurs : avocat, médecins... Moi, ma profession, c’est d’être étudiant.»
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Remy-Dick-22-ans-etudiant-a-Sciences-Po-portrait-du-plus-jeune-maire-de-France-1145288">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
</div>