<div class="line" id="line62">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Comment-sont-financees-les-campagnes-des-candidats-hors-partis-1156160">
        <div class="col l7 s12" height="965px">
            <div class="card large-large">
                <div class="card-image">
                    <img src="http://resize3-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/comment-sont-financees-les-campagnes-des-candidats-hors-partis-1156160/18817763-1-fre-FR/Comment-sont-financees-les-campagnes-des-candidats-hors-partis.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Présidentielle : Comment sont financées les campagnes des outsiders?</span>
                    <div class="chapo">
                        Pour l’élection présidentielle de 2017, les candidats peuvent lever jusqu’à 22,5 millions d’euros. Une opération délicate pour les prétendants privés du soutien d'un des deux grands partis.
                        <div id="chapo-une-macron-part2">
                            <div>
                                Être candidat à l’élection présidentielle, cela coûte cher : en 2012, le budget des candidats variait entre 500 000 euros (Jacques Cheminade) et 22 millions d’euros (Nicolas Sarkozy, du moins avant que l'affaire Bygmalion ne vienne jeter le trouble sur le montant réel des dépenses engagées). Pour 2017, les dépenses électorales sont plafonnées à 16 851 000 euros au premier tour et à 22 509 000 euros pour ceux des candidats qui atteignent le second tour, selon le guide officiel de la Commission nationale des comptes de campagne et des financements politiques. L’Etat rembourse jusqu’à 47,5% des dépenses si le candidat obtient plus de 5% des suffrages, mais seulement 4,75% pour un score inférieur.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Comment-sont-financees-les-campagnes-des-candidats-hors-partis-1156160">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
    <div class="col s12 l5" height="965px">
        <a target="_blank"
           href="http://www.parismatch.com/Actu/Politique/J-ai-teste-pour-vous-le-jeu-En-marche-vers-l-Elysee-avec-Emmanuel-Macron-1155542">
            <div class="col s12">
                <div class="card">
                    <div class="card-image">
                        <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/j-ai-teste-pour-vous-le-jeu-en-marche-vers-l-elysee-avec-emmanuel-macron-1155542/18809312-1-fre-FR/J-ai-teste-pour-vous-le-jeu-En-marche-vers-l-Elysee.jpg">
                        <span class="card-title">POLITIQUE</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Un jeu vidéo vous propose d'incarner Emmanuel Macron</span>
                        <p class="chapo">Avec l’application «En marche vers l’Elysée», la start-up Celestory permet de prendre le contrôle du téléphone d'Emmanuel Macron et de vivre la conquête du pouvoir.</p>
                    </div>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/J-ai-teste-pour-vous-le-jeu-En-marche-vers-l-Elysee-avec-Emmanuel-Macron-1155542">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </a>
        <a target="_blank"
           href="http://www.parismatch.com/Actu/Politique/Comment-voter-pour-la-primaire-de-la-gauche-1153496">
            <div class="col s12">
                <div class="card">
                    <div class="card-image">
                        <img src="http://resize-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/comment-voter-pour-la-primaire-de-la-gauche-1153496/18783794-4-fre-FR/Ou-et-comment-voter-pour-la-primaire-de-la-gauche.jpg">
                        <span class="card-title">POLITIQUE</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Où et comment voter pour la primaire de la gauche?</span>
                        <p class="chapo">Qui peut voter, quand et dans quels bureaux? Qui sont les candidats? Combien faut-il débourser? Toutes les informations sur la primaire de la gauche.</p>
                    </div>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/Comment-voter-pour-la-primaire-de-la-gauche-1153496">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>