<div class="line" id="line39">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Tous-les-clips-de-campagne-des-candidats-a-la-presidentielle-1232558">
        <div class="col s12 l8">
            <div class="card large card-panel hoverable" id="card_dealos">
                <div class="card-image">
                    <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/tous-les-clips-de-campagne-des-candidats-a-la-presidentielle-1232558/20783513-1-fre-FR/Tous-les-clips-de-campagne-des-candidats-a-la-presidentielle.jpg"
                         id="img_dealos">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Tous les clips de campagne des candidats à la présidentielle</span>
                    <p class="chapo">Pour le lancement de la campagne officielle en début de semaine, les onze candidats à l'élection présidentielle ont dû se plier à l'exercice imposé du clip de campagne.</p>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/Tous-les-clips-de-campagne-des-candidats-a-la-presidentielle-1232558">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <a target="_blank" href="http://www.parismatch.com/Actu/Politique/Les-meilleures-punchlines-des-candidats-1230911">
        <div class="col s12 l4">
            <div class="card large card-panel hoverable" id="card_dealos">
                <div class="card-image">
                    <img src="http://resize1-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/les-meilleures-punchlines-des-candidats-1230911/20759639-1-fre-FR/Les-meilleures-punchlines-des-candidats.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Présidentielle : les meilleures punchlines des candidats</span>
                    <p class="chapo">Depuis le début de la campagne, les candidats à l’élection présidentielle rivalisent de répartie et multiplient les piques assassines contre leurs rivaux. Florilège.</p>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/Les-meilleures-punchlines-des-candidats-1230911">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>