<div class="line" id="line58">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Legislatives-a-l-entre-deux-tours-des-candidats-En-Marche-sechent-le-debat-1284929">
        <div class="col s12 l8">
            <div class="card large card-panel hoverable" id="card_dealos">
                <div class="card-image">
                    <img src="http://resize3-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/legislatives-a-l-entre-deux-tours-des-candidats-en-marche-sechent-le-debat-1284929/21463679-1-fre-FR/Legislatives-a-l-entre-deux-tours-des-candidats-En-Marche-sechent-le-debat.jpg"
                         id="img_dealos">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">A l’entre-deux-tours, des candidats En Marche sèchent le débat</span>
                    <p class="chapo">Plusieurs candidats marchistes, en ballottage pour les législatives,
                        ont refusé de débattre avec leur adversaire à l’entre-deux-tours. Une stratégie qui
                        a fait courir la rumeur d’une consigne nationale de LREM, rapidement démentie par le
                        parti.</p>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/Legislatives-a-l-entre-deux-tours-des-candidats-En-Marche-sechent-le-debat-1284929">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <a target="_blank" href="http://www.parismatch.com/Actu/Politique/Le-PS-bientot-dans-le-rouge-1283684">
        <div class="col s12 l4">
            <div class="card large card-panel hoverable" id="card_dealos">
                <div class="card-image">
                    <img src="/public/img/img_ps.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Le PS bientôt dans le rouge ?</span>
                    <p class="chapo">Après la défaite des législatives, les dotations du Parti socialiste
                        devraient baisser de moitié.</p>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/Le-PS-bientot-dans-le-rouge-1283684">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>