<div class="line" id="line16">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Primaires-de-la-gauche-les-perdants-se-rangent-derriere-Valls-et-Hamon-1170565">
        <div class="col s12 l8">
            <div class="card large card-panel hoverable" id="card_dealos">
                <div class="card-image">
                    <img src="http://resize-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/primaires-de-la-gauche-les-perdants-se-rangent-derriere-valls-et-hamon-1170565/19000615-1-fre-FR/Primaires-de-la-gauche-les-perdants-se-rangent-derriere-Valls-et-Hamon.jpg"
                         id="img_dealos">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Primaire de la gauche : qui soutiendra qui au second tour ?</span>
                    <p class="chapo">Le premier tour de la primaire de la gauche a été remporté largement par Benoît Hamon (36% des voix environ, selon le décompte en cours de soirée) et Manuel Valls (31%). Les candidats éliminés se sont rapidement exprimés pour appeler à voter pour l’un ou l’autre des deux finalistes.</p>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/Primaires-de-la-gauche-les-perdants-se-rangent-derriere-Valls-et-Hamon-1170565">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <a target="_blank" href="http://www.parismatch.com/Actu/Politique/Primaire-de-la-gauche-les-candidats-en-campagne-Valls-Montebourg-Peillon-et-Hamon-sur-les-routes-de-France-1157621">
        <div class="col s12 l4">
            <div class="card large card-panel hoverable" id="card_dealos">
                <div class="card-image">
                    <img src="http://resize-parismatch.ladmedia.fr/r/901,,forcex/img/var/news/storage/images/paris-match/actu/politique/primaire-de-la-gauche-les-candidats-en-campagne-valls-montebourg-peillon-et-hamon-sur-les-routes-de-france-1157621/valls-mange-du-fromage-a-noirefontaine/18840482-1-fre-FR/Valls-mange-du-fromage-a-Noirefontaine.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Valls, Hamon, Montebourg, Peillon : leurs campagnes en photos</span>
                    <p class="chapo">Astreints à un calendrier serré, les candidats à la primaire de la gauche mènent campagne tambour battant.</p>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/Primaire-de-la-gauche-les-candidats-en-campagne-Valls-Montebourg-Peillon-et-Hamon-sur-les-routes-de-France-1157621">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>