<div class="line" id="line78">
    <a target="_blank"
       href="http://madame.lefigaro.fr/societe/sabrina-gonzalez-pasterski-physicienne-prodige-de-harvard-physique-quantique-181217-146056v">
        <div class="col s12 l7">
            <div class="card medium">
                <div class="card-image">
                    <img src="http://i.f1g.fr/media/ext/1900x800_crop/madame.lefigaro.fr/sites/default/files/img/2017/12/sabrina-gonzalez-pasterski.jpg">
                    <span class="card-title">SOCIÉTÉ</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Sabrina Gonzalez Pasterski, la nouvelle Einstein ?</span>
                    <p class="chapo">Après avoir construit un avion à 14 ans et être sortie diplômée du MIT à 20 ans, la jeune prodige prépare une thèse à Harvard.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://madame.lefigaro.fr/societe/sabrina-gonzalez-pasterski-physicienne-prodige-de-harvard-physique-quantique-181217-146056">Le Figaro</a>
                </div>
            </div>
        </div>
    </a>
    <a target="_blank" href="http://madame.lefigaro.fr/societe/portrait-jeanne-gregoire-ex-figariste-et-skipper-solitaire-navigatrice-voile-femme-121217-145967">
        <div class="col s12 l5">
            <div class="card medium">
                <div class="card-image">
                    <img src="http://i.f1g.fr/media/ext/1900x800_crop/madame.lefigaro.fr/sites/default/files/img/2017/12/jeanne-gregoire-navigatrice.jpg">
                    <span class="card-title">SOCIÉTÉ</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Jeanne Grégoire, skipper solitaire depuis près de vingt ans</span>
                    <p>Skipper habituée des transatlantiques et des courses en solitaire, Jeanne Grégoire, 41 ans, prépare désormais la relève en tant que coach. Portrait.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://madame.lefigaro.fr/societe/portrait-jeanne-gregoire-ex-figariste-et-skipper-solitaire-navigatrice-voile-femme-121217-145967">Le Figaro</a>
                </div>
            </div>
        </div>
    </a>
</div>