<div id="line81">
    <a target="_blank" href="https://www.nouveau-magazine-litteraire.com/idees/intelligence-artificielle-bernard-stiegler-humain-nouvelles-technologies">
        <div class="col s12 l7" height="965px">
            <div class="card large-large">
                <div class="card-image">
                    <img src="https://www.nouveau-magazine-litteraire.com/hubfs/stiegler-970-570.jpg?t=1519207559499">
                    <span class="card-title">CULTURE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Bernard Stiegler : « Pour le moment, l'intelligence artificielle produit surtout de la bêtise artificielle »</span>
                    <div>Mises au service de l'économie spéculative et du capitalisme de prédation,
                        les nouvelles technologies pourraient être autant la solution que le problème, prévient le philosophe.
                        Loin d'être technophobe, il appelle à une réponse politique qui place les machines au service de l'homme.
                        Et non l'inverse.
                    </div>
                    <div class="card-content">
                        <p><strong><i>Vous dites que la grande question est de savoir comment faire pour que l'intelligence artificielle
                                    ne crée pas de bêtise artificielle. Qu’entendez-vous par là ?</i></strong>
                        </p>
                    </br>
                        <p>L’intelligence artificielle aujourd’hui, c’est d’abord le calcul intensif
                            appliqué au capitalisme de plateformes. Cette économie prédatrice ne renouvelle pas la possibilité
                            de produire les richesses qu’elle capte. Les technologies computationnelles ne sont utiles qu’à une condition : qu’elles ne détruisent pas le tissu social mais
                            qu’elles permettent au contraire de le reconstruire. Pour le moment, l’intelligence artificielle produit
                            surtout de la bêtise artificielle.
                        </p>
                    </div>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="https://www.nouveau-magazine-litteraire.com/idees/intelligence-artificielle-bernard-stiegler-humain-nouvelles-technologies">Le Nouveau Magazine Littéraire</a>
                </div>
            </div>
        </div>
    </a>
    <div class="col s12 l5" height="965px">
        <a target="_blank" href="http://madame.lefigaro.fr/societe/parquet-national-financier-eliane-houlette-superprocureur-sarkozy-balkany-120218-147039">
            <div class="col s12">
                <div class="card">
                    <div class="card-image">
                        <img src="http://i.f1g.fr/media/ext/1900x800_crop/madame.lefigaro.fr/sites/default/files/img/2018/02/eliane-houlette-chef-de-file-de-lutte-contre-la-delinquance-financiere.jpg">
                        <span class="card-title">POLITIQUE</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Éliane Houlette, "superprocureure" à la tête du parquet national financier</span>
                        <p class="chapo">Nommée en 2014 à la tête du parquet national financier (PNF), Éliane Houlette a mené d’une main de maître plusieurs coups de filet contre des fraudeurs fiscaux. Portrait d'une femme réputée discrète, combative et incorruptible.</p>
                    </div>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://madame.lefigaro.fr/societe/parquet-national-financier-eliane-houlette-superprocureur-sarkozy-balkany-120218-147039">Le Figaro</a>
                    </div>
                </div>
            </div>
        </a>
        <a target="_blank"
           href="http://madame.lefigaro.fr/societe/alina-zagitova-patineuse-russe-prodige-des-jo-jeux-olympiques-pyeongchang-patinage-video-200218-147263">
            <div class="col s12">
                <div class="card">
                    <div class="card-image">
                        <img src="http://i.f1g.fr/media/ext/1900x800_crop/madame.lefigaro.fr/sites/default/files/img/2018/02/alina-zagitova.jpg">
                        <span class="card-title" id="card-title-black">SPORT</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Alina Zagitova, patineuse russe prodige des JO</span>
                        <p class="chapo">À seulement 15 ans, Alina Zagitova est déjà médaillée d’or de plusieurs compétitions internationales de patinage artistique. La jeune prodige, partie favorite pour les Jeux olympiques de Pyeongchang, a triomphé au programme libre dames du concours par équipes de patinage artistique.</p>
                    </div>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://madame.lefigaro.fr/societe/alina-zagitova-patineuse-russe-prodige-des-jo-jeux-olympiques-pyeongchang-patinage-video-200218-147263">Le Figaro</a>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>