<div class="line" id="line24">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Societe/Pour-Theo-soutien-et-colere-a-Paris-1184210">
        <div class="col s12 l6">
            <div class="card large card-panel hoverable">
                <div class="card-image">
                    <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/societe/pour-theo-soutien-et-colere-a-paris-1184210/20152904-1-fre-FR/Pour-Theo-soutien-et-colere-a-Paris.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Pour Théo, soutien et colère à Paris</span>
                    <p class="chapo">Pour le deuxième jour consécutif, un rassemblement de soutien à Théo, victime présumée de violences policières, a eu lieu dans l’Est de Paris.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Societe/Pour-Theo-soutien-et-colere-a-Paris-1184210">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Emmanuel-Macron-face-a-WWF-1184645">
        <div class="col s12 l6">
            <div class="card large card-panel hoverable">
                <div class="card-image">
                    <img src="http://resize1-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/emmanuel-macron-face-a-wwf-1184645/20158877-1-fre-FR/Emmanuel-Macron-face-a-WWF.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Face à WWF, Emmanuel Macron parle d'environnement</span>
                    <p>Invité de WWF France ce jeudi, Emmanuel Macron a présenté en direct quelques-unes de ses propositions en matière d’environnement, et a répondu aux questions des internautes.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Emmanuel-Macron-face-a-WWF-1184645">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
</div>