<div class="line" id="line54">
    <div class="col s12 l5" height="965px">
        <a target="_blank"
           href="http://www.parismatch.com/Actu/Politique/Fillon-accuse-la-gauche-au-pouvoir-d-avoir-monte-le-Penelope-Gate-1178816">
            <div class="col s12">
                <div class="card perso">
                    <div class="card-image">
                        <img src="http://resize3-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/fillon-accuse-la-gauche-au-pouvoir-d-avoir-monte-le-penelope-gate-1178816/20085962-1-fre-FR/Fillon-accuse-la-gauche-au-pouvoir-d-avoir-monte-le-Penelope-Gate.jpg">
                        <span class="card-title">POLITIQUE</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Fillon accuse la gauche au pouvoir d’avoir monté le "Penelope Gate”</span>
                        <p class="chapo">Le candidat dénonce «un coup d’Etat institutionnel» visant à empêcher sa candidature à la présidentielle.</p>
                        <div class="card-action">
                            <a target="_blank" class="media blue-text"
                               href="http://www.parismatch.com/Actu/Politique/Fillon-accuse-la-gauche-au-pouvoir-d-avoir-monte-le-Penelope-Gate-1178816">Paris
                                Match</a>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a target="_blank"
           href="http://www.parismatch.com/Actu/Politique/Sur-Twitter-la-defense-de-Fillon-est-assuree-par-des-comptes-fictifs-1179077">
            <div class="col s12">
                <div class="card perso">
                    <div class="card-image">
                        <img src="http://resize-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/sur-twitter-la-defense-de-fillon-est-assuree-par-des-comptes-fictifs-1179077/20088671-1-fre-FR/Sur-Twitter-la-defense-de-Fillon-est-assuree-par-des-comptes-fictifs.jpg">
                        <span class="card-title">POLITIQUE</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title">L’équipe de François Fillon dicte des tweets aux militants</span>
                        <p class="chapo">Les équipes de François Fillon ont fait monter le tweet #StopChasseàLHomme à l'aide de contenus standards envoyés par mail.</p>
                    </div>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/Sur-Twitter-la-defense-de-Fillon-est-assuree-par-des-comptes-fictifs-1179077">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Assistants-parlementaires-On-est-un-peu-les-petites-mains-de-la-politique-1180688">
        <div class="col l7 s12" height="965px">
            <div class="card large-large">
                <div class="card-image">
                    <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/assistants-parlementaires-on-est-un-peu-les-petites-mains-de-la-politique-1180688/20108942-1-fre-FR/Assistants-parlementaires-On-est-un-peu-les-petites-mains-de-la-politique.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Assistants parlementaires : quel est leur véritable rôle?</span>
                    <div class="chapo">
                        <div>
                            Méconnue, la profession de collaborateur parlementaire est au coeur de l’actualité depuis l’éclatement de l’affaire Fillon. En 2015, ces hommes et ces femmes étaient pourtant 2099 à l'Assemblée nationale et 921 au Sénat. Six d’entre eux ont accepté de nous raconter leur métier.
                        </div>
                        <div>
                            <blockquote>
                                «Je n’ai pas besoin de cinq heures d’audition pour prouver que je travaille. Donnez-moi quinze minutes et un téléphone portable, et je vous montrerai ce que j’ai produit sur un an.»
                            </blockquote>
                            <blockquote>
                                «Tous nos collègues, y compris et surtout en circonscription, peuvent fournir facilement des données précises et quantifiables sur le boulot fourni.»
                            </blockquote>
                            <blockquote>
                                «C’est impossible que Penelope Fillon ait été collaboratrice parlementaire sans avoir eu un seul contact avec l’extérieur. Impossible. On est la porte d’entrée des députés.»
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Assistants-parlementaires-On-est-un-peu-les-petites-mains-de-la-politique-1180688">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
</div>