<div class="line" id="line59">
    <div class="col s12 l5" height="965px">
        <a target="_blank"
           href="http://www.parismatch.com/Actu/Politique/La-droite-limite-un-peu-la-casse-1287326">
            <div class="col s12">
                <div class="card perso">
                    <div class="card-image">
                        <img src="http://resize3-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/la-droite-limite-un-peu-la-casse-1287326/21494546-1-fre-FR/La-droite-limite-un-peu-la-casse.jpg">
                        <span class="card-title">POLITIQUE</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title">La droite limite (un peu) la casse</span>
                        <p class="chapo">Avec moins de 150 sièges obtenus à l'Assemblée nationale, la droite
                            réalise un très mauvais score aux élections législatives. Mais cela reste mieux
                            que ce qu’avaient anticipé les prévisions.</p>
                        <div class="card-action">
                            <a target="_blank" class="media blue-text"
                               href="http://www.parismatch.com/Actu/Politique/La-droite-limite-un-peu-la-casse-1287326">Paris
                                Match</a>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a target="_blank"
           href="http://www.parismatch.com/Actu/Politique/Les-candidats-La-Republique-en-marche-face-aux-polemiques-1277444">
            <div class="col s12">
                <div class="card perso">
                    <div class="card-image">
                        <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/les-candidats-la-republique-en-marche-face-aux-polemiques-1277444/21367850-1-fre-FR/Les-candidats-La-Republique-en-marche-face-aux-polemiques.jpg">
                        <span class="card-title">POLITIQUE</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Les candidats La République en marche face aux polémiques</span>
                        <p class="chapo">Plusieurs candidats de La République en marche (LREM), rattrapés
                            par leur passé, font face à la polémique.</p>
                    </div>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/Les-candidats-La-Republique-en-marche-face-aux-polemiques-1277444">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Legislatives-les-ralliements-improbables-de-l-entre-deux-tours-1284332">
        <div class="col l7 s12" height="965px">
            <div class="card large-large">
                <div class="card-image">
                    <img src="http://resize-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/legislatives-les-ralliements-improbables-de-l-entre-deux-tours-1284332/21456038-5-fre-FR/Legislatives-les-ralliements-improbables-de-l-entre-deux-tours.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Les ralliements improbables de l'entre-deux-tours</span>
                    <div class="chapo">
                        <div>La défaite historique du Parti socialiste et le recul considérable de la droite
                            face à la République en marche rebattent les cartes. Entre les deux tours des
                            élections législatives, des alliances surprenantes se nouent.
                        </div>
                        <div id="chapo-ralliements-part2">
                            <ul>
                                <li class="li-point"><strong>Nord : un candidat FN soutient... la France
                                        insoumise</strong></li>
                                <li class="li-point"><strong>Somme : la candidate PS soutient le trublion
                                        Ruffin</strong></li>
                                <li class="li-point"><strong>Essonne : Hamon préfère la France insoumise à
                                        Valls</strong></li>
                                <li class="li-point"><strong>Yvelines : un suppléant PS préfère le vote
                                        blanc au vote En Marche!</strong></li>
                                <li class="li-point"><strong>Marseille : la suppléante de Mennucci n'est pas
                                        "en marche"</strong></li>
                                <li class="li-point"><strong>Deux-Sèvres : Royal préfère En Marche! à Batho,
                                        son ancienne porte-parole</strong></li>
                                <li class="li-point"><strong>Gironde : Une socialiste contre En
                                        Marche!</strong></li>
                                <li class="li-point"><strong>Dordogne : Le PS local roule avec la
                                        FI</strong></li>
                                <li class="li-point"><strong>Haute-Garonne : Des candidats FI
                                        omniprésents... et soutenus par certains PS</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Legislatives-les-ralliements-improbables-de-l-entre-deux-tours-1284332">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
</div>