<div class="line" id="line33">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Francois-Fillon-et-Alain-Juppe-en-visite-chez-Deezer-1236659">
        <div class="col s12">
            <div class="card large" id="card_dealos">
                <div class="card-image">
                    <img src="http://resize-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/francois-fillon-et-alain-juppe-en-visite-chez-deezer-1236659/20835377-1-fre-FR/Francois-Fillon-et-Alain-Juppe-en-visite-chez-Deezer.jpg"
                         id="img_dealos">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">"Rends l'argent" : François Fillon trollé chez Deezer</span>
                    <p class="chapo">Après l’annulation de sa visite à l’école 42, François Fillon s’est rendu mercredi matin à Deezer, accompagné d’Alain Juppé et de Nathalie Kosciusko-Morizet.</p>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/Francois-Fillon-et-Alain-Juppe-en-visite-chez-Deezer-1236659">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>