<div class="line" id="line38">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Economie/Les-riches-sont-ils-de-plus-en-plus-riches-1230215">
        <div class="col s12">
            <div class="card large card-panel hoverable" id="card_dealos">
                <div class="card-image">
                    <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/economie/les-riches-sont-ils-de-plus-en-plus-riches-1230215/20750891-1-fre-FR/Les-riches-sont-ils-de-plus-en-plus-riches.jpg"
                         id="img_dealos">
                    <span class="card-title">ECONOMIE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Les milliardaires français, toujours plus riches?</span>
                    <p class="chapo">Entre 2016 et 2017, la fortune des 15 Français les plus riches a augmenté de 14,3% selon nos calculs à partir des estimations du magazine «Forbes».</p>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Economie/Les-riches-sont-ils-de-plus-en-plus-riches-1230215">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>