<div class="line" id="line61">
                <a target="_blank"
                   href="http://www.parismatch.com/Actu/Politique/Remaniement-ministeriel-les-reactions-de-l-opposition-1290131">
                    <div class="col s12">
                        <div class="card large card-panel hoverable" id="card_dealos">
                            <div class="card-image">
                                <img src="http://resize-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/remaniement-ministeriel-les-reactions-de-l-opposition-1290131/21529604-1-fre-FR/Remaniement-ministeriel-les-reactions-de-l-opposition.jpg"
                                     id="img_dealos">
                                <span class="card-title">POLITIQUE</span>
                            </div>
                            <div class="card-content">
                                <span class="card-title">Remaniement ministériel : les réactions de l’opposition</span>
                                <p class="chapo">Dans le cadre de l’enquête ouverte sur les conditions d'emploi des
                                    assistants parlementaires européens du MoDem, cinq ministres ont quitté le nouveau
                                    gouvernement Macron. Les réactions de l’opposition ne se sont pas faites
                                    attendre.</p>
                                <div class="card-action">
                                    <a target="_blank" class="media blue-text"
                                       href="http://www.parismatch.com/Actu/Politique/Remaniement-ministeriel-les-reactions-de-l-opposition-1290131">Paris
                                        Match</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>