<div class="line" id="line80">
<a target="_blank"
   href="https://usbeketrica.com/article/eclairer-le-futur-avec-les-theories-du-chaos">
    <div class="col s12 l7">
        <div class="card large card-panel hoverable">
            <div class="card-image">
                <img src="https://static.usbeketrica.com/images/thumb_840xh/5a8d48bf2ba2b.jpg">
                <span class="card-title">FUTUR</span>
            </div>
            <div class="card-content">
                <span class="card-title">« C'est parce qu'on est dans une phase chaotique qu'on n'a jamais eu autant de pouvoir »</span>
                <p class="chapo">Le futurologue et globe-trotter Bruno Marion s'intéresse de très près aux théories du chaos. « Il ne s’agit plus de connaître ou non le futur, mais de comprendre la complexité du système et d’en expliciter la logique le plus simplement possible », écrit sur son site celui qu'on surnomme « le moine futuriste ».</p>
            </div>
            <div class="card-action">
                <a target="_blank" class="media blue-text"
                   href="https://usbeketrica.com/article/eclairer-le-futur-avec-les-theories-du-chaos">Usbek & Rica</a>
            </div>
        </div>
    </div>
</a>
<a target="_blank"
   href="http://lesarpenteurs.fr/en-chine-un-scoring-comportemental-pour-controler-la-vie-des-citoyens/">
    <div class="col s12 l5">
        <div class="card large card-panel hoverable">
            <div class="card-image">
                <img src="../../public/img/scoring.jpg">
                <span class="card-title">FUTUR</span>
            </div>
            <div class="card-content">
                <span class="card-title">En Chine, un scoring comportemental pour contrôler la vie des citoyens</span>
                <p>La Chine prévoit d’instaurer un score personnel pour chacun de ses citoyens d’ici 2020. Il évoluera en fonction des actions dans la vie réelle et sur Internet. Un programme pilote a déjà été lancé sur 8 entreprises.</p>
            </div>
            <div class="card-action">
                <a target="_blank" class="media blue-text"
                   href="http://lesarpenteurs.fr/en-chine-un-scoring-comportemental-pour-controler-la-vie-des-citoyens/">Usbek & Rica</a>
            </div>
        </div>
    </div>
</a>
</div>