<div class="line" id="line62">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Lenaick-Adam-le-bal-d-un-debutant-a-l-Assemblee-nationale-1295261">
        <div class="col s12 l8">
            <div class="card large">
                <div class="card-image">
                    <img src="http://resize1-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/lenaick-adam-le-bal-d-un-debutant-a-l-assemblee-nationale-1295261/21595931-1-fre-FR/Lenaick-Adam-le-bal-d-un-debutant-a-l-Assemblee-nationale.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Lénaïck Adam, le bal d'un débutant à l'Assemblée nationale</span>
                    <p class="chapo">A 25 ans, le député LREM de la 2ème circonscription de Guyane est l’un
                        des benjamins de l’Assemblée. Paris Match l’a accompagné à sa rentrée dans
                        l’Hémicycle.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Lenaick-Adam-le-bal-d-un-debutant-a-l-Assemblee-nationale-1295261">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Benoit-Hamon-le-kebab-et-la-politique-1296911">
        <div class="col s12 l4">
            <div class="card large">
                <div class="card-image">
                    <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/benoit-hamon-le-kebab-et-la-politique-1296911/21620438-1-fre-FR/Benoit-Hamon-le-kebab-et-la-politique.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Benoît Hamon, le kebab et la politique</span>
                    <p>Sur Twitter, la photo du kebab nocturne de Benoît Hamon a été plus partagée que le
                        portrait officiel d’Emmanuel Macron. Tout un symbole pour le candidat socialiste à
                        la présidentielle qui lance ce samedi son propre mouvement politique.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Benoit-Hamon-le-kebab-et-la-politique-1296911">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
</div>