<div class="line" id="line11">
    <a target="_blank"
       href="http://www.rfi.fr/france/20170714-escadrille-fayette-aviateurs-americains-armee-premiere-guerre-mondiale">
        <div class="col s12 l8">
            <div class="card large">
                <div class="card-image">
                    <img src="http://scd.rfi.fr/sites/filesrfi/imagecache/rfi_16x9_1024_578/sites/images.rfi.fr/files/aef_image/gettyimages-186699861_0.jpg">
                    <span class="card-title">HISTOIRE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Grande Guerre: l'escadrille La Fayette, des Américains dans l'aviation française</span>
                    <p class="chapo">Ils étaient l’avant-garde américaine de la Grande Guerre. Avant le
                        débarquement du contingent des «Sammies» à Saint-Nazaire en 1917, 267 Américains se
                        sont engagés volontairement dans l’aviation française dès 1916 dans l’escadrille La
                        Fayette.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.rfi.fr/france/20170714-escadrille-fayette-aviateurs-americains-armee-premiere-guerre-mondiale">RFI</a>
                </div>
            </div>
        </div>
    </a>
    <a target="_blank"
       href="http://www.rfi.fr/asie-pacifique/20170713-pakistan-clan-sharif-menace-police-caracteres-calibri">
        <div class="col s12 l4">
            <div class="card large">
                <div class="card-image">
                    <img src="http://scd.rfi.fr/sites/filesrfi/dynimagecache/0/58/3500/1977/1024/578/sites/images.rfi.fr/files/aef_image/2013-10-23T212858Z_218868636_GM1E9AO0F4101_RTRMADP_3_USA-PAKISTAN-DRONES.JPG">
                    <span class="card-title">INTERNATIONAL</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Pakistan: le clan Sharif menacé par la police de caractères Calibri</span>
                    <p>Dans l'enquête faisant suite aux Panama Papers, et alors que le Premier ministre et
                        sa fille sont déjà embourbés dans un scandale de corruption, la défense de Nawaz
                        Sharif a présenté des documents datés de 2006, mais utilisant une police de
                        caractères Microsoft commercialisée en 2007.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.rfi.fr/asie-pacifique/20170713-pakistan-clan-sharif-menace-police-caracteres-calibri">RFI</a>
                </div>
            </div>
        </div>
    </a>
</div>