<div class="line" id="line28">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Une-partie-des-Jeunes-avec-Fillon-desertent-la-campagne-1202825">
        <div class="col s12 l6">
            <div class="card large">
                <div class="card-image">
                    <img src="http://resize-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/une-partie-des-jeunes-avec-fillon-desertent-la-campagne-1202825/20383229-1-fre-FR/Une-partie-des-Jeunes-avec-Fillon-desertent-la-campagne.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Une partie des “Jeunes avec Fillon” déserte la campagne</span>
                    <p class="chapo">L’hémorragie continue dans l’équipe de campagne du candidat des Républicains, François Fillon. La plupart des militants issus des camps de Bruno Le Maire et Alain Juppé ont déserté le collectif des «Jeunes avec Fillon».</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Une-partie-des-Jeunes-avec-Fillon-desertent-la-campagne-1202825">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Francis-Lalanne-candidat-aux-legislatives-etre-poete-ne-nous-exempte-pas-du-courage-1202489">
        <div class="col s12 l6">
            <div class="card large">
                <div class="card-image">
                    <img src="http://resize3-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/francis-lalanne-candidat-aux-legislatives-etre-poete-ne-nous-exempte-pas-du-courage-1202489/20378930-1-fre-FR/Francis-Lalanne-candidat-aux-legislatives-etre-poete-ne-nous-exempte-pas-du-courage.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Candidat aux législatives, Francis Lalanne attaque Macron et Fillon</span>
                    <p>Le chanteur Francis Lalanne s’est engagé dans la campagne des législatives à la tête d’un mouvement écocitoyen, co-fondé avec l’homme politique et écrivain Jean-Marc Governatori et baptisé «100%». Entretien.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Francis-Lalanne-candidat-aux-legislatives-etre-poete-ne-nous-exempte-pas-du-courage-1202489">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
</div>