<div class="line" id="line72">
    <a target="_blank"
       href="http://www.rfi.fr/asie-pacifique/20170730-philippines-narcotrafiquant-maire-abattu-police-drogue-parojinog-duterte-oza">
        <div class="col s12">
            <div class="card large" id="card_dealos">
                <div class="card-image">
                    <img src="http://scd.rfi.fr/sites/filesrfi/dynimagecache/0/9/620/350/1024/578/sites/images.rfi.fr/files/aef_image/parojinogs-620x422_0.jpg"
                         id="img_dealos">
                    <span class="card-title">INTERNATIONAL</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Philippines: soupçonné d’être un narcotrafiquant, un maire abattu par la police</span>
                    <p class="chapo">Un élu local, dénoncé par le président Duterte en 2016 comme
                        narcotrafiquant, a été abattu à son domicile ce dimanche 30 juillet par la police
                        philippine, avec ses gardes du corps et une partie de ses proches. Des armes
                        d’assaut et de la méthamphétamine ont été retrouvées dans les résidences du
                        clan.</p>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.rfi.fr/asie-pacifique/20170730-philippines-narcotrafiquant-maire-abattu-police-drogue-parojinog-duterte-oza">RFI</a>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>