<div class="line" id="line23">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Dominique-de-Villepin-Toute-l-equation-d-Emmanuel-Macron-est-a-construire-1184057">
        <div class="col s12 l6">
            <div class="card large">
                <div class="card-image">
                    <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/dominique-de-villepin-toute-l-equation-d-emmanuel-macron-est-a-construire-1184057/20150597-1-fre-FR/Dominique-de-Villepin-Toute-l-equation-d-Emmanuel-Macron-est-a-construire.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Hamon, Macron... Quand Villepin commente la campagne</span>
                    <p class="chapo">Invité de SciencesPoTV ce mercredi, l’ancien Premier Ministre a réitéré son éloge d’Emmanuel Macron. Plus surprenant, il a aussi approuvé la démarche de Benoît Hamon.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Dominique-de-Villepin-Toute-l-equation-d-Emmanuel-Macron-est-a-construire-1184057">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Affaire-Theo-les-politiques-prennent-position-1183829">
        <div class="col s12 l6">
            <div class="card large">
                <div class="card-image">
                    <img src="http://resize1-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/affaire-theo-les-politiques-prennent-position-1183829/20147237-1-fre-FR/Affaire-Theo-les-politiques-prennent-position.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Affaire Théo : les politiques prennent position</span>
                    <p>Après l’arrestation brutale et le viol présumé de Théo par des policiers à Aulnay-sous-Bois, les personnalités politiques ont apporté quasi-unanimement leur soutien au jeune homme.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Affaire-Theo-les-politiques-prennent-position-1183829">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
</div>