<div class="line" id="line41">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Le-Pen-a-Paris-un-meeting-chahute-et-a-droite-toute-1235330">
        <div class="col s12">
            <div class="card large" id="card_dealos">
                <div class="card-image">
                    <img src="http://resize1-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/le-pen-a-paris-un-meeting-chahute-et-a-droite-toute-1235330/20817443-1-fre-FR/Le-Pen-a-Paris-un-meeting-chahute-et-a-droite-toute.jpg"
                         id="img_dealos">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Le Pen à Paris : un meeting chahuté et à droite toute</span>
                    <p class="chapo">Le meeting de Marine Le Pen au Zénith de Paris, axé sur la dimension identitaire et nationaliste de sa campagne, a provoqué la colère de militants antifascistes et de Femen, qui l’ont interrompu à deux reprises.</p>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/Le-Pen-a-Paris-un-meeting-chahute-et-a-droite-toute-1235330">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>