<div class="line" id="line25">
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Le-droit-de-vote-un-privilege-reserve-aux-valides-1184966">
        <div class="col l7 s12" height="965px">
            <div class="card large-large card-panel hoverable">
                <div class="card-image">
                    <img src="http://resize-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/le-droit-de-vote-un-privilege-reserve-aux-valides-1184966/20162495-1-fre-FR/Le-droit-de-vote-un-privilege-reserve-aux-valides.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Le droit de vote, un privilège réservé aux valides?</span>
                    <div class="chapo">
                        En France, les majeurs sous tutelle peuvent être privés de leur droit de vote sur simple décision du juge. Une situation que dénoncent la CNCDH et les associations de défense des droits des personnes handicapées.
                        <div id="chapo-une-macron-part2">
                            <blockquote>
                                «Il y a 73 ans, des gens se sont battus pour le droit de vote des femmes. En 2017, on se bat pour le droit de vote des handicapés.»
                            </blockquote>
                            <span>Luc Gateau, président de l’UNAPEI, père d’une fille de 26 ans, atteinte de trisomie 21.</span>
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Le-droit-de-vote-un-privilege-reserve-aux-valides-1184966">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
    <div class="col s12 l5" height="965px">
        <a target="_blank"
           href="http://www.parismatch.com/Actu/Politique/Benoit-Hamon-parviendra-t-il-a-interdire-les-perturbateurs-endocriniens-1197137">
            <div class="col s12">
                <div class="card card-panel hoverable">
                    <div class="card-image">
                        <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/benoit-hamon-parviendra-t-il-a-interdire-les-perturbateurs-endocriniens-1197137/20312243-1-fre-FR/Benoit-Hamon-parviendra-t-il-a-interdire-les-perturbateurs-endocriniens.jpg">
                        <span class="card-title">POLITIQUE</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Benoît Hamon parviendra-t-il à interdire les perturbateurs endocriniens?</span>
                        <p class="chapo">En déplacement en Seine-et-Marne le 13 février, Benoît Hamon a présenté un «plan pour une alimentation de qualité» qui prévoit d'interdire les perturbateurs endocriniens. Le candidat du Parti socialiste devra composer avec les lobbies industriels et les réticences des syndicats agricoles majoritaires, qui voient dans cette interdiction un risque de manque à gagner.</p>
                    </div>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/Benoit-Hamon-parviendra-t-il-a-interdire-les-perturbateurs-endocriniens-1197137">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </a>
        <a target="_blank"
           href="http://www.parismatch.com/Actu/Societe/Au-rassemblement-contre-la-corruption-en-politique-le-retour-de-Nuit-debout-1192832">
            <div class="col s12">
                <div class="card card-panel hoverable">
                    <div class="card-image">
                        <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/societe/au-rassemblement-contre-la-corruption-en-politique-le-retour-de-nuit-debout-1192832/20260286-1-fre-FR/Au-rassemblement-contre-la-corruption-en-politique-le-retour-de-Nuit-debout.jpg">
                        <span class="card-title">POLITIQUE</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Au rassemblement contre la corruption en politique, le retour de Nuit debout</span>
                        <p class="chapo">Dimanche après-midi, plusieurs centaines de personnes étaient rassemblées place de la République, à Paris, pour manifester contre la corruption des élus.</p>
                    </div>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Societe/Au-rassemblement-contre-la-corruption-en-politique-le-retour-de-Nuit-debout-1192832">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>