<div id="line79">
    <a target="_blank"
       href="http://lesarpenteurs.fr/des-hologrammes-au-musee/#.Wj0f3YRKmOY.twitter">
        <div class="col s12 l5">
            <div class="card large">
                <div class="card-image large">
                    <img src="/public/img/holo.png">
                    <span class="card-title">FUTUR</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Des hologrammes au musée</span>
                    <p class="chapo">Le musée Eugène-Delacroix à Paris a commandé pour avril 2018 un hologramme du triptyque de Saint-Sulpice. Ce projet pourrait marquer un tournant dans l’approche muséale de l’oeuvre d’art.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://lesarpenteurs.fr/des-hologrammes-au-musee/#.Wj0f3YRKmOY.twitter">Les
                        Arpenteurs (Usbek & Rica)</a>
                </div>
            </div>
        </div>
    </a>
    <a target="_blank" href="https://madame.lefigaro.fr/societe/francine-leca-pionniere-de-la-chirurgie-cardiaque-enfants-necker-en-france-261217-146151">
        <div class="col s12 l7">
            <div class="card large">
                <div class="card-image large">
                    <img src="/public/img/leca.png">
                    <span class="card-title">SOCIÉTÉ</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Francine Leca, pionnière de la chirurgie cardiaque en France</span>
                    <p>Première femme chirurgien cardiaque en France, elle a également fondé une association pour soigner les enfants pauvres atteints de malformations cardiaques. À près de 80 ans, Francine Leca continue de sauver des vies. Rencontre.</p>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="https://madame.lefigaro.fr/societe/francine-leca-pionniere-de-la-chirurgie-cardiaque-enfants-necker-en-france-261217-146151">Le Figaro</a>
                </div>
            </div>
        </div>
    </a>
</div>