<div class="line" id="line59">
    <div class="col s12 l5" height="965px">
        <a target="_blank"
           href="http://www.parismatch.com/Actu/Politique/Les-meilleurs-tweets-de-Benoit-Hamon-1171076">
            <div class="col s12">
                <div class="card perso">
                    <div class="card-image">
                        <img src="http://resize-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/les-meilleurs-tweets-de-benoit-hamon-1171076/19007981-4-fre-FR/Les-meilleurs-tweets-de-Benoit-Hamon.jpg">
                        <span class="card-title">POLITIQUE</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Quand Benoît Hamon était le "Monsieur Petites Blagues" de Twitter</span>
                        <p class="chapo">Actif sur le réseau depuis 2008, le candidat a laissé les archives de son compte en l'état, et elles recèlent quelques pépites.</p>
                        <div class="card-action">
                            <a target="_blank" class="media blue-text"
                               href="http://www.parismatch.com/Actu/Politique/Les-meilleurs-tweets-de-Benoit-Hamon-1171076">Paris
                                Match</a>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a target="_blank"
           href="http://www.parismatch.com/Actu/Politique/Jean-Glavany-Si-Manuel-Valls-est-battu-dimanche-prochain-c-est-la-mort-programmee-du-PS-1170893">
            <div class="col s12">
                <div class="card perso">
                    <div class="card-image">
                        <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/jean-glavany-si-manuel-valls-est-battu-dimanche-prochain-c-est-la-mort-programmee-du-ps-1170893/19004821-1-fre-FR/Jean-Glavany-Si-Manuel-Valls-est-battu-dimanche-prochain-c-est-la-mort-programmee-du-PS.jpg">
                        <span class="card-title">POLITIQUE</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Jean Glavany : "Si Manuel Valls est battu, c’est la mort programmée du PS"</span>
                        <p class="chapo">L’ancien ministre et député des Hautes-Pyrénées Jean Glavany a affirmé son soutien à Manuel Valls contre vents et marées. Si le candidat n'est pas favori pour le second tour face à Benoît Hamon, Jean Glavany, lui, reste vallsiste jusqu’au bout.</p>
                    </div>
                    <div class="card-action">
                        <a target="_blank" class="media blue-text"
                           href="http://www.parismatch.com/Actu/Politique/Jean-Glavany-Si-Manuel-Valls-est-battu-dimanche-prochain-c-est-la-mort-programmee-du-PS-1170893">Paris
                            Match</a>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <a target="_blank"
       href="http://www.parismatch.com/Actu/Politique/Valls-Hamon-la-guerre-continue-1172000">
        <div class="col l7 s12" id="para_assist-parl">
            <div class="card large-large">
                <div class="card-image">
                    <img src="http://resize2-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/politique/valls-hamon-la-guerre-continue-1172000/19018391-1-fre-FR/Valls-Hamon-la-guerre-continue.jpg">
                    <span class="card-title">POLITIQUE</span>
                </div>
                <div class="card-content">
                    <span class="card-title">Valls-Hamon : dans les médias, la guerre continue</span>
                    <div class="chapo">
                        <div>
                            La dernière semaine de la primaire de la gauche commence fort pour les candidats. Entre les attaques de Manuel Valls, lundi soir sur TF1, et la riposte de Benoît Hamon sur RFI et Europe 1 mardi matin, l'entre-deux-tours tourne au combat de coqs.
                        </div>
                        <div>
                            <iframe width="560" height="315" scrolling="no" frameborder="0" allowfullscreen src="http://videos-aggregator.ladtech.fr/jwplayer/embed/b63cacd707e013d59e1e7846820f059f3af36b4a/140712946619543556081446100604?referer=aHR0cDovL3d3dy5wYXJpc21hdGNoLmNvbS9BY3R1L1BvbGl0aXF1ZS9WYWxscy1IYW1vbi1sYS1ndWVycmUtY29udGludWUtMTE3MjAwMA%3D%3D&external"></iframe>
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <a target="_blank" class="media blue-text"
                       href="http://www.parismatch.com/Actu/Politique/Valls-Hamon-la-guerre-continue-1172000">Paris
                        Match</a>
                </div>
            </div>
        </div>
    </a>
</div>