<link rel="stylesheet" href="terminal.css">

<template>
  <div id="terminal">
    <p class="hidden">
      <span class="prompt"><content></content></span>
      <span id="terminalInput" contenteditable="true" class="input"><content></content></span>
    </p>
  </div>
</template>
<script src="terminal.js"></script>
